<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="Фильтр" [(ngModel)]="fileName" />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="fileName = ''"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th id="file">Имя файла</th>
            <th id="code">Размер</th>
            <th id="d">Дата</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let file of data?.files | filterFile: fileName"
            [ngClass]="{ disabled: file.disabled, underline: file.selected }"
            (click)="selectFile(file)"
          >
            <td>{{ file.name }}</td>
            <td>{{ file.size / 1024 | number }} кб.</td>
            <td>{{ file.birthtime | date: 'dd.MM.yyyy HH:mm' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button
    [disabled]="getSelectedFiles()?.length === 0"
    mat-button
    [mat-dialog-close]="getSelectedFiles()"
  >
    Присоединить
  </button>
  <button mat-button [mat-dialog-close]="false">Отмена</button>
</div>
