tbody tr {
  cursor: pointer;
  font-size: 14px;
}
.disabled {
  background: lightgray;
  color: black;
  cursor: default !important;
}
.disabled:hover {
  background: lightgray;
  color: black;
}

.underline {
  text-decoration: underline;
}
