<mat-card>
  <div class="container">
    <form [formGroup]="opisForm" class="full-width">
      <div class="row mb-3" *ngIf="!viewOnly">
        <div class="ml-3">
          <mat-form-field>
            <input
              autocomplete="nope"
              name="pub_date"
              id="pub_date"
              matInput
              [matDatepicker]="pickerpub_date"
              placeholder="Дата публикации"
              formControlName="pub_date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerpub_date"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerpub_date startView="year"></mat-datepicker>
            <button
              [disabled]="viewOnly"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              [disabled]="viewOnly"
              (click)="resetPub_date()"
            >
              x
            </button>
          </mat-form-field>
          <mat-slide-toggle
            [style.margin]="'15px 15px 15px 15px'"
            formControlName="published"
            [disabled]="viewOnly"
            (change)="onPubToggleChange()"
          >
            Публиковать
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="fond"
              id="fond"
              matInput
              placeholder="Фонд"
              formControlName="fond"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="opis_name"
              id="opis_name"
              matInput
              placeholder="Опись"
              formControlName="opis_name"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              step="0.1"
              autocomplete="nope"
              name="trudindex"
              id="trudindex"
              lang="en"
              min="0"
              matInput
              placeholder="Индекс трудоемкости"
              formControlName="trudindex"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              step="0.1"
              autocomplete="nope"
              name="trudindex_scann"
              id="trudindex_scann"
              lang="en"
              min="0"
              matInput
              placeholder="Трудоемкость сканирования"
              formControlName="trudindex_scann"
            />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="name"
              id="name"
              rows="2"
              [maxlength]="opis_width['name']"
              matInput
              placeholder="Название"
              formControlName="name"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.name?.length }} /
              {{ opis_width['name'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="form_date"
              id="form_date"
              rows="2"
              [maxlength]="opis_width['form_date']"
              matInput
              placeholder="Дата формирования (текст)"
              formControlName="form_date"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.form_date?.length }} /
              {{ opis_width['form_date'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="doc_begin"
              id="doc_begin"
              matInput
              placeholder="Даты документов, от"
              formControlName="doc_begin"
              max="9999"
              [maxlength]="opis_width['doc_begin']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="doc_end "
              id="doc_end "
              matInput
              placeholder="Даты документов, до"
              formControlName="doc_end"
              max="9999"
              [maxlength]="opis_width['doc_end']"
            />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="storage_capacity"
              id="storage_capacity"
              rows="2"
              matInput
              placeholder="Объем и носитель хранения"
              formControlName="storage_capacity"
              [maxLength]="opis_width['storage_capacity']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.storage_capacity?.length }} /
              {{ opis_width['storage_capacity'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="creators_name"
              id="creators_name"
              rows="2"
              matInput
              placeholder="Имя создателя (ей)"
              formControlName="creators_name"
              [maxLength]="opis_width['creators_name']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.creators_name?.length }} /
              {{ opis_width['creators_name'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="admin_biog_history"
              id="admin_biog_history"
              rows="2"
              matInput
              placeholder="Административная/Биографическая история"
              formControlName="admin_biog_history"
              [maxLength]="opis_width['admin_biog_history']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.admin_biog_history?.length }} /
              {{ opis_width['admin_biog_history'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="arch_history"
              id="arch_history"
              rows="2"
              matInput
              placeholder="Архивная история"
              formControlName="arch_history"
              [maxLength]="opis_width['arch_history']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.arch_history?.length }} /
              {{ opis_width['arch_history'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="donation_source"
              id="donation_source"
              rows="2"
              matInput
              placeholder="Непосредственный источник комплектования или перевод"
              formControlName="donation_source"
              [maxLength]="opis_width['donation_source']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.donation_source?.length }} /
              {{ opis_width['donation_source'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="description"
              id="description"
              rows="2"
              matInput
              placeholder="Рамки и содержание"
              formControlName="description"
              [maxLength]="opis_width['description']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.description?.length }} /
              {{ opis_width['description'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="storage_org"
              id="storage_org"
              rows="2"
              [maxlength]="opis_width['storage_org']"
              matInput
              placeholder="Система расположения и организации материала"
              formControlName="storage_org"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.storage_org?.length }} /
              {{ opis_width['storage_org'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="access_lim"
              id="access_lim"
              rows="2"
              [maxlength]="opis_width['access_lim']"
              matInput
              placeholder="Ограничения к доступу"
              formControlName="access_lim"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.access_lim?.length }} /
              {{ opis_width['access_lim'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="help"
              id="help"
              rows="2"
              matInput
              placeholder="Научно-справочный аппарат"
              formControlName="help"
              [maxLength]="opis_width['help']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.help?.length }} /
              {{ opis_width['help'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="archivist_rmk"
              id="archivist_rmk"
              rows="2"
              matInput
              placeholder="Примечания архивиста"
              formControlName="archivist_rmk"
              [maxLength]="opis_width['archivist_rmk']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.archivist_rmk?.length }} /
              {{ opis_width['archivist_rmk'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="descrip_date"
              id="descrip_date"
              rows="2"
              matInput
              placeholder="Дата(ы) описания"
              formControlName="descrip_date"
              [maxLength]="opis_width['descrip_date']"
            ></textarea>
            <mat-hint align="end"
              >{{ opisForm?.value?.descrip_date?.length }} /
              {{ opis_width['descrip_date'] }}</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="selectedArchivefolderfiles?.length > 0">
        <div
          class="col-md-6 col-lg-4 col-xl-4 col-12"
          *ngFor="
            let selectedArchivefolderfile of selectedArchivefolderfiles;
            let i = index
          "
          [style.margin-top]="'5px'"
        >
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="selectedArchivefolderfile.checkToDel == false"
          >
            <div ngbDropdown>
              <a
                class="float-right dropdown-toggle download"
                id="id02"
                ngbDropdownToggle
                ><small>{{
                  selectedArchivefolderfile.opisfile.filename
                }}</small></a
              >
              <div
                class="dropdown-menu"
                aria-labelledby="id02"
                ngbDropdownMenu
                [style.min-width]="'100px'"
              >
                <a
                  class="dropdown-item"
                  (click)="
                    onDownloadArchivefolderfile(selectedArchivefolderfile?.id)
                  "
                >
                  Скачать
                </a>
                <a
                  class="dropdown-item"
                  (click)="
                    onShowImg(
                      selectedArchivefolderfile?.id,
                      selectedArchivefolderfile
                    )
                  "
                  *ngIf="
                    globalService.isPdftype(
                      selectedArchivefolderfile.opisfile.filename
                    )
                  "
                >
                  Открыть
                </a>
                <a
                  class="dropdown-item btn disabled"
                  *ngIf="
                    !globalService.isPdftype(
                      selectedArchivefolderfile.opisfile.filename
                    )
                  "
                >
                  Открыть
                </a>
                <a
                  class="dropdown-item"
                  (click)="copyFilename(selectedArchivefolderfile)"
                >
                  Скопировать название файла
                </a>
                <a
                  class="dropdown-item"
                  *ngIf="!viewOnly"
                  (click)="
                    onRenameFile(
                      selectedArchivefolderfile?.id,
                      selectedArchivefolderfile.opisfile.filename
                    )
                  "
                >
                  Переименовать
                </a>
              </div>
            </div>
            <span
              class="badge badge-light badge-pill"
              (click)="toggleCheckToDel(i)"
              *ngIf="!viewOnly"
              matTooltip="Пометить на удаление"
            >
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
          </div>
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="selectedArchivefolderfile.checkToDel == true"
            [style.text-decoration]="'line-through'"
          >
            <span class="download">{{
              selectedArchivefolderfile.opisfile.filename
            }}</span>
            <span
              class="badge badge-light badge-pill"
              (click)="toggleCheckToDel(i)"
              matTooltip="Снять пометку на удаление"
            >
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div
          class="dropzone"
          appFiledrop
          (click)="onOpenFilesInput()"
          (filesChangeEmiter)="onFilesChange($event)"
          [allowed_extensions]="allowedExtensions"
        >
          <div class="text-wrapper">
            <div class="centered">
              <p>Для загрузки доступны:</p>
              <p>
                *.jpg, *.jpeg, *.png, *.bmp, *.gif, *.pdf, *.tiff, *.doc,
                *.docx, *.xls, *.xlsx, *.csv
              </p>
            </div>
          </div>
        </div>
        <input
          type="file"
          accept=".jpg, .png, .gif, .bmp', .jpeg, .pdf, .tiff, .tif, .doc, .docx, .csv, .JPG, .PNG, .GIF, .BMP', .JPEG, .PDF, .TIFF, .TIF, .DOC, .DOCX, .CSV, .xls, .xlsx, .XLS, .XLSX"
          multiple
          class="form-control"
          placeholder=""
          (change)="onFilesChangeInput($event)"
          [style.display]="'none'"
          #filesInput
        />
      </div>
      <div class="row" *ngIf="files?.length > 0">
        <div
          class="col-md-8 col-lg-8 col-xl-8 col-12"
          [style.margin-bottom]="'5px'"
        >
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let file of files; let i = index"
            >
              {{ file.name }}
              <span
                class="badge badge-danger badge-pill"
                (click)="onDelFileById(i)"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </li>
          </ul>
        </div>
        <div
          class="col-md-4 col-lg-4 col-xl-4 col-12"
          [style.margin-bottom]="'10px'"
        >
          <button
            matTooltip="Очистить список"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDelFiles()"
          >
            <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="row mt-3" *ngIf="intType === 'editdoc'">
        <div class="col-12">
          <a class="download" (click)="onLinkOpis()"
            ><small>ПЕРЕЙТИ К ДЕЛАМ ОПИСИ</small></a
          >
        </div>
      </div>
      <hr />
      <div class="col-12" *ngIf="intType !== 'myprofile'">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSaveOpisForm()"
          [disabled]="opisForm.invalid"
        >
          Сохранить
        </button>
        <button
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          class="btn-pict"
          matTooltip="Удалить опись"
          type="button"
          mat-raised-button
          [disabled]="viewOnly"
          color="warn"
          (click)="onDelOpis()"
          [style.margin-left]="'5px'"
          *ngIf="intType === 'editdoc'"
        >
          <i class="fa fa-fw fa-ban"></i>
        </button>
        <button
          class="btn-pict float-right"
          matTooltip="Сохранить и создать следующую запись"
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSaveOpisForm(true)"
          [disabled]="opisForm.invalid"
          [style.margin-left]="'5px'"
        >
          +1
        </button>
      </div>
    </form>
  </div>
</mat-card>
