<div class="dialog-base">
  <div mat-dialog-content>
    <form [formGroup]="marchiveForm" class="full-width">
      <div class="row">
        <div class="col-md-12 col-lg-7 col-xl-7 col-12">
          <mat-form-field class="full-width">
            <mat-select
              class="full-width"
              placeholder="Опись*"
              formControlName="opis_id"
            >
              <mat-option
                *ngFor="let opisItem of data?.opisItems"
                [value]="opisItem.id"
              >
                Фонд = {{ opisItem.fond }}. Опись = {{ opisItem.opis_name }}.
                Индекс = {{ opisItem.trudindex | number }}.
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-5 col-xl-5 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="delo"
              id="delo"
              min="0"
              matInput
              placeholder="Дело*"
              formControlName="delo"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="full-width">
            <input
              matInput
              autocomplete="nope"
              name="name"
              id="name"
              placeholder="Название"
              formControlName="name"
              [maxLength]="archivefolder_width['name']"
            />
            <mat-hint align="end"
              >{{ marchiveForm?.value?.name?.length }} /
              {{ archivefolder_width['name'] }}</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button [disabled]="marchiveForm.invalid" (click)="onSave()">
      Сохранить
    </button>
    <button mat-button [mat-dialog-close]="false">Отмена</button>
  </div>
</div>
