<div class="lightbox-wrap" *ngIf="showLightbox">
  <div class="lightbox">
    <div></div>
    <div class="tools">
      <div
        *ngFor="let customEvent of customEvents"
        class="tools-element active"
        (click)="onCustomEvent(customEvent.name)"
        [innerHtml]="customEvent.icon"
        [title]="customEvent.caption"
      ></div>
      <ng-container
        *ngIf="
          images[currentIndex].type == null ||
          images[currentIndex].type === 'image'
        "
      >
        <div
          class="tools-element"
          (click)="onZoom(false)"
          [ngClass]="{ active: scale > 1 }"
        >
          <i class="fa fa-search-minus fa-2x" aria-hidden="true"></i>
        </div>
        <div class="tools-element active" (click)="onZoom(true)">
          <i class="fa fa-search-plus fa-2x" aria-hidden="true"></i>
        </div>
        <ng-container *ngIf="showRotate">
          <div class="tools-element active" (click)="onorientation(true)">
            <i
              class="fa fa-undo fa-2x"
              aria-hidden="true"
              [title]="'Поворот против часовой стрелки (L)'"
            ></i>
          </div>
          <div class="tools-element active" (click)="onorientation()">
            <i
              class="fa fa-repeat fa-2x"
              aria-hidden="true"
              [title]="'Поворот по часовой стрелке (R)'"
            ></i>
          </div>
        </ng-container>
      </ng-container>
      <div class="tools-element active" (click)="onClose()">
        <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
      </div>
    </div>
    <div></div>
    <div class="previous">
      <div class="active" (click)="onPrevious()" *ngIf="currentIndex > 0">
        <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      </div>
    </div>
    <div class="image">
      <ng-container *ngIf="images[currentIndex] != null" @fade>
        <ng-container *ngIf="images[currentIndex].type === 'video'">
          <video
            class="v-center"
            [src]="images[currentIndex].src"
            [style.max-width]="'100%'"
            [style.max-height]="'100%'"
            controls
            controlsList="nodownload"
          ></video>
        </ng-container>
        <ng-container *ngIf="images[currentIndex].type === 'audio'">
          <audio
            [style.max-width]="'100%'"
            [style.max-height]="'100%'"
            controls
          >
            <source
              [src]="images[currentIndex].src"
              type="audio/{{ images[currentIndex].ext }}"
            />
          </audio>
        </ng-container>
        <ng-container
          *ngIf="
            images[currentIndex].type == null ||
            images[currentIndex].type === 'image'
          "
        >
          <img
            class="center"
            [ngClass]="{
              'r-0': !images[currentIndex].orientation,
              'r-90': images[currentIndex].orientation === 1,
              'r-180': images[currentIndex].orientation === 2,
              'r-270': images[currentIndex].orientation === 3
            }"
            @fade
            *ngIf="scale === 1 && showImg === true"
            [src]="images[currentIndex].src"
            [alt]="images[currentIndex]?.caption"
            [style.max-width]="'100%'"
            [style.max-height]="'100%'"
            [style.width]="'auto'"
            [style.height]="'auto'"
          />
          <img
            @fade
            #imgBlock
            *ngIf="scale > 1 && showImg === true"
            [src]="images[currentIndex].src"
            [alt]="images[currentIndex]?.caption"
            [style.max-width]="'100%'"
            [style.max-height]="'100%'"
            [style.width]="'auto'"
            [style.transform]="
              'scale(' +
              scale +
              ') rotate(' +
              90 *
                (images[currentIndex].orientation
                  ? images[currentIndex].orientation
                  : 0) +
              'deg)'
            "
            [style.position]="'absolute'"
            [style.cursor]="'move'"
          />
        </ng-container>
      </ng-container>
    </div>
    <div class="next">
      <div
        class="active"
        (click)="onNext()"
        *ngIf="currentIndex + 1 < images.length"
      >
        <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
      </div>
    </div>
    <div></div>
    <div class="info">
      <div *ngIf="images[currentIndex] != null">
        <p>{{ images[currentIndex].caption }}</p>
      </div>
    </div>
    <div></div>
  </div>
</div>
