.lightbox-wrap {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: RGBA(0, 0, 0, 0.8);
  z-index: 10;

  .lightbox {
    color: gray;
    z-index: 11;
    display: grid;
    display: -ms-grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 50px 1fr 50px;
    -ms-grid-columns: 50px 1fr 50px;
    -ms-grid-rows: 60px 1fr 60px;
    grid-template-rows: 60px 1fr 60px;
    -ms-grid-columns: 60px 1fr 60px;

    div:nth-child(1) {
      grid-column: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      grid-row: 1;
      z-index: 11;
    }

    div:nth-child(2) {
      grid-column: 2;
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      grid-row: 1;
      z-index: 11;
    }

    div:nth-child(3) {
      grid-column: 3;
      -ms-grid-column: 3;
      -ms-grid-row: 1;
      grid-row: 1;
      z-index: 11;
    }

    div:nth-child(4) {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 2;
      grid-row: 2;
      z-index: 11;
    }

    div:nth-child(5) {
      -ms-grid-column: 2;
      grid-column: 2;
      -ms-grid-row: 2;
      grid-row: 2;
    }

    div:nth-child(6) {
      -ms-grid-column: 3;
      grid-column: 3;
      -ms-grid-row: 2;
      grid-row: 2;
      z-index: 11;
    }

    div:nth-child(7) {
      grid-column: 1;
      -ms-grid-column: 1;
      -ms-grid-row: 3;
      grid-row: 3;
      z-index: 11;
    }

    div:nth-child(8) {
      grid-column: 2;
      -ms-grid-column: 2;
      -ms-grid-row: 3;
      grid-row: 3;
      z-index: 11;
    }

    div:nth-child(9) {
      grid-column: 3;
      -ms-grid-column: 3;
      -ms-grid-row: 3;
      grid-row: 3;
      z-index: 11;
    }
  }

  .tools {
    text-align: right;

    * {
      margin: 5px 3px 0px 3px;
    }
  }

  .tools-element {
    display: inline;
  }

  .active {
    color: #fff;
    cursor: pointer;
  }

  .previous,
  .next,
  .image,
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image {
    margin-bottom: 15px;
    position: relative;

    .center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
    }
    .v-center {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .info {
    background: RGBA(0, 0, 0, 0.8);
  }

  i {
    text-shadow: 2px 2px 4px #000000;
  }
}

.r-0 {
  transform: translate(-50%, -50%) rotate(0deg);
}
.r-90 {
  transform: translate(-50%, -50%) rotate(90deg);
}
.r-180 {
  transform: translate(-50%, -50%) rotate(180deg);
}
.r-270 {
  transform: translate(-50%, -50%) rotate(270deg);
}
