<mat-card>
  <div class="container">
    <div class="row">
      <form [formGroup]="mconfigForm" class="full-width">
        <div class="row">
          <div class="col-md-6 col-lg-3 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                matInput
                autocomplete="nope"
                name="standart_page_price"
                id="standart_page_price"
                placeholder="Цена стандартной страницы"
                formControlName="standart_page_price"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                matInput
                autocomplete="nope"
                name="special_page_price"
                id="special_page_price"
                placeholder="Цена страницы особой обработки"
                formControlName="special_page_price"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                matInput
                autocomplete="nope"
                name="file_scan_price"
                id="file_scan_price"
                placeholder="Цена дела для сканировщика"
                formControlName="file_scan_price"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                matInput
                autocomplete="nope"
                name="file_archive_price"
                id="file_archive_price"
                placeholder="Цена дела для архивиста"
                formControlName="file_archive_price"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                matInput
                autocomplete="nope"
                name="personal_price"
                id="personal_price"
                placeholder="Цена изменения персоналии"
                formControlName="personal_price"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                matInput
                autocomplete="nope"
                name="in_personal_price"
                id="in_personal_price"
                placeholder="Цена изменения вложений персоналии"
                formControlName="in_personal_price"
              />
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="full-width">
              <input
                matInput
                autocomplete="nope"
                name="video_ext"
                id="video_ext"
                placeholder="Расширения для хранения видео"
                formControlName="video_ext"
              />
            </mat-form-field>
          </div>
        </div>
        <hr />
        <div class="col-12">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="onSaveMconfigForm()"
            [disabled]="mconfigForm.invalid"
          >
            Сохранить
          </button>
          <button
            class="btn-pict"
            matTooltip="Обновить"
            type="button"
            mat-raised-button
            (click)="getData()"
            [style.margin-left]="'5px'"
          >
            <i class="fa fa-fw fa-refresh"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-card>
