<mat-card>
  <mat-card-header *ngIf="selectedPersonalcode">
    <mat-card-title>
      <div class="row">
        Код: {{ selectedPersonalcode }}
        <span *ngIf="selectedPersonal?.surname?.length > 0"
          >({{ selectedPersonal?.surname }} {{ selectedPersonal?.fname }}
          {{ selectedPersonal?.lname }})</span
        >
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <ol class="breadcrumb d-none d-lg-block">
        <li
          *ngFor="let breadcrumb of breadcrumbs; last as isLast"
          class="breadcrumb-item"
          [ngClass]="{ active: isLast }"
          aria-current="page"
        >
          <a *ngIf="!isLast; else lastRoute" (click)="goBack(breadcrumb.url)">
            {{ breadcrumb.label }}
          </a>
          <ng-template #lastRoute
            ><span>{{ breadcrumb.label }}</span></ng-template
          >
        </li>
      </ol>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="container">
    <form [formGroup]="orgtForm" class="full-width" (ngSubmit)="onSaveForm()">
      <div class="row">
        <div class="col-md-4 col-lg-2 col-xl-2 col-12">
          <mat-form-field class="full-width mat-intable">
            <input
              autocomplete="nope"
              name="org_no"
              id="org_no"
              type="number"
              step="1"
              min="1"
              max="99"
              matInput
              placeholder="Номер организации*"
              formControlName="org_no"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-5 col-12">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Тип организации"
              formControlName="org_code_id"
            >
              <mat-option [value]="null"> </mat-option>
              <mat-option
                *ngFor="let org_code of org_codes"
                [value]="org_code.id"
              >
                {{ org_code.name_ent }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-5 col-12">
          <mat-form-field class="full-width mat-intable">
            <input
              matInput
              placeholder="Название организации"
              aria-label="Название организации"
              [matAutocomplete]="auto"
              [formControl]="myControl_org_names"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let org_name of filteredOrg_names | async"
                [value]="org_name.name_ent"
              >
                <span>{{ org_name.name_ent }}</span
                ><span *ngIf="org_name.name_rmk">
                  ({{ org_name.name_rmk }})</span
                >
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="ent_name_rmk"
              id="ent_name_rmk"
              type="text"
              matInput
              placeholder="Комментарий к названию"
              formControlName="ent_name_rmk"
              [maxLength]="orgT_width['ent_name_rmk']"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="join_dat"
              id="join_dat"
              matInput
              [matDatepicker]="pickerjoin_dat"
              placeholder="Дата вступления"
              formControlName="join_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerjoin_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerjoin_dat startView="year"></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetJoin_dat()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="join_dat_begin_end"
              id="join_dat_begin_end"
              type="text"
              matInput
              placeholder="Дата вступления"
              formControlName="join_dat_begin_end"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              (blur)="
                dateparseService.getSour_date(
                  orgtForm,
                  'join_dat_begin_end',
                  'join_dat_begin',
                  'join_dat_end'
                )
              "
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="join_dat_rmk"
              id="join_dat_rmk"
              type="text"
              matInput
              placeholder="Комментарий к дате вступления"
              formControlName="join_dat_rmk"
              [maxLength]="orgT_width['join_dat_rmk']"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="dismis_dat"
              id="dismis_dat"
              matInput
              [matDatepicker]="pickerdismis_dat"
              placeholder="Дата выхода"
              formControlName="dismis_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerdismis_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerdismis_dat startView="year"></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetDismis_dat()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="dismis_dat_begin_end"
              id="dismis_dat_begin_end"
              type="text"
              matInput
              placeholder="Дата выхода"
              formControlName="dismis_dat_begin_end"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              (blur)="
                dateparseService.getSour_date(
                  orgtForm,
                  'dismis_dat_begin_end',
                  'dismis_dat_begin',
                  'dismis_dat_end'
                )
              "
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="dismis_dat_rmk"
              id="dismis_dat_rmk"
              type="text"
              matInput
              placeholder="Комментарий к дате выхода"
              formControlName="dismis_dat_rmk"
              [maxLength]="orgT_width['dismis_dat_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width mat-intable">
            <mat-select
              placeholder="Тип участия"
              formControlName="particip_id"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            >
              <mat-option [value]="null"> </mat-option>
              <mat-option
                *ngFor="let particip of particips"
                [value]="particip.id"
              >
                {{ particip.name_ent }}
                <span *ngIf="particip.name_rmk">({{ particip.name_rmk }})</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="particip_rmk"
              id="particip_rmk"
              type="text"
              matInput
              placeholder="Комментарий к участию"
              formControlName="particip_rmk"
              [maxLength]="orgT_width['particip_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="com_rmk"
              id="com_rmk"
              type="text"
              matInput
              placeholder="Общий комментарий"
              formControlName="com_rmk"
              [maxLength]="orgT_width['com_rmk']"
            />
          </mat-form-field>
        </div>

        <div class="col-12">
          <span [style.margin-left]="'20px'"
            >Лица, упоминаемые в связи в организацией</span
          >
          <button
            [disabled]="viewOnly"
            type="button"
            [style.margin-left]="'10px'"
            (click)="addCoorgt()"
            mat-button
            color="primary"
          >
            Добавить
          </button>
        </div>
        <form
          [formGroup]="coorgtForm"
          class="full-width"
          *ngFor="
            let coorgtForm of coorgtForms;
            let _first = first;
            let j = index
          "
        >
          <div class="row" [style.padding-left]="'25px'">
            <div class="col-md-6 col-lg-4 col-xl-4 col-12">
              <mat-form-field class="full-width">
                <input
                  type="text"
                  placeholder="Человек*"
                  aria-label="Человек*"
                  matInput
                  [formControl]="myControl_human_code[j]"
                  [matAutocomplete]="autohuman_code"
                  (input)="inputLink_human_code(j)"
                  [style.font-size]="'13px'"
                />
                <button
                  *ngIf="myControl_human_code[j]?.value?.type_r != null"
                  [disabled]="true"
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  title="Репрессированный"
                  [style.color]="'red'"
                  [style.margin-right]="'-5px'"
                >
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </button>
                <button
                  *ngIf="
                    myControl_human_code[j]?.value?.fund != null &&
                    myControl_human_code[j]?.value?.list_no != null
                  "
                  [disabled]="true"
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  title="Заполнено"
                  [style.color]="'blue'"
                  [style.margin-right]="'-5px'"
                >
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </button>
                <button
                  *ngIf="myControl_human_code[j]?.value?.type_a != null"
                  [disabled]="true"
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  title="Пособник"
                  [style.color]="'green'"
                  [style.margin-right]="'-5px'"
                >
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </button>
                <button
                  [disabled]="viewOnly"
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  aria-label="Add"
                  title="Добавить персоналию"
                  [disabled]="viewOnly"
                  (click)="onAddPersonalT(j)"
                >
                  +<i class="fa fa-user" aria-hidden="true"></i>
                </button>
                <button
                  [disabled]="
                    myControl_human_code[j] == null ||
                    myControl_human_code[j].value == null ||
                    myControl_human_code[j].value.code == null
                  "
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  aria-label="Link"
                  title="Перейти к персоналии"
                  (click)="
                    filteredPersonalts = null;
                    onLinkPersonalT(myControl_human_code[j].value.code)
                  "
                >
                  <i class="fa fa-user" aria-hidden="true"></i>
                </button>
                <mat-autocomplete
                  #autohuman_code="matAutocomplete"
                  [displayWith]="displayFn_human_code"
                >
                  <!-- <mat-option *ngFor="let item of filteredPersonalts | async" [value]="item"
                    matTooltip="{{item.code}}.&nbsp;{{item.surname}}.&nbsp;{{item.fname}}.&nbsp;{{item.lname}}.">
                    <span [style.font-size]="'12px'">{{item.code}}. {{item.surname}}. {{item.fname}}.
                      {{item.lname}}</span>
                  </mat-option> -->
                  <mat-option
                    *ngFor="let item of filteredPersonalts | async"
                    [value]="item"
                    title="{{ item.code }}.&nbsp;{{ item.surname }}.&nbsp;{{
                      item.fname
                    }}.&nbsp;{{ item.lname }}.&nbsp;{{
                      dateparseService.toMultiDateStr(
                        item.birth_begin,
                        item.birth_end,
                        false
                      )
                    }}&nbsp;{{ item.birth_rmk }}&nbsp;{{ item.surname_rmk }}"
                  >
                    <span [style.font-size]="'12px'"
                      >{{ item.code }}. {{ item.surname }}. {{ item.fname }}.
                      {{ item.lname }}</span
                    >&nbsp;<span
                      [style.font-size]="'12px'"
                      *ngIf="item.birth_begin != null"
                      >{{
                        dateparseService.toMultiDateStr(
                          item.birth_begin,
                          item.birth_end,
                          false
                        )
                      }}</span
                    >
                    <span
                      [style.font-size]="'12px'"
                      *ngIf="item.birth_begin == null"
                      >{{ item.birth_rmk }}</span
                    >
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-5 col-lg-2 col-xl-2 col-12">
              <mat-form-field class="full-width">
                <input
                  autocomplete="nope"
                  name="role"
                  id="role"
                  type="text"
                  matInput
                  placeholder="Роль человека"
                  formControlName="role"
                  [maxLength]="coorgT_width['role']"
                />
              </mat-form-field>
            </div>
            <div class="col-md-5 col-lg-4 col-xl-4 col-12">
              <mat-form-field class="full-width">
                <input
                  autocomplete="nope"
                  name="role_rmk"
                  id="role_rmk"
                  type="text"
                  matInput
                  placeholder="Комментарий к роли"
                  formControlName="role_rmk"
                  [maxLength]="coorgT_width['role_rmk']"
                />
              </mat-form-field>
            </div>
            <!-- <div class="col-md-4 col-lg-2 col-xl-2 col-12">
							<mat-slide-toggle [style.margin]="'15px 0 15px 0'" formControlName="sign_mark">
								Важно
							</mat-slide-toggle>
						</div> -->
            <div class="col-md-2 col-lg-2 col-xl-2 col-12">
              <button
                [disabled]="viewOnly"
                type="button"
                [style.margin]="'8px 0 0 0'"
                class="btn-pict"
                (click)="delCoorgt(j)"
                mat-button
                color="primary"
              >
                <i class="fa fa-fw fa-ban"></i>
              </button>
            </div>
          </div>
        </form>
        <button
          *ngIf="coorgtForms?.length > 5"
          [disabled]="viewOnly"
          type="button"
          [style.margin-left]="'10px'"
          (click)="addCoorgt()"
          mat-button
          color="primary"
        >
          Добавить упоминаемого
        </button>
      </div>
      <div
        class="col-12"
        *ngIf="intType != 'myprofile'"
        [style.margin-top]="'10px'"
      >
        <button
          [disabled]="viewOnly || !valid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Сохранить
        </button>
        <button
          [disabled]="viewOnly"
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          [disabled]="viewOnly"
          class="btn-pict"
          matTooltip="Удалить"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDel()"
          [style.margin-left]="'5px'"
          *ngIf="intType == 'editdoc'"
        >
          <i class="fa fa-fw fa-ban"></i>
        </button>
        <button
          type="button"
          matTooltip="Сохранить и вернуться к персоналии"
          [style.margin-left]="'5px'"
          mat-raised-button
          color="primary"
          (click)="goBack()"
        >
          Назад
        </button>
        <button
          [disabled]="viewOnly || !valid"
          class="btn-pict float-right"
          matTooltip="Сохранить и создать следующую запись"
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSaveForm(true, true)"
          [style.margin-left]="'5px'"
        >
          +1
        </button>
      </div>
    </form>
  </div>
</mat-card>
