<div class="wrap">
  <div
    class="next d-flex justify-content-center align-items-center"
    *ngIf="!last"
    [matTooltip]="'Вперед'"
    (click)="onMove('next')"
  >
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  <div
    class="previous d-flex justify-content-center align-items-center"
    *ngIf="!first"
    [matTooltip]="'Назад'"
    (click)="onMove('previous')"
  >
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <mat-card>
    <mat-card-header *ngIf="selectedPersonalcode">
      <mat-card-title>
        <div class="row">
          Код: {{ selectedPersonalcode }}
          <span *ngIf="selectedPersonal?.surname?.length > 0"
            >({{ selectedPersonal?.surname }} {{ selectedPersonal?.fname }}
            {{ selectedPersonal?.lname }})</span
          >
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <ol class="breadcrumb d-none d-lg-block">
          <li
            *ngFor="let breadcrumb of breadcrumbs; last as isLast"
            class="breadcrumb-item"
            [ngClass]="{ active: isLast }"
            aria-current="page"
          >
            <a *ngIf="!isLast; else lastRoute" (click)="goBack(breadcrumb.url)">
              {{ breadcrumb.label }}
            </a>
            <ng-template #lastRoute
              ><span>{{ breadcrumb.label }}</span></ng-template
            >
          </li>
        </ol>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="container">
      <form
        [formGroup]="activitytForm"
        class="full-width"
        (ngSubmit)="onSaveForm()"
      >
        <div class="row">
          <div class="col-md-4 col-lg-2 col-xl-2 col-12">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="act_no"
                id="act_no"
                type="number"
                step="1"
                min="1"
                max="99"
                matInput
                placeholder="Номер учебы/работы*"
                formControlName="act_no"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-lg-2 col-xl-2 col-12">
            <mat-form-field class="full-width">
              <mat-select
                placeholder="Номер репрессии"
                formControlName="rep_id"
              >
                <mat-option [value]="null"> </mat-option>
                <mat-option
                  *ngFor="let selectedRepresst of selectedRepressts"
                  [value]="selectedRepresst.id"
                >
                  {{ selectedRepresst.repress_no }}
                  <ng-container
                    *ngIf="
                      getRepress_typesById(selectedRepresst.repress_type_id)
                        ?.length > 0
                    "
                  >
                    ({{
                      getRepress_typesById(selectedRepresst.repress_type_id)
                    }})
                  </ng-container>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="ent1_rmk"
                id="ent1_rmk"
                type="text"
                matInput
                placeholder="Организация"
                formControlName="ent1_rmk"
                [maxLength]="activityT_width['ent1_rmk']"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width">
              <mat-select
                multiple
                placeholder="Сфера деятельности"
                formControlName="sphere"
              >
                <mat-select-trigger>
                  <ng-container
                    *ngFor="
                      let value of activitytForm.controls.sphere.value;
                      let vlast = last
                    "
                  >
                    {{ value.name_ent
                    }}<ng-container *ngIf="!vlast">,&nbsp;</ng-container>
                  </ng-container>
                </mat-select-trigger>
                <mat-option *ngFor="let sphere of spheres" [value]="sphere">
                  {{ sphere.name_ent }}
                  <ng-container *ngIf="sphere?.name_rmk?.length > 0">
                    ({{ sphere.name_rmk }})</ng-container
                  >
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="sphere_rmk"
                id="sphere_rmk"
                type="text"
                matInput
                placeholder="Комментарий к сфере деятельности"
                formControlName="sphere_rmk"
                [maxLength]="activityT_width['sphere_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="prof"
                id="prof"
                type="text"
                matInput
                placeholder="Профессия"
                formControlName="prof"
                [maxLength]="activityT_width['prof']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="prof_rmk"
                id="prof_rmk"
                type="text"
                matInput
                placeholder="Комментарий к профессии"
                formControlName="prof_rmk"
                [maxLength]="activityT_width['prof_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="post"
                id="post"
                type="text"
                matInput
                placeholder="Должность"
                formControlName="post"
                [maxLength]="activityT_width['post']"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="post_rmk"
                id="post_rmk"
                type="text"
                matInput
                placeholder="Комментарий к должности"
                formControlName="post_rmk"
              />
            </mat-form-field>
          </div>
          <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="arrival_dat"
              id="arrival_dat"
              matInput
              [matDatepicker]="pickerarrival_dat"
              placeholder="Дата поступления"
              formControlName="arrival_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerarrival_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #pickerarrival_dat
              startView="year"
            ></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetArrival_dat()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="mat-intable">
              <input
                autocomplete="nope"
                name="arrival_dat_begin_end"
                id="arrival_dat_begin_end"
                type="text"
                matInput
                placeholder="Дата поступления"
                formControlName="arrival_dat_begin_end"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
                (blur)="
                  dateparseService.getSour_date(
                    activitytForm,
                    'arrival_dat_begin_end',
                    'arrival_dat_begin',
                    'arrival_dat_end'
                  )
                "
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="arrival_dat_rmk"
                id="arrival_dat_rmk"
                type="text"
                matInput
                placeholder="Комментарий к дате поступления"
                formControlName="arrival_dat_rmk"
                [maxLength]="activityT_width['arrival_dat_rmk']"
              />
            </mat-form-field>
          </div>
          <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="depart_dat"
              id="depart_dat"
              matInput
              [matDatepicker]="pickerdepart_dat"
              placeholder="Дата увольнения"
              formControlName="depart_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerdepart_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerdepart_dat startView="year"></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetDepart_dat()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="mat-intable">
              <input
                autocomplete="nope"
                name="depart_dat_begin_end"
                id="depart_dat_begin_end"
                type="text"
                matInput
                placeholder="Дата увольнения"
                formControlName="depart_dat_begin_end"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
                (blur)="
                  dateparseService.getSour_date(
                    activitytForm,
                    'depart_dat_begin_end',
                    'depart_dat_begin',
                    'depart_dat_end'
                  )
                "
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="depart_dat_rmk"
                id="depart_dat_rmk"
                type="text"
                matInput
                placeholder="Комментарий к дате увольнения"
                formControlName="depart_dat_rmk"
                [maxLength]="activityT_width['depart_dat_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width">
              <input
                type="text"
                placeholder="Код географического места работы"
                aria-label="Код географического места работы"
                matInput
                [formControl]="myControl_geoplace_code"
                [matAutocomplete]="autogeoplace_code"
                (input)="inputLink_geoplace_code()"
              />
              <mat-autocomplete
                #autogeoplace_code="matAutocomplete"
                [displayWith]="displayFn_residence_code"
              >
                <mat-option
                  *ngFor="let item of filteredPlacets | async"
                  [value]="item"
                  matTooltip="{{ item.place_num }}.&nbsp;{{
                    item.place_code
                  }}.&nbsp;{{ item.place_name }}."
                >
                  <span>{{ item.place_code }}. {{ item.place_name }}.</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="geoplace_code_rmk"
                id="geoplace_code_rmk"
                type="text"
                matInput
                placeholder="Комментарий к коду географического места работы"
                formControlName="geoplace_code_rmk"
                [maxLength]="activityT_width['geoplace_code_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="full-width">
              <textarea
                autocomplete="nope"
                name="general_rmk"
                id="general_rmk"
                rows="3"
                matInput
                placeholder="Общий комментарий"
                formControlName="general_rmk"
                [maxLength]="activityT_width['general_rmk']"
              ></textarea>
              <mat-hint align="end"
                >{{ activitytForm?.value?.general_rmk?.length }} /
                {{ activityT_width['general_rmk'] }}</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="col-12">
            <span [style.margin-left]="'20px'"
              >Лица, упоминаемые в связи в c учебой или работой</span
            >
            <button
              [disabled]="viewOnly"
              type="button"
              [style.margin-left]="'10px'"
              (click)="addCoactt()"
              mat-button
              color="primary"
            >
              Добавить
            </button>
          </div>
          <form
            [formGroup]="coacttForm"
            class="full-width"
            *ngFor="
              let coacttForm of coacttForms;
              let _first = first;
              let j = index
            "
          >
            <div class="row" [style.padding-left]="'25px'">
              <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    placeholder="Человек*"
                    aria-label="Человек*"
                    matInput
                    [formControl]="myControl_human_code[j]"
                    [matAutocomplete]="autoact_human_code"
                    (input)="inputLink_human_code(j)"
                    [style.font-size]="'13px'"
                  />
                  <button
                    *ngIf="myControl_human_code[j]?.value?.type_r != null"
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Репрессированный"
                    [style.color]="'red'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    *ngIf="
                      myControl_human_code[j]?.value?.fund != null &&
                      myControl_human_code[j]?.value?.list_no != null
                    "
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Заполнено"
                    [style.color]="'blue'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    *ngIf="myControl_human_code[j]?.value?.type_a != null"
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Пособник"
                    [style.color]="'green'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    [disabled]="viewOnly"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Add"
                    title="Добавить персоналию"
                    [disabled]="viewOnly"
                    (click)="onAddPersonalT(j)"
                  >
                    +<i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                  <button
                    [disabled]="
                      myControl_human_code[j] == null ||
                      myControl_human_code[j].value == null ||
                      myControl_human_code[j].value.code == null
                    "
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Link"
                    title="Перейти к персоналии"
                    (click)="
                      filteredPersonalts = null;
                      onLinkPersonalT(myControl_human_code[j].value.code)
                    "
                  >
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                  <mat-autocomplete
                    #autoact_human_code="matAutocomplete"
                    [displayWith]="displayFn_human_code"
                  >
                    <mat-option
                      *ngFor="let item of filteredPersonalts | async"
                      [value]="item"
                      title="{{ item.code }}.&nbsp;{{ item.surname }}.&nbsp;{{
                        item.fname
                      }}.&nbsp;{{ item.lname }}.&nbsp;{{
                        dateparseService.toMultiDateStr(
                          item.birth_begin,
                          item.birth_end,
                          false
                        )
                      }}&nbsp;{{ item.birth_rmk }}&nbsp;{{ item.surname_rmk }}"
                    >
                      <span [style.font-size]="'12px'"
                        >{{ item.code }}. {{ item.surname }}. {{ item.fname }}.
                        {{ item.lname }}</span
                      >&nbsp;<span
                        [style.font-size]="'12px'"
                        *ngIf="item.birth_begin != null"
                        >{{
                          dateparseService.toMultiDateStr(
                            item.birth_begin,
                            item.birth_end,
                            false
                          )
                        }}</span
                      >
                      <span
                        [style.font-size]="'12px'"
                        *ngIf="item.birth_begin == null"
                        >{{ item.birth_rmk }}</span
                      >
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-2 col-xl-2 col-12">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="nope"
                    name="role"
                    id="role"
                    type="text"
                    matInput
                    placeholder="Роль человека"
                    formControlName="role"
                    [maxLength]="coactT_width['role']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="nope"
                    name="role_rmk"
                    id="role_rmk"
                    type="text"
                    matInput
                    placeholder="Комментарий к роли"
                    formControlName="role_rmk"
                    [maxLength]="coactT_width['role_rmk']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 col-12">
                <button
                  [disabled]="viewOnly"
                  type="button"
                  [style.margin]="'8px 0 0 0'"
                  class="btn-pict"
                  (click)="delCoactt(j)"
                  mat-button
                  color="primary"
                >
                  <i class="fa fa-fw fa-ban"></i>
                </button>
              </div>
            </div>
          </form>
          <button
            *ngIf="coacttForms?.length > 5"
            [disabled]="viewOnly"
            type="button"
            [style.margin-left]="'10px'"
            (click)="addCoactt()"
            mat-button
            color="primary"
          >
            Добавить упоминаемого
          </button>
        </div>
        <div
          class="col-12"
          *ngIf="intType != 'myprofile'"
          [style.margin-top]="'10px'"
        >
          <button
            [disabled]="viewOnly || !valid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Сохранить
          </button>
          <button
            [disabled]="viewOnly"
            class="btn-pict"
            matTooltip="Обновить"
            type="button"
            mat-raised-button
            (click)="getData()"
            [style.margin-left]="'5px'"
          >
            <i class="fa fa-fw fa-refresh"></i>
          </button>
          <button
            [disabled]="viewOnly"
            class="btn-pict"
            matTooltip="Удалить"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDel()"
            [style.margin-left]="'5px'"
            *ngIf="intType == 'editdoc'"
          >
            <i class="fa fa-fw fa-ban"></i>
          </button>
          <button
            type="button"
            [style.margin-left]="'5px'"
            mat-raised-button
            color="primary"
            (click)="goBack()"
          >
            Назад
          </button>
          <button
            [disabled]="viewOnly || !valid"
            class="btn-pict float-right"
            matTooltip="Сохранить и создать следующую запись"
            type="button"
            mat-raised-button
            color="primary"
            (click)="onSaveForm(true, true)"
            [style.margin-left]="'5px'"
          >
            +1
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
