.mat-intable .mat-form-field-label,
::placeholder {
  color: black !important;
  font-weight: bold !important;
}
.next,
.previous {
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  height: 100%;
  width: 20px;
  background: #fafafa;
}

.previous {
  left: 0px;
}

.next {
  right: 0px;
}

.next:hover,
.previous:hover {
  background: #e1e1e1;
}
.wrap {
  padding: 0 20px 0 20px;
  position: relative;
}
