@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600');

@font-face {
  font-family: Gilroy-Light;
  src: url('fonts/Gilroy-Light.otf') format('opentype');
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url('fonts/Gilroy-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: GillSans-Light;
  src: url('fonts/GillSans-Light.woff') format('woff'),
    url('fonts/GillSans-Light.otf') format('opentype'),
    url('fonts/GillSans-Light.eot');
}

a {
  color: #3f4849;
}

h1 {
  color: #3f4849 !important;
  /* font-family: GillSans-Light !important; */
  font-size: 22px !important;
  font-weight: bold !important;
  /* text-transform: uppercase; */
  padding: 5px !important;
  margin: 0px !important;
}

h2 {
  color: #3f4849 !important;
  /* font-family: GillSans-Light !important; */
  font-size: 20px !important;
  font-weight: 300 !important;
  /* text-transform: uppercase; */
  padding: 0px !important;
  margin-bottom: -15px !important;
}

h3 {
  color: #3f4849 !important;
  font-family: Gilroy-Light !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  padding: 0px 0 10px 0 !important;
  margin: 0px !important;
}

h4 {
  color: #3f4849 !important;
  font-family: Gilroy-Light !important;
  font-size: 17px !important;
  font-weight: 700 !important;
  padding: 2px 0 10px 0 !important;
  margin: 0px !important;
  text-transform: uppercase;
}

body,
html {
  color: #4f5f6f;
  font-family: 'Open Sans', sans-serif;
  /* height: 100%; */
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
}

.main-wrapper {
  /* height: 100%; */
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}

#ref .color-primary {
  color: #52bcd3;
}

#ref .chart .color-primary {
  color: #52bcd3;
}

#ref .chart .color-secondary {
  color: #7bccdd;
}

.app {
  background-color: #fafafa;
  box-shadow: 0 0 3px #ccc;
  left: 0;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
  padding-left: 180px;
  position: relative;
  transition: left 0.3s ease, padding-left 0.3s ease;
  -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
  width: 100%;
}

.app .content {
  min-height: 100vh;
  padding: 90px 30px 90px 60px;
}

@media (min-width: 1200px) {
  .app .content {
    padding: 90px 30px 100px 60px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .app .content {
    padding: 90px 30px 90px 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .app .content {
    padding: 80px 20px 75px 20px;
  }
}

@media (max-width: 767px) {
  .app .content {
    padding: 80px 10px 65px 10px;
  }
}

@media (max-width: 991px) {
  .app {
    padding-left: 50px;
  }
}

@media (max-width: 991px) {
  .app.sidebar-open {
    left: 0;
  }
}

.app.blank {
  background-color: #667380;
}

.auth {
  background-color: #009aff;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
}

.auth-container {
  left: 50%;
  min-height: 330px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  --webkit-transform: translateY(-50%) translateX(-50%);
  width: 450px;
}

.auth-container .auth-header {
  border-bottom: 1px solid #bbb9ac;
  text-align: center;
}

.auth-container .auth-title {
  font-family: Gilroy-Light;
  color: #97a4b1;
  padding: 10px;
  line-height: 25px;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.auth-container .auth-content {
  padding: 30px 50px;
  /* min-height: 260px */
}

.auth-container .forgot-btn {
  line-height: 28px;
}

.auth-container .checkbox label {
  padding: 0;
}

.auth-container .checkbox a {
  vertical-align: text-top;
}

.auth-container .checkbox span {
  color: #4f5f6f;
}

@media (max-width: 767px) {
  .auth-container {
    left: 0;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transform: inherit;
    --webkit-transform: inherit;
    width: 100%;
  }

  .auth-container .auth-content {
    padding: 30px 25px;
  }
}

.error-card {
  margin: 60px auto;
  min-height: 330px;
  width: 410px;
}

.error-card .error-title {
  color: #252932;
  font-size: 150px;
  font-weight: 700;
  line-height: 150px;
  text-align: center;
  text-shadow: rgba(61, 61, 61, 0.3) 0.5px 0.5px, rgba(61, 61, 61, 0.2) 1px 1px,
    rgba(61, 61, 61, 0.3) 1.5px 1.5px;
}

.error-card .error-sub-title {
  font-weight: 100;
  text-align: center;
}

.error-card .error-container {
  text-align: center;
  visibility: hidden;
}

.error-card .error-container.visible {
  visibility: visible;
}

.error-card.global {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.error-card.global .error-title {
  color: #fff;
}

.error-card.global .error-container,
.error-card.global .error-sub-title {
  color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) {
  .error-card {
    width: 50%;
  }

  .error-card.global {
    left: 0;
    margin: 40px auto;
    position: relative;
    top: 25%;
    transform: inherit;
    -webkit-transform: inherit;
  }
}

@media (max-width: 767px) {
  .error-card {
    width: 90%;
  }

  .error-card.global {
    left: 0;
    margin: 40px auto;
    position: relative;
    top: 25%;
    transform: inherit;
    -webkit-transform: inherit;
  }
}

.alert {
  background-image: none;
}

.alert.alert-primary {
  background-color: #52bcd3;
  border-color: #52bcd3;
  color: #fff;
}

.alert.alert-primary hr {
  border-top-color: #3eb4ce;
}

.alert.alert-primary .alert-link {
  color: #e6e6e6;
}

.alert.alert-success {
  background-color: #4bcf99;
  border-color: #4bcf99;
  color: #fff;
}

.alert.alert-success hr {
  border-top-color: #37ca8e;
}

.alert.alert-success .alert-link {
  color: #e6e6e6;
}

.alert.alert-info {
  background-color: #76d4f5;
  border-color: #76d4f5;
  color: #fff;
}

.alert.alert-info hr {
  border-top-color: #5ecdf3;
}

.alert.alert-info .alert-link {
  color: #e6e6e6;
}

.alert.alert-warning {
  background-color: #fe974b;
  border-color: #fe974b;
  color: #fff;
}

.alert.alert-warning hr {
  border-top-color: #fe8832;
}

.alert.alert-warning .alert-link {
  color: #e6e6e6;
}

.alert.alert-danger {
  background-color: #f44;
  border-color: #f44;
  color: #fff;
}

.alert.alert-danger hr {
  border-top-color: #ff2b2b;
}

.alert.alert-danger .alert-link {
  color: #e6e6e6;
}

.alert.alert-inverse {
  background-color: #131e26;
  border-color: #131e26;
  color: #fff;
}

.alert.alert-inverse hr {
  border-top-color: #0b1115;
}

.alert.alert-inverse .alert-link {
  color: #e6e6e6;
}

.animated {
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-duration: 0.5s;
}

/* .btn {
  background-image: none;
  border-radius: 0;
  margin-bottom: 5px;
  outline: none !important;
  box-shadow: none;
  background-color: #fff;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #fff;
} */

.btn-sample {
  color: #303030;
  background-color: #ffffff;
  border-color: #303030;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle {
  color: #303030;
  background-color: #ffffff;
  border-color: #303030;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #ffffff;
  border-color: #303030;
}

.btn-sample .badge {
  color: #ffffff;
  background-color: #000000;
}

.btn.btn-primary {
  background-color: #fff;
  border: 1px solid #fff;
  border-bottom: 1px dotted #3f4849;
  color: #3f4849;
  outline: none !important;
  box-shadow: none;
}

.btn.btn-primary:hover {
  background-color: #fff;
  border: 1px dotted #3f4849;
  color: #3f4849;
  outline: none !important;
  box-shadow: none;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
  background-color: #fff;
  border: 1px dotted #3f4849;
  color: #3f4849;
  outline: none !important;
  box-shadow: none;
}

.btn.btn-primary.active,
.btn.btn-primary:active,
.open > .btn.btn-primary.dropdown-toggle {
  background-color: #fff;
  border: 1px dotted #3f4849;
  color: #3f4849;
  outline: none !important;
  box-shadow: none;
}

.btn.btn-primary.active.focus,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:hover,
.btn.btn-primary:active.focus,
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.open > .btn.btn-primary.dropdown-toggle.focus,
.open > .btn.btn-primary.dropdown-toggle:focus,
.open > .btn.btn-primary.dropdown-toggle:hover {
  background-color: #fff;
  border: 1px dotted #3f4849;
  color: #3f4849;
  outline: none !important;
  box-shadow: none;
}

.btn.btn-primary.disabled.focus,
.btn.btn-primary.disabled:focus,
.btn.btn-primary:disabled.focus,
.btn.btn-primary:disabled:focus {
  background-color: #52bcd3;
  border-color: #52bcd3;
}

.btn.btn-primary.disabled:hover,
.btn.btn-primary:disabled:hover {
  background-color: #52bcd3;
  border-color: #52bcd3;
}

.btn.btn-secondary {
  background-color: #fff;
  border-color: #d7dde4;
  color: #4f5f6f;
}

.btn.btn-secondary:hover {
  background-color: #e6e6e6;
  border-color: #b2becb;
  color: #4f5f6f;
}

.btn.btn-secondary.focus,
.btn.btn-secondary:focus {
  background-color: #e6e6e6;
  border-color: #b2becb;
  color: #4f5f6f;
}

.btn.btn-secondary.active,
.btn.btn-secondary:active,
.open > .btn.btn-secondary.dropdown-toggle {
  background-color: #e6e6e6;
  background-image: none;
  border-color: #b2becb;
  color: #4f5f6f;
}

.btn.btn-secondary.active.focus,
.btn.btn-secondary.active:focus,
.btn.btn-secondary.active:hover,
.btn.btn-secondary:active.focus,
.btn.btn-secondary:active:focus,
.btn.btn-secondary:active:hover,
.open > .btn.btn-secondary.dropdown-toggle.focus,
.open > .btn.btn-secondary.dropdown-toggle:focus,
.open > .btn.btn-secondary.dropdown-toggle:hover {
  background-color: #d4d4d4;
  border-color: #8b9cb1;
  color: #4f5f6f;
}

.btn.btn-secondary.disabled.focus,
.btn.btn-secondary.disabled:focus,
.btn.btn-secondary:disabled.focus,
.btn.btn-secondary:disabled:focus {
  background-color: #fff;
  border-color: #d7dde4;
}

.btn.btn-secondary.disabled:hover,
.btn.btn-secondary:disabled:hover {
  background-color: #fff;
  border-color: #d7dde4;
}

.btn.btn-success {
  background-color: #4bcf99;
  border-color: #4bcf99;
  color: #fff;
}

.btn.btn-success:hover {
  background-color: #31b680;
  border-color: #2eae7a;
  color: #fff;
}

.btn.btn-success.focus,
.btn.btn-success:focus {
  background-color: #31b680;
  border-color: #2eae7a;
  color: #fff;
}

.btn.btn-success.active,
.btn.btn-success:active,
.open > .btn.btn-success.dropdown-toggle {
  background-color: #31b680;
  background-image: none;
  border-color: #2eae7a;
  color: #fff;
}

.btn.btn-success.active.focus,
.btn.btn-success.active:focus,
.btn.btn-success.active:hover,
.btn.btn-success:active.focus,
.btn.btn-success:active:focus,
.btn.btn-success:active:hover,
.open > .btn.btn-success.dropdown-toggle.focus,
.open > .btn.btn-success.dropdown-toggle:focus,
.open > .btn.btn-success.dropdown-toggle:hover {
  background-color: #299a6c;
  border-color: #217a55;
  color: #fff;
}

.btn.btn-success.disabled.focus,
.btn.btn-success.disabled:focus,
.btn.btn-success:disabled.focus,
.btn.btn-success:disabled:focus {
  background-color: #4bcf99;
  border-color: #4bcf99;
}

.btn.btn-success.disabled:hover,
.btn.btn-success:disabled:hover {
  background-color: #4bcf99;
  border-color: #4bcf99;
}

.btn.btn-info {
  background-color: #76d4f5;
  border-color: #76d4f5;
  color: #fff;
}

.btn.btn-info:hover {
  background-color: #46c5f2;
  border-color: #3dc2f1;
  color: #fff;
}

.btn.btn-info.focus,
.btn.btn-info:focus {
  background-color: #46c5f2;
  border-color: #3dc2f1;
  color: #fff;
}

.btn.btn-info.active,
.btn.btn-info:active,
.open > .btn.btn-info.dropdown-toggle {
  background-color: #46c5f2;
  background-image: none;
  border-color: #3dc2f1;
  color: #fff;
}

.btn.btn-info.active.focus,
.btn.btn-info.active:focus,
.btn.btn-info.active:hover,
.btn.btn-info:active.focus,
.btn.btn-info:active:focus,
.btn.btn-info:active:hover,
.open > .btn.btn-info.dropdown-toggle.focus,
.open > .btn.btn-info.dropdown-toggle:focus,
.open > .btn.btn-info.dropdown-toggle:hover {
  background-color: #25bbef;
  border-color: #10a7db;
  color: #fff;
}

.btn.btn-info.disabled.focus,
.btn.btn-info.disabled:focus,
.btn.btn-info:disabled.focus,
.btn.btn-info:disabled:focus {
  background-color: #76d4f5;
  border-color: #76d4f5;
}

.btn.btn-info.disabled:hover,
.btn.btn-info:disabled:hover {
  background-color: #76d4f5;
  border-color: #76d4f5;
}

.btn.btn-warning {
  background-color: #fe974b;
  border-color: #fe974b;
  color: #fff;
}

.btn.btn-warning:hover {
  background-color: #fe7a18;
  border-color: #fe740e;
  color: #fff;
}

.btn.btn-warning.focus,
.btn.btn-warning:focus {
  background-color: #fe7a18;
  border-color: #fe740e;
  color: #fff;
}

.btn.btn-warning.active,
.btn.btn-warning:active,
.open > .btn.btn-warning.dropdown-toggle {
  background-color: #fe7a18;
  background-image: none;
  border-color: #fe740e;
  color: #fff;
}

.btn.btn-warning.active.focus,
.btn.btn-warning.active:focus,
.btn.btn-warning.active:hover,
.btn.btn-warning:active.focus,
.btn.btn-warning:active:focus,
.btn.btn-warning:active:hover,
.open > .btn.btn-warning.dropdown-toggle.focus,
.open > .btn.btn-warning.dropdown-toggle:focus,
.open > .btn.btn-warning.dropdown-toggle:hover {
  background-color: #f16701;
  border-color: #c85601;
  color: #fff;
}

.btn.btn-warning.disabled.focus,
.btn.btn-warning.disabled:focus,
.btn.btn-warning:disabled.focus,
.btn.btn-warning:disabled:focus {
  background-color: #fe974b;
  border-color: #fe974b;
}

.btn.btn-warning.disabled:hover,
.btn.btn-warning:disabled:hover {
  background-color: #fe974b;
  border-color: #fe974b;
}

.btn.btn-danger {
  background-color: #f44;
  border-color: #f44;
  color: #fff;
}

.btn.btn-danger:hover {
  background-color: #f11;
  border-color: #ff0707;
  color: #fff;
}

.btn.btn-danger.focus,
.btn.btn-danger:focus {
  background-color: #f11;
  border-color: #ff0707;
  color: #fff;
}

.btn.btn-danger.active,
.btn.btn-danger:active,
.open > .btn.btn-danger.dropdown-toggle {
  background-color: #f11;
  background-image: none;
  border-color: #ff0707;
  color: #fff;
}

.btn.btn-danger.active.focus,
.btn.btn-danger.active:focus,
.btn.btn-danger.active:hover,
.btn.btn-danger:active.focus,
.btn.btn-danger:active:focus,
.btn.btn-danger:active:hover,
.open > .btn.btn-danger.dropdown-toggle.focus,
.open > .btn.btn-danger.dropdown-toggle:focus,
.open > .btn.btn-danger.dropdown-toggle:hover {
  background-color: #ec0000;
  border-color: #c40000;
  color: #fff;
}

.btn.btn-danger.disabled.focus,
.btn.btn-danger.disabled:focus,
.btn.btn-danger:disabled.focus,
.btn.btn-danger:disabled:focus {
  background-color: #f44;
  border-color: #f44;
}

.btn.btn-danger.disabled:hover,
.btn.btn-danger:disabled:hover {
  background-color: #f44;
  border-color: #f44;
}

.btn.btn-primary-outline {
  background-color: transparent;
  background-image: none;
  border-color: #52bcd3;
  color: #52bcd3;
}

.btn.btn-primary-outline.active,
.btn.btn-primary-outline.focus,
.btn.btn-primary-outline:active,
.btn.btn-primary-outline:focus,
.open > .btn.btn-primary-outline.dropdown-toggle {
  background-color: #52bcd3;
  border-color: #52bcd3;
  color: #fff;
}

.btn.btn-primary-outline:hover {
  background-color: #52bcd3;
  border-color: #52bcd3;
  color: #fff;
}

.btn.btn-primary-outline.disabled.focus,
.btn.btn-primary-outline.disabled:focus,
.btn.btn-primary-outline:disabled.focus,
.btn.btn-primary-outline:disabled:focus {
  border-color: #a3dbe8;
}

.btn.btn-primary-outline.disabled:hover,
.btn.btn-primary-outline:disabled:hover {
  border-color: #a3dbe8;
}

.btn.btn-secondary-outline {
  background-color: transparent;
  background-image: none;
  border-color: #d7dde4;
  color: #d7dde4;
}

.btn.btn-secondary-outline.active,
.btn.btn-secondary-outline.focus,
.btn.btn-secondary-outline:active,
.btn.btn-secondary-outline:focus,
.open > .btn.btn-secondary-outline.dropdown-toggle {
  background-color: #d7dde4;
  border-color: #d7dde4;
  color: #fff;
}

.btn.btn-secondary-outline:hover {
  background-color: #d7dde4;
  border-color: #d7dde4;
  color: #fff;
}

.btn.btn-secondary-outline.disabled.focus,
.btn.btn-secondary-outline.disabled:focus,
.btn.btn-secondary-outline:disabled.focus,
.btn.btn-secondary-outline:disabled:focus {
  border-color: #fff;
}

.btn.btn-secondary-outline.disabled:hover,
.btn.btn-secondary-outline:disabled:hover {
  border-color: #fff;
}

.btn.btn-info-outline {
  background-color: transparent;
  background-image: none;
  border-color: #76d4f5;
  color: #76d4f5;
}

.btn.btn-info-outline.active,
.btn.btn-info-outline.focus,
.btn.btn-info-outline:active,
.btn.btn-info-outline:focus,
.open > .btn.btn-info-outline.dropdown-toggle {
  background-color: #76d4f5;
  border-color: #76d4f5;
  color: #fff;
}

.btn.btn-info-outline:hover {
  background-color: #76d4f5;
  border-color: #76d4f5;
  color: #fff;
}

.btn.btn-info-outline.disabled.focus,
.btn.btn-info-outline.disabled:focus,
.btn.btn-info-outline:disabled.focus,
.btn.btn-info-outline:disabled:focus {
  border-color: #d5f2fc;
}

.btn.btn-info-outline.disabled:hover,
.btn.btn-info-outline:disabled:hover {
  border-color: #d5f2fc;
}

.btn.btn-success-outline {
  background-color: transparent;
  background-image: none;
  border-color: #4bcf99;
  color: #4bcf99;
}

.btn.btn-success-outline.active,
.btn.btn-success-outline.focus,
.btn.btn-success-outline:active,
.btn.btn-success-outline:focus,
.open > .btn.btn-success-outline.dropdown-toggle {
  background-color: #4bcf99;
  border-color: #4bcf99;
  color: #fff;
}

.btn.btn-success-outline:hover {
  background-color: #4bcf99;
  border-color: #4bcf99;
  color: #fff;
}

.btn.btn-success-outline.disabled.focus,
.btn.btn-success-outline.disabled:focus,
.btn.btn-success-outline:disabled.focus,
.btn.btn-success-outline:disabled:focus {
  border-color: #9ce4c7;
}

.btn.btn-success-outline.disabled:hover,
.btn.btn-success-outline:disabled:hover {
  border-color: #9ce4c7;
}

.btn.btn-warning-outline {
  background-color: transparent;
  background-image: none;
  border-color: #fe974b;
  color: #fe974b;
}

.btn.btn-warning-outline.active,
.btn.btn-warning-outline.focus,
.btn.btn-warning-outline:active,
.btn.btn-warning-outline:focus,
.open > .btn.btn-warning-outline.dropdown-toggle {
  background-color: #fe974b;
  border-color: #fe974b;
  color: #fff;
}

.btn.btn-warning-outline:hover {
  background-color: #fe974b;
  border-color: #fe974b;
  color: #fff;
}

.btn.btn-warning-outline.disabled.focus,
.btn.btn-warning-outline.disabled:focus,
.btn.btn-warning-outline:disabled.focus,
.btn.btn-warning-outline:disabled:focus {
  border-color: #ffd2b0;
}

.btn.btn-warning-outline.disabled:hover,
.btn.btn-warning-outline:disabled:hover {
  border-color: #ffd2b0;
}

.btn.btn-danger-outline {
  background-color: transparent;
  background-image: none;
  border-color: #f44;
  color: #f44;
}

.btn.btn-danger-outline.active,
.btn.btn-danger-outline.focus,
.btn.btn-danger-outline:active,
.btn.btn-danger-outline:focus,
.open > .btn.btn-danger-outline.dropdown-toggle {
  background-color: #f44;
  border-color: #f44;
  color: #fff;
}

.btn.btn-danger-outline:hover {
  background-color: #f44;
  border-color: #f44;
  color: #fff;
}

.btn.btn-danger-outline.disabled.focus,
.btn.btn-danger-outline.disabled:focus,
.btn.btn-danger-outline:disabled.focus,
.btn.btn-danger-outline:disabled:focus {
  border-color: #faa;
}

.btn.btn-danger-outline.disabled:hover,
.btn.btn-danger-outline:disabled:hover {
  border-color: #faa;
}

.btn.btn-oval:focus,
.btn.btn-pill-left:focus,
.btn.btn-pill-right:focus {
  outline: 0;
  outline-offset: initial;
}

.btn.btn-pill-left {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.btn.btn-pill-right {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.btn.btn-oval {
  border-radius: 25px;
}

.btn.btn-link {
  text-decoration: none;
}

.btn strong {
  font-weight: 600;
}

.btn-group .dropdown-menu > li:last-child a:hover:before {
  height: 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
  margin-bottom: 10px;
}

.card .card {
  box-shadow: none;
}

.card .card-header {
  align-items: center;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 0;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row;
  min-height: 50px;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  padding: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: row;
  box-align: center;
  box-direction: normal;
  box-orient: horizontal;
  box-direction: row;
}

.card .card-header::after {
  clear: both;
  content: '';
  display: table;
}

.card .card-header.bordered {
  border-bottom: 1px solid #d7dde4;
}

.card .card-header.card-header-sm {
  min-height: 40px;
}

.card .card-header > span {
  vertical-align: middle;
}

.card .card-header .pull-right {
  margin-left: auto;
}

.card .card-header .header-block {
  padding: 0.5rem 15px;
}

@media (min-width: 1200px) {
  .card .card-header .header-block {
    padding: 0.5rem 20px;
  }
}

@media (max-width: 767px) {
  .card .card-header .header-block {
    padding: 0.5rem 10px;
  }
}

.card .card-header .title {
  color: #4f5f6f;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
}

.card .card-header .btn {
  margin: 0;
}

.card .card-header .nav-tabs {
  align-self: stretch;
  border-color: transparent;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -ms-flex-item-align: stretch;
  position: relative;
  top: 1px;
  -webkit-align-self: stretch;
}

.card .card-header .nav-tabs .nav-item {
  align-self: stretch;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  margin-left: 0;
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
}

.card .card-header .nav-tabs .nav-item .nav-link {
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #d7dde4;
  border-radius: 0;
  border-top-width: 2px;
  color: #4f5f6f;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  font-size: 14px;
  -ms-flex-align: center;
  -ms-flex-item-align: stretch;
  opacity: 0.7;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  -webkit-align-items: center;
  -webkit-align-self: stretch;
  -webkit-box-align: center;
  box-align: center;
}

.card .card-header .nav-tabs .nav-item .nav-link.active {
  border-bottom-color: transparent;
  border-top-color: #52bcd3;
  opacity: 1;
}

.card .card-header .nav-tabs .nav-item .nav-link.active:focus,
.card .card-header .nav-tabs .nav-item .nav-link.active:hover {
  background-color: #fff;
  border-color: #d7dde4 #d7dde4 transparent;
  border-top-color: #52bcd3;
  opacity: 1;
}

.card .card-header .nav-tabs .nav-item .nav-link:focus,
.card .card-header .nav-tabs .nav-item .nav-link:hover {
  background-color: transparent;
  border-color: transparent;
  opacity: 1;
}

.card.card-default > .card-header {
  background-color: #fff;
  color: inherit;
}

.card.card-primary {
  border-color: #52bcd3;
}

.card.card-primary > .card-header {
  background-color: #52bcd3;
  border-color: #52bcd3;
}

.card.card-success > .card-header {
  background-color: #4bcf99;
}

.card.card-info > .card-header {
  background-color: #76d4f5;
}

.card.card-warning > .card-header {
  background-color: #fe974b;
}

.card.card-danger > .card-header {
  background-color: #f44;
}

.card.card-inverse > .card-header {
  background-color: #131e26;
}

.card .card-title-block,
.card .title-block {
  border: none;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.card .card-title-block::after,
.card .title-block::after {
  clear: both;
  content: '';
  display: table;
}

.card .section {
  margin-bottom: 20px;
}

.card .example,
.card .section.demo {
  margin-bottom: 20px;
}

.card-block {
  padding: 15px;
}

.card-block .tab-content {
  border-color: transparent;
  padding: 0;
}

@media (min-width: 1200px) {
  .card-block {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .card-block {
    padding: 10px;
  }
}

.card-footer {
  background-color: #fafafa;
}

.easy-pie-chart {
  background-color: #d7dde4;
  border-radius: 5px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.dropdown-menu {
  border: 1px solid rgba(126, 142, 159, 0.1);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 2px 3px 6px rgba(126, 142, 159, 0.1);
  float: left;
}

.dropdown-menu .dropdown-item {
  clear: both;
  color: #4f5f6f;
  font-family: GillSans-Light;
  display: block;
  font-weight: 600;
  padding: 5px 15px;
  transition: none;
  -webkit-transition: none;
  white-space: nowrap;
}

.dropdown-menu .dropdown-item i {
  margin-right: 2px;
}

.dropdown-menu .dropdown-item:hover {
  background: 0 0;
  background-color: #3f51b5;
  color: #fff !important;
}

.flex-row {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  box-direction: normal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
}

.flex-col {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  box-direction: normal;
  box-orient: vertical;
  -webkit-flex-direction: column;
}

.centralize-y {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  box-align: center;
}

input,
textarea {
  outline: 0;
}

.form-group .row {
  margin-left: -10px;
  margin-right: -10px;
}

.form-group .row [class^='col'] {
  padding-left: 10px;
  padding-right: 10px;
}

.form-group.has-error span.has-error {
  color: #f44;
  display: block !important;
  font-size: 13px;
}

.form-group.has-error .form-control-feedback {
  color: #f44;
}

.form-group.has-warning span.has-warning {
  color: #fe974b;
  display: block !important;
  font-size: 13px;
}

.form-group.has-warning .form-control-feedback {
  color: #fe974b;
}

.form-group.has-success span.has-success {
  color: #4bcf99;
  display: block !important;
  font-size: 13px;
}

.form-group.has-success .form-control-feedback {
  color: #4bcf99;
}

.input-group {
  margin-bottom: 10px;
}

.input-group .form-control {
  padding-left: 5px;
}

.input-group span.input-group-addon {
  background-color: #d7dde4;
  border: none;
  border-radius: 0;
  font-style: italic;
  transition: background-color ease-in-out 15s, color ease-in-out 0.15s;
  -webkit-transition: background-color ease-in-out 15s, color ease-in-out 0.15s;
}

.input-group span.input-group-addon.focus {
  background-color: #52bcd3;
  color: #fff;
}

/* .control-label,
label {
  font-weight: 600;
} */

.form-control.underlined {
  border: none;
  border-bottom: 1px solid #d7dde4;
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.form-control.underlined.indented {
  padding: 0.375rem 0.75rem;
}

.form-control.underlined:focus,
.has-error .form-control.underlined:focus,
.has-success .form-control.underlined:focus,
.has-warning .form-control.underlined:focus {
  border: none;
  border-bottom: 1px solid #52bcd3;
  box-shadow: none;
}

.has-error .form-control.underlined {
  border-color: #f44;
  box-shadow: none;
}

.has-warning .form-control.underlined {
  border-color: #fe974b;
  box-shadow: none;
}

.has-success .form-control.underlined {
  border-color: #4bcf99;
  box-shadow: none;
}

.form-control.boxed {
  border-radius: 0;
  box-shadow: none;
}

.form-control.boxed:focus {
  border: 1px solid #52bcd3;
}

/* .checkbox,
.radio {
  display: none;
} */

.checkbox + span,
.radio + span {
  padding: 0;
  padding-right: 10px;
}

.checkbox + span:before,
.radio + span:before {
  color: #c8d0da;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 21px;
  letter-spacing: 10px;
  vertical-align: middle;
}

.checkbox:checked + span:before,
.radio:checked + span:before {
  color: #52bcd3;
}

.checkbox:disabled + span:before,
.radio:disabled + span:before {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkbox:checked:disabled + span:before,
.radio:checked:disabled + span:before {
  color: #c8d0da;
}

.checkbox + span:before {
  content: '\f0c8';
}

.checkbox:checked + span:before {
  content: '\f14a';
}

.checkbox.rounded + span:before {
  content: '\f111';
}

.checkbox.rounded:checked + span:before {
  content: '\f058';
}

.radio + span:before {
  content: '\f111';
}

.radio:checked + span:before {
  content: '\f192';
}

.radio.squared + span:before {
  content: '\f0c8';
}

.radio.squared:checked + span:before {
  content: '\f14a';
}

.form-control::-webkit-input-placeholder {
  color: #c8d0da;
  font-style: italic;
}

.form-control:-moz-placeholder {
  color: #d7dde4;
  font-style: italic;
}

.form-control::-moz-placeholder {
  color: #d7dde4;
  font-style: italic;
}

.form-control:-ms-input-placeholder {
  color: #d7dde4;
  font-style: italic;
}

.images-container::after {
  clear: both;
  content: '';
  display: table;
}

.images-container .image-container {
  border: 1px solid #e6eaee;
  float: left;
  margin-bottom: 35px;
  margin-right: 10px;
  overflow: hidden;
  padding: 3px;
  position: relative;
}

.images-container .image-container.active {
  border-color: #52bcd3;
}

.images-container .image-container:hover .controls {
  bottom: 0;
  opacity: 1;
}

.images-container .controls {
  background-color: #fff;
  bottom: -35px;
  font-size: 24px;
  height: 35px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: bottom 0.2s ease, opacity 0.2s ease;
  -webkit-transition: bottom 0.2s ease, opacity 0.2s ease;
}

.images-container .controls::after {
  clear: both;
  content: '';
  display: table;
}

.images-container .controls .control-btn {
  color: #4f5f6f;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  opacity: 0.5;
  text-align: center;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  width: 35px;
}

.images-container .controls .control-btn:hover {
  opacity: 1;
}

.images-container .controls .control-btn.move {
  cursor: move;
}

.images-container .controls .control-btn.star {
  color: #ffb300;
}

.images-container .controls .control-btn.star i:before {
  content: '\f006';
}

.images-container .controls .control-btn.star.active i:before {
  content: '\f005';
}

.images-container .controls .control-btn.remove {
  color: #f44;
}

.images-container .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 135px;
  line-height: 135px;
  text-align: center;
  width: 130px;
}

.images-container .image-container.main {
  border-color: #ffb300;
}

.images-container .image-container.new {
  border: 1px #52bcd3 solid;
  border-style: dashed;
  color: #52bcd3;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
}

.images-container .image-container.new .image {
  font-size: 2.5rem;
}

.images-container .image-container.new:hover {
  opacity: 1;
}

.item-list {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-flow: column nowrap;
  line-height: 1.4rem;
  list-style: none;
  margin: 0;
  margin-bottom: 0;
  -ms-flex-flow: column nowrap;
  padding: 0;
  -webkit-box-flex: column nowrap;
  box-flex: column nowrap;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .item-list {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .item-list {
    font-size: 0.95rem;
  }
}

@media (max-width: 767px) {
  .item-list {
    font-size: 1.05rem;
  }
}

.item-list.striped > li {
  border-bottom: 1px solid #e9edf0;
}

.item-list.striped > li:nth-child(2n + 1) {
  background-color: #fcfcfd;
}

@media (max-width: 767px) {
  .item-list.striped > li:nth-child(2n + 1) {
    background-color: #f8f9fb;
  }
}

.item-list.striped .item-list-footer {
  border-bottom: none;
}

.item-list .item {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  box-direction: normal;
  box-orient: vertical;
  -webkit-flex-direction: column;
}

.item-list .item-row {
  align-items: stretch;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 100%;
  -ms-flex-align: stretch;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  box-align: stretch;
  box-direction: normal;
  box-orient: horizontal;
  box-pack: justify;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-between;
}

.item-list .item-row.nowrap {
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.item-list .item-col {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-basis: 0;
  flex-grow: 3;
  flex-shrink: 3;
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  -ms-flex-align: center;
  -ms-flex-negative: 3;
  -ms-flex-positive: 3;
  -ms-flex-preferred-size: 0;
  padding: 10px 10px 10px 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-flex: 3;
  box-align: center;
  box-flex: 3;
  -webkit-flex-basis: 0;
  -webkit-flex-grow: 3;
  -webkit-flex-shrink: 3;
}

.item-list .item-col.fixed {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  -ms-flex-positive: 0;
  -ms-flex-preferred-size: auto;
  -webkit-box-flex: 0;
  box-flex: 0;
  -webkit-flex-basis: auto;
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
}

.item-list .item-col.pull-left {
  margin-right: auto;
}

.item-list .item-col.pull-right {
  margin-left: auto;
}

.item-list .item-col > div {
  width: 100%;
}

.item-list .item-col:last-child {
  padding-right: 0;
}

.item-list .no-overflow {
  overflow: hidden;
}

.item-list .no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-list .item-list-header .item-col.item-col-header span {
  color: #999;
  font-size: 0.8rem;
  font-weight: 700 !important;
}

.item-list .item-heading {
  color: #666;
  display: none;
  font-size: 0.9rem;
  font-weight: 700;
  padding-right: 10px;
}

@media (max-width: 767px) {
  .item-list .item-heading {
    display: block;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .item-list .item-heading {
    width: 100%;
  }
}

@media (max-width: 543px) {
  .item-list .item-heading {
    width: 40%;
  }
}

.item-list .item-col.item-col-check {
  flex-basis: 30px;
  -ms-flex-preferred-size: 30px;
  -webkit-flex-basis: 30px;
}

@media (max-width: 767px) {
  .item-list .item-col.item-col-check {
    -ms-flex-order: -8;
    order: -8;
    -webkit-box-ordinal-group: -7;
    box-ordinal-group: -7;
    -webkit-order: -8;
  }
}

.item-list .item-check {
  margin-bottom: 0;
}

.item-list .item-check .checkbox + span {
  padding-right: 0;
}

.item-list .item-check .checkbox + span:before {
  width: 20px;
}

.item-list .item-col.item-col-img {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-basis: 70px;
  -ms-flex-preferred-size: 70px;
  -webkit-flex-basis: 70px;
}

.item-list .item-col.item-col-img.xs {
  flex-basis: 40px;
  -ms-flex-preferred-size: 40px;
  -webkit-flex-basis: 40px;
}

.item-list .item-col.item-col-img.sm {
  flex-basis: 50px;
  -ms-flex-preferred-size: 50px;
  -webkit-flex-basis: 50px;
}

.item-list .item-col.item-col-img.lg {
  flex-basis: 100px;
  -ms-flex-preferred-size: 100px;
  -webkit-flex-basis: 100px;
}

.item-list .item-col.item-col-img.xl {
  flex-basis: 120px;
  -ms-flex-preferred-size: 120px;
  -webkit-flex-basis: 120px;
}

.item-list .item-col.item-col-img a {
  width: 100%;
}

.item-list .item-img {
  align-self: stretch;
  background-color: #efefef;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  height: 0;
  -ms-flex-item-align: stretch;
  -ms-flex-positive: 1;
  padding-bottom: 100%;
  -webkit-align-self: stretch;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  width: 100%;
}

@media (max-width: 767px) {
  .item-list .item-col.item-col-title {
    -ms-flex-order: -4;
    order: -4;
    -webkit-box-ordinal-group: -3;
    box-ordinal-group: -3;
    -webkit-order: -4;
  }
}

.item-list .item-col.item-col-title a {
  display: block;
}

.item-list .item-title {
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  margin: 0;
}

.item-list .item-stats {
  height: 1.4rem;
}

.item-list .item-col.item-col-actions-dropdown {
  flex-basis: 40px;
  -ms-flex-preferred-size: 40px;
  padding-left: 0 !important;
  text-align: center;
  -webkit-flex-basis: 40px;
}

@media (max-width: 767px) {
  .item-list .item-col.item-col-actions-dropdown {
    flex-basis: 40px !important;
    -ms-flex-order: -3;
    -ms-flex-preferred-size: 40px !important;
    order: -3;
    padding-right: 10px;
    -webkit-box-ordinal-group: -2;
    box-ordinal-group: -2;
    -webkit-flex-basis: 40px !important;
    -webkit-order: -3;
  }
}

.item-list .item-actions-dropdown {
  font-size: 1.1rem;
  position: relative;
}

.item-list .item-actions-dropdown.active .item-actions-block {
  max-width: 120px;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn {
  color: #52bcd3;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn .active {
  display: block;
}

.item-list .item-actions-dropdown.active .item-actions-toggle-btn .inactive {
  display: none;
}

.item-list .item-actions-dropdown .item-actions-toggle-btn {
  color: #9ba8b5;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.item-list .item-actions-dropdown .item-actions-toggle-btn .active {
  display: none;
}

.item-list .item-actions-dropdown .item-actions-block {
  background-color: #d7dde4;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  max-width: 0;
  overflow: hidden;
  position: absolute;
  right: 100%;
  top: 0;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}

.item-list .item-actions-dropdown .item-actions-block.direction-right {
  left: 100%;
  right: auto;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list {
  list-style: none;
  padding: 0 5px;
  padding: 0;
  white-space: nowrap;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list li {
  display: inline-block;
  padding: 0;
}

.item-list .item-actions-dropdown .item-actions-block .item-actions-list a {
  display: block;
  padding: 0 5px;
}

.item-list
  .item-actions-dropdown
  .item-actions-block
  .item-actions-list
  a.edit {
  color: #38424c;
}

.item-list
  .item-actions-dropdown
  .item-actions-block
  .item-actions-list
  a.check {
  color: #40b726;
}

.item-list
  .item-actions-dropdown
  .item-actions-block
  .item-actions-list
  a.remove {
  color: #db0e1e;
}

.card > .item-list .item > .item-row {
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .card > .item-list .item > .item-row {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .card > .item-list .item > .item-row {
    padding: 0 10px;
  }
}

.logo {
  display: inline-block;
  height: 25px;
  margin-right: 5px;
  position: relative;
  vertical-align: middle;
  width: 45px;
}

.logo .l {
  background-color: #52bcd3;
  border-radius: 50%;
  height: 11px;
  position: absolute;
  width: 11px;
}

.logo .l.l1 {
  bottom: 0;
  left: 0;
}

.logo .l.l2 {
  bottom: 13px;
  height: 7px;
  left: 10px;
  width: 7px;
}

.logo .l.l3 {
  bottom: 4px;
  height: 7px;
  left: 17px;
  width: 7px;
}

.logo .l.l4 {
  bottom: 13px;
  left: 25px;
}

.logo .l.l5 {
  bottom: 0;
  left: 34px;
}

.modal-body.modal-tab-container {
  padding: 0;
}

.modal-body.modal-tab-container .modal-tabs {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.modal-body.modal-tab-container .modal-tabs .nav-link {
  border: none;
  padding: 10px 20px;
}

.modal-body.modal-tab-container .modal-tabs .nav-link.active,
.modal-body.modal-tab-container .modal-tabs .nav-link:hover {
  border-bottom: 2px solid #52bcd3;
  color: #52bcd3;
}

.modal-body.modal-tab-container .modal-tabs .nav-link.active {
  font-weight: 600;
}

a:not(.btn) {
  color: #52bcd3;
  text-decoration: none;
  transition: color 0.13s;
  -webkit-transition: color 0.13s;
}

a:not(.btn):hover {
  color: #2c96ad;
  text-decoration: inherit;
}

a:not(.btn):hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

a:not(.btn):focus {
  text-decoration: none;
}

span a {
  vertical-align: text-bottom;
}

[class*=' nav'] li > a,
[class^='nav'] li > a {
  display: block;
}

[class*=' nav'] li > a:before,
[class^='nav'] li > a:before {
  display: none;
}

.nav.nav-tabs-bordered {
  border-color: #52bcd3;
}

.nav.nav-tabs-bordered + .tab-content {
  border-color: #52bcd3;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 10px 20px 0;
}

.nav.nav-tabs-bordered .nav-item .nav-link {
  text-decoration: none;
}

.nav.nav-tabs-bordered .nav-item .nav-link:hover {
  background-color: #52bcd3;
  border: 1px solid #52bcd3;
  color: #fff;
}

.nav.nav-tabs-bordered .nav-item .nav-link.active {
  border-bottom-color: transparent;
  border-color: #52bcd3;
}

.nav.nav-tabs-bordered .nav-item .nav-link.active:hover {
  background-color: #fff;
  color: inherit;
}

.nav.nav-pills + .tab-content {
  border: 0;
  padding: 5px;
}

.nav.nav-pills .nav-item .nav-link {
  text-decoration: none;
}

.nav.nav-pills .nav-item .nav-link:hover {
  background-color: transparent;
  border: 0;
  color: #4f5f6f;
}

.nav.nav-pills .nav-item .nav-link.active {
  background-color: #52bcd3;
  border-bottom-color: transparent;
  border-color: #52bcd3;
}

.nav.nav-pills .nav-item .nav-link.active:hover {
  background-color: #52bcd3;
  color: #fff;
}

#nprogress .bar {
  background: #52bcd3 !important;
}

#nprogress .bar .peg {
  box-shadow: 0 0 10px #52bcd3, 0 0 5px #52bcd3;
}

#nprogress .spinner {
  right: 23px !important;
  top: 25px !important;
}

#nprogress .spinner .spinner-icon {
  border-left-color: #52bcd3 !important;
  border-top-color: #52bcd3 !important;
}

.pagination {
  margin-top: 0;
}

.pagination .page-item .page-link {
  color: #52bcd3;
}

.pagination .page-item.active .page-link,
.pagination .page-item.active .page-link:focus,
.pagination .page-item.active .page-link:hover {
  background-color: #52bcd3;
  border-color: #52bcd3;
  color: #fff;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background: #009aff;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #009aff;
}

.table label {
  margin-bottom: 0;
}

.table .checkbox + span {
  margin-bottom: 0;
}

.table .checkbox + span:before {
  line-height: 20px;
}

.row .col {
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.row-sm {
  margin-left: -10px;
  margin-right: -10px;
}

.row-sm [class^='col'] {
  padding-left: 10px;
  padding-right: 10px;
}

.title-block {
  border-bottom: 1px solid #d7dde4;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.title-block::after {
  clear: both;
  content: '';
  display: table;
}

@media (max-width: 767px) {
  .title-block {
    margin-bottom: 20px;
  }
}

.subtitle-block {
  border-bottom: 1px dashed #e0e5ea;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.section {
  display: block;
  margin-bottom: 30px;
}

.section:last-of-type {
  margin-bottom: 0;
}

.box-placeholder {
  background: #fafafa;
  border: 1px dashed #ddd;
  color: #444;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 20px;
}

.underline-animation {
  backface-visibility: hidden;
  background-color: #52bcd3;
  bottom: 1px;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: auto;
  transform: scaleX(0);
  transition: all 0.2s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scaleX(0);
  -webkit-transition: all 0.2s;
  width: 100%;
}

.stat-chart {
  border-radius: 50%;
}

.stat {
  display: inline-block;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stat .value {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stat .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.stat.lg .value {
  font-size: 26px;
  line-height: 28px;
}

.stat.lg .name {
  font-size: 16px;
}

.list-icon [class^='col'] {
  cursor: pointer;
}

.list-icon [class^='col'] em {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  transition: all 1s;
  vertical-align: middle;
  -webkit-transition: all 1s;
  width: 40px;
}

.list-icon [class^='col']:hover em {
  transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
}

.well {
  background-color: #fff;
  background-image: none;
}

.jumbotron {
  background-color: #fff;
  background-image: none;
  padding: 15px 30px;
}

.jumbotron.jumbotron-fluid {
  padding-left: 0;
  padding-right: 0;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-l {
  border-radius: 0.3rem;
}

.rounded-s {
  border-radius: 0.2rem;
}

.jqstooltip {
  border-radius: 0.2rem;
  height: 25px !important;
  width: auto !important;
}

.title {
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: 0;
}

.title.l {
  font-size: 1.6rem;
}

.title.s {
  font-size: 1.4rem;
}

.card .title {
  color: #4f5f6f;
  font-size: 1.1rem;
}

.title-description {
  color: #7e8e9f;
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
}

.title-description.s {
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .title-description {
    display: none;
  }
}

.subtitle {
  color: #7e8e9f;
  font-size: 1.2rem;
  margin: 0;
}

.text-primary {
  color: #52bcd3;
}

.text-muted {
  color: #9ba8b5;
}

pre {
  background: 0 0;
  border: none;
  padding: 0;
}

.flot-chart {
  display: block;
  height: 225px;
}

.flot-chart .flot-chart-content {
  /* height: 100%; */
  width: 100%;
}

.flot-chart .flot-chart-pie-content {
  height: 225px;
  margin: auto;
  width: 225px;
}

.dashboard-page #dashboard-downloads-chart,
.dashboard-page #dashboard-visits-chart {
  height: 220px;
}

@media (max-width: 543px) {
  .dashboard-page .items .card-header {
    border: none;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .dashboard-page .items .card-header .header-block {
    align-items: center;
    border-bottom: 1px solid #e9edf0;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: space-between;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    box-align: center;
    box-pack: justify;
    -webkit-justify-content: space-between;
    width: 100%;
  }
}

.dashboard-page .items .card-header .title {
  margin-right: 5px;
  padding-right: 0;
}

.dashboard-page .items .card-header .search {
  align-items: center;
  display: inline-flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  flex-direction: row;
  margin: 0;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -vertical-align: middle;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  box-align: center;
  box-direction: normal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
}

@media (max-width: 543px) {
  .dashboard-page .items .card-header .search {
    min-width: 50%;
  }
}

.dashboard-page .items .card-header .search .search-input {
  background-color: inherit;
  border: none;
  color: #c2ccd6;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  width: 100px;
}

.dashboard-page
  .items
  .card-header
  .search
  .search-input::-webkit-input-placeholder {
  color: #c2ccd6;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}

.dashboard-page .items .card-header .search .search-input:-moz-placeholder {
  color: #c2ccd6;
  transition: color 0.3s ease;
}

.dashboard-page .items .card-header .search .search-input::-moz-placeholder {
  color: #c2ccd6;
  transition: color 0.3s ease;
}

.dashboard-page
  .items
  .card-header
  .search
  .search-input:-ms-input-placeholder {
  color: #c2ccd6;
  transition: color 0.3s ease;
}

@media (max-width: 543px) {
  .dashboard-page .items .card-header .search .search-input {
    min-width: 130px;
  }
}

.dashboard-page .items .card-header .search .search-input:focus {
  color: #7e8e9f;
}

.dashboard-page
  .items
  .card-header
  .search
  .search-input:focus::-webkit-input-placeholder {
  color: #aab4c0;
}

.dashboard-page
  .items
  .card-header
  .search
  .search-input:focus:-moz-placeholder {
  color: #aab4c0;
}

.dashboard-page
  .items
  .card-header
  .search
  .search-input:focus::-moz-placeholder {
  color: #aab4c0;
}

.dashboard-page
  .items
  .card-header
  .search
  .search-input:focus:-ms-input-placeholder {
  color: #aab4c0;
}

.dashboard-page .items .card-header .search .search-input:focus + .search-icon {
  color: #7e8e9f;
}

.dashboard-page .items .card-header .search .search-icon {
  color: #c2ccd6;
  -ms-flex-order: -1;
  order: -1;
  padding-right: 6px;
  transition: color 0.3s ease;
  -webkit-box-ordinal-group: 0;
  box-ordinal-group: 0;
  -webkit-order: -1;
  -webkit-transition: color 0.3s ease;
}

.dashboard-page .items .card-header .pagination {
  display: inline-block;
  margin: 0;
}

.dashboard-page .items .item-list .item-col-title {
  flex-grow: 9;
  -ms-flex-positive: 9;
  -webkit-box-flex: 9;
  box-flex: 9;
  -webkit-flex-grow: 9;
}

.dashboard-page .items .item-list .item-col-date {
  text-align: right;
}

@media (min-width: 1200px) {
  .dashboard-page .items .item-list .item-col-date {
    flex-grow: 4;
    -ms-flex-positive: 4;
    -webkit-box-flex: 4;
    box-flex: 4;
    -webkit-flex-grow: 4;
  }
}

@media (max-width: 767px) {
  .dashboard-page .items .item-list .item-row {
    padding: 0;
  }

  .dashboard-page .items .item-list .item-col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .dashboard-page .items .item-list .item-col-img {
    flex-basis: 60px;
    -ms-flex-preferred-size: 60px;
    padding-left: 10px;
    padding-right: 0;
    -webkit-flex-basis: 60px;
  }

  .dashboard-page .items .item-list .item-col-stats {
    text-align: center;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .dashboard-page .items .item-list .item-col-title {
    border-bottom: 1px solid #e9edf0;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
  }

  .dashboard-page
    .items
    .item-list
    .item-col:not(.item-col-title):not(.item-col-img) {
    padding-top: 35px;
    position: relative;
  }

  .dashboard-page .items .item-list .item-heading {
    height: 30px;
    left: 0;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 5px;
    width: 100%;
  }
}

@media (max-width: 543px) {
  .dashboard-page .items .item-list .item-col {
    border-bottom: 1px solid #e9edf0;
  }

  .dashboard-page .items .item-list .item-col-img {
    flex-basis: 50px;
    -ms-flex-order: -5;
    -ms-flex-preferred-size: 50px;
    order: -5;
    -webkit-box-ordinal-group: -4;
    box-ordinal-group: -4;
    -webkit-flex-basis: 50px;
    -webkit-order: -5;
  }

  .dashboard-page .items .item-list .item-col-title {
    flex-basis: calc(100% - 50px);
    -ms-flex-preferred-size: calc(100% - 50px);
    -webkit-flex-basis: calc(100% - 50px);
  }

  .dashboard-page
    .items
    .item-list
    .item-col:not(.item-col-title):not(.item-col-img) {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    text-align: left;
    -webkit-flex-basis: 100%;
  }

  .dashboard-page
    .items
    .item-list
    .item-col:not(.item-col-title):not(.item-col-img)
    .item-heading {
    text-align: left;
  }

  .dashboard-page .items .item-list .item-col-date {
    border: none;
  }
}

.dashboard-page .sales-breakdown .dashboard-sales-breakdown-chart {
  margin: 0 auto;
  max-height: 250px;
  max-width: 250px;
}

.dashboard-page #dashboard-sales-map .jqvmap-zoomin,
.dashboard-page #dashboard-sales-map .jqvmap-zoomout {
  background-color: #52bcd3;
  height: 20px;
  line-height: 14px;
  width: 20px;
}

.dashboard-page #dashboard-sales-map .jqvmap-zoomout {
  top: 32px;
}

.dashboard-page .stats .card-block {
  padding-bottom: 0;
}

.dashboard-page .stats .stat-col {
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard-page .stats .stat-icon {
  color: #52bcd3;
  display: inline-block;
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
}

.dashboard-page .stats .stat-chart {
  margin-right: 5px;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .dashboard-page .stats .stat-chart {
    margin-right: 0.6vw;
  }
}

.dashboard-page .stats .stat {
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .dashboard-page .stats .stat .value {
    font-size: 1.3vw;
  }
}

@media (min-width: 1200px) {
  .dashboard-page .stats .stat .name {
    font-size: 0.9vw;
  }
}

.dashboard-page .stats .stat-progress {
  color: #52bcd3;
  height: 2px;
  margin: 5px 0;
}

.dashboard-page .stats .stat-progress[value]::-webkit-progress-bar {
  background-color: #ddd;
}

.dashboard-page .stats .stat-progress[value]::-webkit-progress-value {
  background-color: #52bcd3;
}

.dashboard-page .stats .stat-progress[value]::-moz-progress-bar {
  background-color: #ddd;
}

.dashboard-page .tasks {
  align-content: stretch;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  box-direction: normal;
  box-orient: vertical;
  -webkit-flex-direction: column;
}

.dashboard-page .tasks .title-block .title {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: space-between;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  box-align: center;
  box-pack: justify;
  -webkit-justify-content: space-between;
}

.dashboard-page .tasks label {
  margin-bottom: 0;
  width: 100%;
}

.dashboard-page .tasks label .checkbox:checked + span {
  text-decoration: line-through;
}

.dashboard-page .tasks label span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.dashboard-page .tasks .tasks-block {
  margin: 0;
  margin-right: -5px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.dashboard-page .tasks .item-list .item-col {
  padding-bottom: 5px;
  padding-top: 5px;
}

.items-list-page .title-search-block {
  position: relative;
}

@media (max-width: 767px) {
  .items-list-page .title-block {
    margin-bottom: 13px;
    padding-bottom: 10px;
  }
}

.items-list-page .title-block .action {
  display: inline;
}

.items-list-page .title-block .action a {
  padding: 10px 15px;
}

.items-list-page .title-block .action a .icon {
  margin-right: 5px;
  text-align: center;
  width: 16px;
}

@media (max-width: 767px) {
  .items-list-page .title-block .action {
    display: none;
  }
}

.items-list-page .items-search {
  margin-bottom: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 767px) {
  .items-list-page .items-search {
    position: static;
  }
}

.items-list-page .items-search .search-button {
  margin: 0;
}

.items-list-page .item-list .item-col.item-col-check {
  text-align: left;
}

.items-list-page .item-list .item-col.item-col-img {
  flex-basis: 70px;
  -ms-flex-preferred-size: 70px;
  text-align: center;
  text-align: left;
  -webkit-flex-basis: 70px;
  width: auto;
}

@media (min-width: 544px) {
  .items-list-page .item-list .item-col.item-col-img:not(.item-col-header) {
    height: 80px;
  }
}

.items-list-page .item-list .item-col.item-col-title {
  flex-basis: 0;
  flex-grow: 9;
  margin-left: 0 !important;
  margin-right: auto;
  -ms-flex-positive: 9;
  -ms-flex-preferred-size: 0;
  text-align: left;
  -webkit-box-flex: 9;
  box-flex: 9;
  -webkit-flex-basis: 0;
  -webkit-flex-grow: 9;
}

.items-list-page .item-list .item-col.item-col-sales {
  font-weight: 600;
  text-align: right;
}

.items-list-page .item-list .item-col.item-col-stats {
  text-align: center;
}

.items-list-page .item-list .item-col.item-col-category {
  font-weight: 600;
  text-align: left;
}

.items-list-page .item-list .item-col.item-col-author {
  flex-grow: 4.5;
  -ms-flex-positive: 4.5;
  text-align: left;
  -webkit-box-flex: 4.5;
  box-flex: 4.5;
  -webkit-flex-grow: 4.5;
}

.items-list-page .item-list .item-col.item-col-date {
  text-align: right;
}

@media (max-width: 767px) {
  .items-list-page .card.items {
    background: 0 0;
    box-shadow: none;
  }

  .items-list-page .item-list .item {
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
    margin-bottom: 10px;
  }

  .items-list-page .item-list .item-row {
    padding: 0 !important;
  }

  .items-list-page .item-list .item-col.item-col-author {
    flex-grow: 3;
    -ms-flex-positive: 3;
    -webkit-box-flex: 3;
    box-flex: 3;
    -webkit-flex-grow: 3;
  }
}

@media (min-width: 544px) and (max-width: 767px) {
  .items-list-page .item-list .item {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
    margin-bottom: 10px;
  }

  .items-list-page .item-list .item-row {
    padding: 0;
  }

  .items-list-page .item-list .item-heading {
    display: block;
    left: 0;
    line-height: 40px;
    padding-left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .items-list-page .item-list .item-col.item-col-actions-dropdown,
  .items-list-page .item-list .item-col.item-col-check,
  .items-list-page .item-list .item-col.item-col-title {
    border-bottom: 1px solid #d7dde4;
  }

  .items-list-page .item-list .item-col.item-col-actions-dropdown .item-heading,
  .items-list-page .item-list .item-col.item-col-check .item-heading,
  .items-list-page .item-list .item-col.item-col-title .item-heading {
    display: none;
  }

  .items-list-page .item-list .item-col.item-col-author,
  .items-list-page .item-list .item-col.item-col-category,
  .items-list-page .item-list .item-col.item-col-date,
  .items-list-page .item-list .item-col.item-col-sales,
  .items-list-page .item-list .item-col.item-col-stats {
    padding-top: 40px;
    position: relative;
  }

  .items-list-page .item-list .item-col.item-col-check {
    display: none;
  }

  .items-list-page .item-list .item-col.item-col-title {
    flex-basis: calc(100% - 40px);
    margin-left: 0 !important;
    margin-right: auto;
    -ms-flex-preferred-size: calc(100% - 40px);
    padding-left: 10px;
    text-align: left;
    -webkit-flex-basis: calc(100% - 40px);
  }

  .items-list-page .item-list .item-col.item-col-img {
    flex-basis: 79px;
    -ms-flex-preferred-size: 79px;
    padding-left: 10px;
    -webkit-flex-basis: 79px;
  }

  .items-list-page .item-list .item-col.item-col-sales {
    text-align: left;
  }

  .items-list-page .item-list .item-col.item-col-stats {
    text-align: center;
  }

  .items-list-page .item-list .item-col.item-col-category {
    text-align: center;
  }

  .items-list-page .item-list .item-col.item-col-author {
    text-align: center;
  }

  .items-list-page .item-list .item-col.item-col-date {
    flex-basis: 0;
    flex-basis: 100px;
    flex-grow: 3;
    -ms-flex-positive: 3;
    -ms-flex-preferred-size: 0;
    -ms-flex-preferred-size: 100px;
    padding-right: 10px;
    text-align: right;
    -webkit-box-flex: 3;
    box-flex: 3;
    -webkit-flex-basis: 0;
    -webkit-flex-basis: 100px;
    -webkit-flex-grow: 3;
    white-space: nowrap;
  }
}

@media (max-width: 543px) {
  .items-list-page .item-list .item {
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 5px rgba(126, 142, 159, 0.1);
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .items-list-page .item-list .item .item-col {
    border-bottom: 1px solid #d7dde4;
    padding-left: 10px;
    text-align: right;
  }

  .items-list-page .item-list .item .item-col[class^='item-col'] {
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
  }

  .items-list-page .item-list .item .item-col.item-col-check {
    display: none;
  }

  .items-list-page .item-list .item .item-col.item-col-img .item-img {
    padding-bottom: 65%;
  }

  .items-list-page .item-list .item .item-col.item-col-title {
    border: none;
    flex-basis: 0;
    flex-grow: 1;
    -ms-flex-positive: 1;
    -ms-flex-preferred-size: 0;
    padding-bottom: 0;
    text-align: left;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex-basis: 0;
    -webkit-flex-grow: 1;
  }

  .items-list-page .item-list .item .item-col.item-col-title .item-heading {
    display: none;
  }

  .items-list-page .item-list .item .item-col.item-col-title .item-title {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .items-list-page .item-list .item .item-col.item-col-actions-dropdown {
    border: none;
    padding-bottom: 0;
  }

  .items-list-page .item-list .item .item-col.item-col-sales {
    text-align: left;
  }

  .items-list-page .item-list .item .item-col.item-col-stats {
    text-align: left;
  }

  .items-list-page .item-list .item .item-col.item-col-category {
    text-align: left;
  }

  .items-list-page .item-list .item .item-col.item-col-author {
    text-align: left;
  }

  .items-list-page .item-list .item .item-col.item-col-date {
    text-align: left;
  }
}

.table-flip-scroll table {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .table-flip-scroll .flip-content:after,
  .table-flip-scroll .flip-header:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }

  .table-flip-scroll html .flip-content,
  .table-flip-scroll html .flip-header {
    -ms-zoom: 1;
    zoom: 1;
  }

  .table-flip-scroll table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    width: 100%;
  }

  .table-flip-scroll td,
  .table-flip-scroll th {
    margin: 0;
    vertical-align: top;
  }

  .table-flip-scroll td:last-child,
  .table-flip-scroll th:last-child {
    border-bottom: 1px solid #ddd;
  }

  .table-flip-scroll th {
    border: 0 !important;
    border-right: 1px solid #ddd !important;
    display: block;
    text-align: right;
    width: auto !important;
  }

  .table-flip-scroll td {
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    display: block;
    text-align: left;
  }

  .table-flip-scroll thead {
    display: block;
    float: left;
  }

  .table-flip-scroll thead tr {
    display: block;
  }

  .table-flip-scroll tbody {
    display: block;
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    width: auto;
  }

  .table-flip-scroll tbody tr {
    border-left: 1px solid #ddd;
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
  }
}

.wyswyg {
  border: 1px solid #d7dde4;
}

.wyswyg .ql-container {
  border-top: 1px solid #d7dde4;
}

.wyswyg .toolbar .btn {
  margin: 0;
}

.wyswyg .ql-container {
  font-size: 1rem;
}

.wyswyg .ql-container .ql-editor {
  min-height: 200px;
}

.footer {
  align-items: center;
  background-color: #fff;
  bottom: 0;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  height: 50px;
  justify-content: space-between;
  left: 230px;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  position: absolute;
  right: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  box-align: center;
  box-pack: justify;
  -webkit-justify-content: space-between;
}

.footer-fixed .footer {
  position: fixed;
}

.footer .footer-block {
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.footer .footer-github-btn {
  vertical-align: middle;
}

@media (max-width: 991px) {
  .footer {
    left: 0;
  }
}

.footer .author > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer .author > ul li {
  display: inline-block;
}

.footer .author > ul li:after {
  content: '|';
}

.footer .author > ul li:last-child:after {
  content: '';
}

@media (max-width: 991px) {
  .footer .author > ul li {
    display: block;
    text-align: right;
  }

  .footer .author > ul li:after {
    content: '';
  }
}

@media (max-width: 991px) {
  .footer .author > ul {
    display: block;
  }
}

@media (max-width: 767px) {
  .footer .author > ul {
    display: none;
  }
}

.modal .modal-content {
  border-radius: 0;
}

.modal .modal-header {
  background-color: #52bcd3;
  color: #fff;
}

.modal .modal-footer .btn {
  margin-bottom: 0;
}

.header {
  align-items: center;
  background-color: #fff;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  height: 70px;
  width: 100%;
  -ms-flex-align: center;
  position: absolute;
  right: 0;
  transition: left 0.3s ease;
  -webkit-align-items: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-transition: left 0.3s ease;
  /* z-index: 10; */
  /* box-shadow: 1px 2px 5px rgba(126, 142, 159, .4); */
}

@media (max-width: 767px) {
  /* .header {
    height: 50px;
    left: 0;
  } */
}

.header-fixed .header {
  position: fixed;
}

.header .header-block {
  margin-right: 10px;
}

@media (max-width: 991px) {
  .header .header-block {
    margin-right: 2px;
  }
}

.logotip {
  display: flex;
  flex-wrap: wrap;
  height: 20px;
  top: 12px;
  left: 250px;
  /* width: 270px; */
  position: absolute;
  z-index: 5;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (max-width: 991px) {
  .logotip {
    left: 60px;
  }
}

.logotip .main {
  font-family: Gilroy-Light;
  font-size: 16px;
  text-transform: uppercase;
}

.logotip .page {
  font-family: Gilroy-ExtraBold;
  font-size: 15px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .logotip .page {
    font-size: 11px;
  }
}

.new-line {
  height: 1px;
  width: 100%;
}

.logotip .icon {
  color: #52bcd3;
  text-align: center;
  width: 16px;
}

@media (max-width: 767px) {
  .logotip {
    height: 50px;
  }
}

.sidebar {
  bottom: 0;
  left: 0;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  width: 208px;
  z-index: 5;
}

.sidebar:before {
  content: ' ';
  position: absolute;
  width: 7px;
  height: 100%;
  z-index: -1;
}

.sidebar:after {
  content: ' ';
  position: absolute;
  width: 208px;
  height: 100%;
  z-index: -1;
}

.sidebar:after {
  left: 0px;
  background: #3a4651;
}

.sidebar:before {
  right: 0px;
  background: RGBA(0, 0, 0, 0);
}

.menu {
  position: fixed;
  top: 0px;
  width: 215px;
}

@media (max-width: 991px) {
  .sidebar {
    left: -160px;
    position: fixed;
  }
}

.sidebar-fixed .sidebar {
  position: fixed;
}

.sidebar-open .sidebar {
  left: 0;
}

.sidebar .sidebar-container {
  bottom: 51px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.sidebar .sidebar-container::-webkit-scrollbar-track {
  background-color: #2c353e;
}

.sidebar .nav {
  font-size: 14px;
  font-weight: 600;
  /* background-color: #29bdd3;
	width: 208px; */
}

.open .sidebar .nav li a:focus,
.sidebar .nav li a:focus {
  background-color: inherit;
}

.sidebar .nav ul {
  height: 0;
  overflow: hidden;
  padding: 0;
}

.loaded .sidebar .nav ul {
  height: auto;
}

.sidebar .nav li.active ul {
  height: auto;
}

.sidebar .nav li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.sidebar .nav li a.disabled {
  cursor: default;
  background: transparent !important;
  color: rgba(255, 255, 255, 0.5) !important;
}

.sidebar .nav li a:hover,
.sidebar .nav li.open a:hover,
.sidebar .nav li.open > a {
  /* background-color: #37479f;
  color: #fff;
  border-radius: 0 25px 25px 0; */
  color: #fff;
  background-color: #2d363f;
}

.sidebar .nav > li > a {
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 15px;
  width: 208px;
}

.sidebar .nav > li.active > a,
.sidebar .nav > li.active > a:hover {
  background-color: #3f51b5 !important;
  color: #fff !important;
  /* box-shadow: 1px 1px 5px rgba(126, 142, 159, .3); */
  /* width: 215px;
  border-radius: 0 25px 25px 0; */
  /* margin-right: -25px;
	padding-right: 30px;
	z-index: 999;
	width: 300px; */
}

.sidebar .nav > li.open > a {
  background-color: #333e48;
}

.sidebar .nav > li.open > a i.arrow {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.sidebar .nav > li > a i {
  font-size: 16px;
  margin-right: 5px;
}

.sidebar .nav > li > a i.arrow {
  float: right;
  font-size: 20px;
  line-height: initial;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.sidebar .nav > li > a i.arrow:before {
  content: '\f105' !important;
}

.sidebar .nav > li > ul > li a {
  background-color: #333e48;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-top: 10px;
}

.sidebar .nav > li > ul > li.active a {
  color: #fff;
}

.sidebar-overlay {
  bottom: 0;
  display: none;
  left: 200vw;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  z-index: 5;
}

@media (max-width: 991px) {
  .sidebar-overlay {
    display: block;
  }
}

@media (max-width: 767px) {
  .sidebar-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 991px) {
  .sidebar-open .sidebar-overlay {
    left: 0;
    opacity: 1;
  }
}

#modal-media .modal-body {
  min-height: 250px;
}

#modal-media .modal-tab-content {
  min-height: 300px;
}

#modal-media .images-container {
  padding: 15px;
  text-align: center;
}

#modal-media .images-container .image-container {
  cursor: pointer;
  display: inline-block;
  float: none;
  margin: 0 auto 10px auto;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

#modal-media .images-container .image-container:hover {
  border-color: rgba(82, 188, 211, 0.5);
}

#modal-media .images-container .image-container.active {
  border-color: rgba(82, 188, 211, 0.5);
}

#modal-media .upload-container {
  padding: 15px;
}

#modal-media .upload-container .dropzone {
  border: 2px dashed #52bcd3;
  height: 270px;
  position: relative;
}

#modal-media .upload-container .dropzone .dz-message-block {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#modal-media .upload-container .dropzone .dz-message-block .dz-message {
  color: #52bcd3;
  font-size: 24px;
  margin: 0;
  width: 230px;
}

.header .header-block-buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
}

.header .header-block-buttons .btn.header-btn {
  background-color: transparent;
  border: 1px solid #64798d;
  color: #64798d;
  margin: 0 5px;
}

.header .header-block-buttons .btn.header-btn:focus,
.header .header-block-buttons .btn.header-btn:hover {
  border: 1px solid #3a4651;
  color: #3a4651;
}

@media (max-width: 767px) {
  .header .header-block-buttons {
    display: none;
  }
}

.header .header-block-collapse {
  padding-right: 5px;
}

.header .header-block-collapse .collapse-btn {
  background: 0 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #52bcd3;
  font-size: 24px;
  line-height: 40px;
  outline: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: initial;
}

.header .header-block-nav {
  margin-left: auto;
  white-space: nowrap;
  z-index: 5;
}

.header .header-block-nav::after {
  clear: both;
  content: '';
  display: table;
}

.header .header-block-nav a {
  text-decoration: none;
}

.header .header-block-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .header-block-nav > ul {
  display: table;
}

.header .header-block-nav > ul > li {
  display: table-cell;
  position: relative;
}

.header .header-block-nav > ul > li:before {
  background-color: #8b9cb1;
  content: ' ';
  display: block;
  height: 24px;
  left: 0;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 1px;
}

.header .header-block-nav > ul > li:first-child:before {
  display: none;
}

.header .header-block-nav > ul > li > a {
  color: #4f5f6f;
  padding: 0 15px;
}

.header .header-block-nav > ul > li > a:hover {
  color: #52bcd3;
}

/* .header .header-block-nav .dropdown-menu {
  margin-top: 15px;
} */

.header .header-block-search {
  margin-right: auto;
  padding-left: 30px;
}

@media (max-width: 767px) {
  .header .header-block-search {
    padding-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header .header-block-search {
    padding-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header .header-block-search {
    padding-left: 30px;
  }
}

@media (min-width: 1200px) {
  .header .header-block-search {
    padding-left: 50px;
  }
}

.header .header-block-search > form {
  float: right;
}

@media (max-width: 767px) {
  .header .header-block-search > form {
    padding-left: 0;
  }
}

.header .header-block-search .input-container {
  color: #7e8e9f;
  position: relative;
}

.header .header-block-search .input-container i {
  display: block;
  height: 40px;
  left: 0;
  line-height: 40px;
  pointer-events: none;
  position: absolute;
}

.header .header-block-search .input-container input {
  background-color: transparent;
  border: none;
  height: 40px;
  max-width: 150px;
  padding-left: 25px;
}

@media (max-width: 767px) {
  .header .header-block-search .input-container input {
    max-width: 140px;
  }
}

.header .header-block-search .input-container input:focus + .underline {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

.sidebar-header .brand {
  color: #fff;
  font-size: 16px;
  line-height: 70px;
  padding-left: 25px;
  text-align: left;
}

@media (max-width: 767px) {
  .sidebar-header .brand {
    font-size: 16px;
    line-height: 50px;
  }
}

.customize {
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 15px;
  text-align: center;
  width: 100%;
}

.customize .customize-header {
  margin-bottom: 10px;
}

#customize-menu {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 230px;
}

@media (max-width: 991px) {
  .sidebar-open #customize-menu {
    left: 0;
  }
}

@media (max-width: 991px) {
  #customize-menu {
    left: -230px;
    transition: left 0.3s ease;
    -webkit-transition: left 0.3s ease;
  }
}

#customize-menu > li > a {
  background-color: #3a4651;
  border-top: 1px solid rgba(45, 54, 63, 0.5);
}

#customize-menu > li.open > a,
#customize-menu > li > a:hover {
  background-color: #2d363f;
}

#customize-menu .customize {
  background-color: #2d363f;
  border-top: 2px solid #52bcd3;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  text-align: center;
  width: 230px;
}

#customize-menu .customize .customize-item {
  margin-bottom: 15px;
}

#customize-menu .customize .customize-item .customize-header {
  margin-bottom: 10px;
}

#customize-menu .customize .customize-item label {
  font-weight: 400;
}

#customize-menu .customize .customize-item label.title {
  font-size: 14px;
}

#customize-menu .customize .customize-item .radio + span {
  padding: 0;
  padding-left: 5px;
}

#customize-menu .customize .customize-item .radio + span:before {
  color: #546273;
  cursor: pointer;
  font-size: 17px;
}

#customize-menu .customize .customize-item .radio:checked + span:before {
  color: #52bcd3;
}

#customize-menu .customize .customize-item .customize-colors {
  list-style: none;
}

#customize-menu .customize .customize-item .customize-colors li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

#customize-menu .customize .customize-item .customize-colors li .color-item {
  border: 1px solid;
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
}

#customize-menu
  .customize
  .customize-item
  .customize-colors
  li
  .color-item.color-red {
  background-color: #fb494d;
  border-color: #fb494d;
}

#customize-menu
  .customize
  .customize-item
  .customize-colors
  li
  .color-item.color-orange {
  background-color: #fe7a0e;
  border-color: #fe7a0e;
}

#customize-menu
  .customize
  .customize-item
  .customize-colors
  li
  .color-item.color-green {
  background-color: #8cde33;
  border-color: #8cde33;
}

#customize-menu
  .customize
  .customize-item
  .customize-colors
  li
  .color-item.color-seagreen {
  background-color: #4bcf99;
  border-color: #4bcf99;
}

#customize-menu
  .customize
  .customize-item
  .customize-colors
  li
  .color-item.color-blue {
  background-color: #52bcd3;
  border-color: #52bcd3;
}

#customize-menu
  .customize
  .customize-item
  .customize-colors
  li
  .color-item.color-purple {
  background-color: #7867a7;
  border-color: #7867a7;
}

#customize-menu
  .customize
  .customize-item
  .customize-colors
  li
  .color-item.active {
  font-family: FontAwesome;
  font-size: 17px;
  line-height: 17px;
  position: relative;
}

#customize-menu
  .customize
  .customize-item
  .customize-colors
  li
  .color-item.active:before {
  color: #fff;
  content: '\f00c';
  left: 0;
  position: absolute;
  top: 0;
}

.header .header-block-nav .notifications {
  font-size: 16px;
}

.header .header-block-nav .notifications a {
  padding-right: 10px;
}

.header .header-block-nav .notifications .counter {
  font-size: 14px;
  font-weight: 700;
  left: -2px;
  position: relative;
  top: -3px;
}

.header .header-block-nav .notifications.new .counter {
  color: #52bcd3;
  font-weight: 700;
}

@media (max-width: 767px) {
  .header .header-block-nav .notifications {
    position: static;
  }
}

.header .header-block-nav .notifications-dropdown-menu {
  left: auto;
  min-width: 350px;
  right: 0;
  white-space: normal;
}

.header .header-block-nav .notifications-dropdown-menu:before {
  bottom: 100%;
  margin-right: -1px;
  position: absolute;
  right: 20px;
}

.header .header-block-nav .notifications-dropdown-menu:after {
  bottom: 100%;
  position: absolute;
  right: 20px;
}

.header
  .header-block-nav
  .notifications-dropdown-menu
  .notifications-container
  .notification-item {
  border-bottom: 1px solid rgba(126, 142, 159, 0.1);
  padding: 5px;
}

.header
  .header-block-nav
  .notifications-dropdown-menu
  .notifications-container
  .notification-item:hover {
  background-color: #f5f5f5;
}

.header
  .header-block-nav
  .notifications-dropdown-menu
  .notifications-container
  .img-col {
  display: table-cell;
  padding: 5px;
}

.header
  .header-block-nav
  .notifications-dropdown-menu
  .notifications-container
  .body-col {
  display: table-cell;
  padding: 5px;
}

.header
  .header-block-nav
  .notifications-dropdown-menu
  .notifications-container
  .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  vertical-align: top;
  width: 40px;
}

.header
  .header-block-nav
  .notifications-dropdown-menu
  .notifications-container
  p {
  color: #4f5f6f;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  vertical-align: top;
}

.header
  .header-block-nav
  .notifications-dropdown-menu
  .notifications-container
  p
  .accent {
  font-weight: 700;
}

.header .header-block-nav .notifications-dropdown-menu footer {
  text-align: center;
}

.header .header-block-nav .notifications-dropdown-menu footer a {
  color: #373a3c;
  transition: none;
  -webkit-transition: none;
}

.header .header-block-nav .notifications-dropdown-menu footer a:hover {
  background-color: #f5f5f5;
  color: #52bcd3;
}

@media (max-width: 767px) {
  .header .header-block-nav .notifications-dropdown-menu {
    margin-top: 5px;
    min-width: 100px;
    width: 100%;
  }

  .header .header-block-nav .notifications-dropdown-menu:after,
  .header .header-block-nav .notifications-dropdown-menu:before {
    right: 107px;
  }
}

.header .header-block-nav .profile .img {
  background-color: #8b9cb1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

.profile .sw {
  color: black;
}

.open .sw {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header .header-block-nav .profile .name {
  color: #3f4849;
  font-family: GillSans-Light;
  font-size: 18px;
  display: inline-block;
  font-weight: 700;
  margin-right: 9px;
  text-decoration: none;
  border-bottom: 1px #3f4849 dashed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 767px) {
  /* .header .header-block-nav .profile .name {
    display: none;
  } */
}

.header .header-block-nav .profile .arrow {
  color: #52bcd3;
}

.header .header-block-nav .profile-dropdown-menu {
  left: auto;
  min-width: 180px;
  right: 0;
  white-space: normal;
}

.header .header-block-nav .profile-dropdown-menu:before {
  bottom: 100%;
  margin-right: -1px;
  position: absolute;
  right: 10px;
}

.header .header-block-nav .profile-dropdown-menu:after {
  bottom: 100%;
  position: absolute;
  right: 10px;
}

.header .header-block-nav .profile-dropdown-menu a {
  padding: 10px 15px;
}

.header .header-block-nav .profile-dropdown-menu a .icon {
  /* color: #52bcd3; */
  text-align: center;
  width: 16px;
}

.header .header-block-nav .profile-dropdown-menu a span {
  color: #7e8e9f;
  display: inline-block;
  padding-left: 5px;
  text-align: left;
}

.header .header-block-nav .profile-dropdown-menu .profile-dropdown-menu-icon {
  padding: 0;
}

.header .header-block-nav .profile-dropdown-menu .profile-dropdown-menu-topic {
  color: #7e8e9f;
  padding: 0;
}

.header .header-block-nav .profile-dropdown-menu .dropdown-divider {
  margin: 0;
}

.header .header-block-nav .profile-dropdown-menu .logout {
  border-top: 1px solid rgba(126, 142, 159, 0.1);
}

@media (max-width: 767px) {
  .header .header-block-nav .profile-dropdown-menu {
    margin-top: 8px;
  }
}

.form-group.has-error .form-help-text {
  color: #fb494d;
  font-size: 13px;
}

.form-group.has-error .form-control {
  border-color: #fb494d;
}

.form-group.has-success .form-help-text {
  color: #8cde33;
  font-size: 13px;
}

.n-progress .progress-bar {
  background-color: #337ab7;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  color: #211f33;
  float: left;
  font-size: 12px;
  /* height: 100%; */
  line-height: 20px;
  -o-transition: width 0.6s ease;
  text-align: center;
  transition: width 0.6s ease;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  width: 0;
}

.n-progress .progress-bar.success {
  background-color: #5cb85c;
}

.n-progress .progress-bar.danger {
  background-color: #f44;
}

.n-progress .progress-bar.warning {
  background-color: #f0ad4e;
}

.n-progress {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.planning-expenses {
  margin-right: 8px;
  margin-top: 6px;
}

.text-center {
  text-align: center;
}

a {
  cursor: pointer;
}

.topbutton {
  border: 2px solid #ccc;
  background: transparent;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  z-index: 9999;
  color: #313131;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
}

.tab-group-top .mat-tab-header {
  position: absolute;
  top: 15px;
  left: 430px;
  right: 170px;
  z-index: 100;
  border-bottom: 0px solid #e4f2f2;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

@media (max-width: 991px) {
  .tab-group-top .mat-tab-header {
    left: 170px;
  }
}

.tab-group-top .mat-tab-header .mat-tab-label {
  background: #fff;
  -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  height: 55px;
}

.tab-group-top .mat-tab-header .mat-tab-label-active {
  background: #e4f2f2 !important;
  opacity: 1 !important;
  -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
  transition: 0.5s;
}

.tab-group-top .mat-ink-bar {
  background-color: var(--primary-color, #e4f2f2) !important;
}

.tab-group-top .mat-tab-body-wrapper {
  margin-top: -10px;
}

.created {
  background: RGBA(255, 255, 0, 0.1);
}

.filled {
  background: RGBA(0, 255, 0, 0.1);
}

.scanned {
  background: RGBA(0, 0, 255, 0.1);
}

.finished {
  background: white;
}

.colorGray {
  color: gray !important;
}

.colorBlack {
  color: black !important;
}
.patterns {
  position: relative;
  line-height: 10px;
  margin-bottom: 10px;
}

.patterns > span {
  font-size: 10px;
  cursor: pointer;
}
.patterns > span:hover {
  text-decoration: underline;
}
