<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ title
      }}<i
        class="fa fa-pencil ml-3"
        aria-hidden="true"
        (click)="onEdittitle()"
        [style.cursor]="'pointer'"
        matTooltip="Переименовать"
      ></i>
    </mat-card-title>
  </mat-card-header>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фильтр"
          autocomplete="p_searchStr"
          name="p_searchStr"
          id="p_searchStr"
          [(ngModel)]="filtersService.selectionEditFilter.searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Точное соответствие"
          (click)="
            filtersService.selectionEditFilter.filterExact = !filtersService
              .selectionEditFilter.filterExact;
            updateData()
          "
        >
          <i
            title="Точное соответствие"
            class="fa fa-check-circle-o"
            aria-hidden="true"
            *ngIf="filtersService.selectionEditFilter.filterExact"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!filtersService.selectionEditFilter.filterExact"
            title="Точное соответствие"
          ></i>
        </button>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionEditFilter.searchStr = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фонд"
          autocomplete="p_searchStr_fond"
          name="p_searchStr_fond"
          id="p_searchStr_fond"
          [(ngModel)]="filtersService.selectionEditFilter.searchStr_fond"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionEditFilter.searchStr_fond = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Опись"
          autocomplete="p_searchStr_opis"
          name="p_searchStr_opis"
          id="p_searchStr_opis"
          [(ngModel)]="filtersService.selectionEditFilter.searchStr_opis"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionEditFilter.searchStr_opis = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело"
          autocomplete="p_searchStr_delo"
          name="p_searchStr_delo"
          id="p_searchStr_delo"
          [(ngModel)]="filtersService.selectionEditFilter.searchStr_delo"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionEditFilter.searchStr_delo = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button
        class="float-right"
        mat-fab
        color="primary"
        (click)="onAddSelectionitems()"
      >
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="isAllSelected()"
              [disabled]="selectionitems?.length === 0"
            >
            </mat-checkbox>
          </th>
          <th
            id="code"
            [style.width]="'100px'"
            [style.cursor]="'pointer'"
            (click)="selectOrder('bycode')"
            [innerHTML]="'# ' + postfixCode"
          >
            Код
          </th>
          <th
            [style.cursor]="'pointer'"
            (click)="selectOrder('bysurname')"
            [innerHTML]="'Фамилия ' + postfixSurname"
          >
            Фамилия
          </th>
          <th id="name">Имя</th>
          <th id="pt">Отчество</th>
          <th id="birth">Дата рождения</th>
          <th
            id="fond"
            [style.width]="'100px'"
            [style.cursor]="'pointer'"
            (click)="selectOrder('bydelo')"
            [innerHTML]="'Фонд ' + postfixDelo"
          >
            Фонд
          </th>
          <th id="opis" [style.width]="'100px'">Опись</th>
          <th id="delo" [style.width]="'100px'">Дело</th>
          <th
            id="sour_cnt"
            [style.cursor]="'pointer'"
            (click)="selectOrder('bysour_cnt')"
            [innerHTML]="'Источники ' + postfixSour"
          >
            Источники
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personal of selectionitems; let i = index">
          <td>
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? toggleSelection(personal.id) : null"
              [checked]="isSelected(personal.id)"
            >
            </mat-checkbox>
          </td>
          <td (click)="onEditPersonalt(personal.personal_code)" id="code">
            {{ personal.personal_code }}
          </td>
          <td
            (click)="onEditPersonalt(personal.personal_code)"
            [matTooltip]="personal?.surname_rmk"
          >
            {{ personal.surname }}
          </td>
          <td (click)="onEditPersonalt(personal.personal_code)" id="name">
            {{ personal.fname }}
          </td>
          <td (click)="onEditPersonalt(personal.personal_code)" id="pt">
            {{ personal.lname }}
          </td>
          <td (click)="onEditPersonalt(personal.personal_code)" id="birth">
            <span
              *ngIf="personal.birth_begin != null"
              [innerHTML]="
                dateparseService.toMultiDateStr(
                  personal.birth_begin,
                  personal.birth_end
                )
              "
            ></span
            ><span *ngIf="personal.birth_begin == null">{{
              personal.birth_rmk
            }}</span>
            <!-- <span *ngIf="personal.birth != null">{{
              personal.birth | date: 'dd.MM.yyyy'
            }}</span>
            <span *ngIf="personal.birth == null">{{ personal.birth_rmk }}</span> -->
          </td>
          <td (click)="onEditPersonalt(personal.personal_code)" id="fond">
            {{ personal.fund }}
          </td>
          <td (click)="onEditPersonalt(personal.personal_code)" id="opis">
            {{ personal.list_no }}
          </td>
          <td (click)="onEditPersonalt(personal.personal_code)" id="delo">
            {{ personal.file_no }}
          </td>
          <td (click)="onEditPersonalt(personal.personal_code)" id="sour_cnt">
            {{ personal.sour_cnt }}
          </td>
          <td>
            <button
              [style.margin]="'-10px 0 -10px 0'"
              color="warn"
              class="btn-pict"
              mat-button
              (click)="onDel(personal.id)"
            >
              <i class="fa fa-fw fa-ban"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-4">
      <div class="row">
        <button
          matTooltip="Удалить выбранные"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDelSelected()"
          [style.margin-left]="'5px'"
          [disabled]="selection?.length === 0"
        >
          Удалить выбранные
        </button>
        <div ngbDropdown placement="top-left">
          <a
            class="ml-4 mt-1 float-right dropdown-toggle download"
            id="id02"
            ngbDropdownToggle
            >Скачать</a
          >
          <div
            class="dropdown-menu"
            aria-labelledby="id02"
            ngbDropdownMenu
            [style.min-width]="'100px'"
          >
            <a class="dropdown-item" (click)="onGetsimplelist()">
              Простой список
            </a>
            <a class="dropdown-item" (click)="onGetorgt()">
              Общественная деятельность
            </a>
            <a class="dropdown-item" (click)="onGetactivityt()">
              Профессиональная деятельность
            </a>
            <a class="dropdown-item" (click)="onGetrepresst()"> Репрессии </a>
            <a class="dropdown-item" (click)="onGetGpr()"> Таблица ЖПР </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 float-right" *ngIf="total > limit">
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filtersService.selectionEditFilter.page"
        [perPage]="limit"
        [count]="total"
      ></app-pagination>
    </div>
  </div>
</mat-card>
<div class="progress-bar mt-2 mb-2" *ngIf="inProgress">
  <mat-progress-bar
    mode="buffer"
    [color]="'accent'"
    [value]="0"
    [bufferValue]="inProgressVal"
    [style.height]="'5px'"
  >
  </mat-progress-bar>
</div>
