@media (max-width: 900px) {

  #fond,
  #opis,
  #delo {
    display: none;
  }
}



/* min-width: 100px;
top: 0px;
left: 0px;
will-change: transform;
position: absolute;
transform: translate(24px, -186px); */

.dropdown-menu {
  transform: none !important;
  margin-top: -186px;
  margin-left: 20px;
}
