<!-- <ngx-spinner> </ngx-spinner> -->
<router-outlet></router-outlet>
<!-- <ngx-spinner
  class="myspiner"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
</ngx-spinner> -->
<!-- <ngx-spinner
  class="myspiner"
  bdColor="rgba(51,51,51,0.5)"
  type="ball-spin-clockwise"
></ngx-spinner> -->
