<div class="logotip">
  <div class="main">
	<i class="fa fa-fw fa-archive" [style.color]="'#3f51b5'"></i>
    Архив
  </div>
  <div class="new-line"></div>
  <div class="page">{{pageNames[page]}}</div>
</div>
