<mat-card>
  <div class="container">
    <form [formGroup]="listoftForm" class="full-width">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field>
            <mat-select placeholder="Название группы" formControlName="name_f">
              <mat-option *ngFor="let name of name_f" [value]="name.key">
                {{ name.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              autocomplete="nope"
              name="death_type"
              id="death_type"
              matInput
              placeholder="Код"
              formControlName="death_type"
              [maxLength]="listOfT_width['death_type']"
              *ngIf="selectedName_fIdx === 19"
            />
            <input
              type="text"
              autocomplete="nope"
              name="name_ent"
              id="name_ent"
              matInput
              placeholder="Cокращенное название"
              formControlName="name_ent"
              [maxLength]="listOfT_width['name_ent']"
              *ngIf="selectedName_fIdx < 19"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width" *ngIf="selectedName_fIdx === 19">
            <input
              type="text"
              autocomplete="nope"
              name="death_rmk"
              id="death_rmk"
              matInput
              placeholder="Расшифровка"
              formControlName="death_rmk"
              [maxLength]="listOfT_width['death_rmk']"
            />
          </mat-form-field>
          <mat-form-field class="full-width" *ngIf="selectedName_fIdx < 18">
            <input
              type="text"
              autocomplete="nope"
              name="name_rmk"
              id="name_rmk"
              matInput
              placeholder="Название"
              formControlName="name_rmk"
              [maxLength]="listOfT_width['name_rmk']"
            />
          </mat-form-field>
        </div>
      </div>
      <hr />
      <div class="col-12" *ngIf="intType !== 'myprofile'">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSaveListoftForm()"
          [disabled]="listoftForm.invalid"
        >
          Сохранить
        </button>
        <button
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          class="btn-pict"
          matTooltip="Удалить запись"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDelListoft()"
          [style.margin-left]="'5px'"
          *ngIf="intType === 'editdoc'"
        >
          <i class="fa fa-fw fa-ban"></i>
        </button>
      </div>
    </form>
  </div>
</mat-card>
