<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-4">
      <mat-form-field class="full-width">
        <input
          autocomplete="nope"
          name="filter_sourt_name"
          id="filter_sourt_name"
          type="text"
          matInput
          placeholder="Название документа"
          [(ngModel)]="sourt_name"
          (ngModelChange)="getData()"
        />
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фонд"
          autocomplete="selectionSourtFilterfund"
          name="selectionSourtFilterfund"
          id="selectionSourtFilterfund"
          [(ngModel)]="fund"
          (ngModelChange)="getData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="fund = ''; getData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Опись"
          autocomplete="selectionSourtFilterlist_no"
          name="selectionSourtFilterlist_no"
          id="selectionSourtFilterlist_no"
          [(ngModel)]="list_no"
          (ngModelChange)="getData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="list_no = ''; getData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело"
          autocomplete="selectionSourtFilterfile_no"
          name="selectionSourtFilterfile_no"
          id="selectionSourtFilterfile_no"
          [(ngModel)]="file_no"
          (ngModelChange)="getData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="file_no = ''; getData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело доп."
          autocomplete="selectionSourtFilterfile_no_ext"
          name="selectionSourtFilterfile_no_ext"
          id="selectionSourtFilterfile_no_ext"
          [(ngModel)]="file_no_ext"
          [disabled]="file_no_ext_noneed"
          (ngModelChange)="getData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Не задано"
          (click)="file_no_ext_noneed = !file_no_ext_noneed; getData()"
        >
          <i
            title="Не задано"
            class="fa fa-check-circle-o"
            aria-hidden="true"
            *ngIf="file_no_ext_noneed"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!file_no_ext_noneed"
            title="Не задано"
          ></i>
        </button>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="file_no_ext = ''; getData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th>Название</th>
            <th>Дата</th>
            <th id="fond" [style.width]="'100px'">Фонд</th>
            <th id="opis" [style.width]="'100px'">Опись</th>
            <th id="delo" [style.width]="'100px'">Дело</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let sourt of sourts"
            (click)="data.selectedSourt = sourt"
            [ngClass]="{
              underline:
                data.selectedSourt && data.selectedSourt.id === sourt.id
            }"
          >
            <td>
              {{ sourt?.sour_name }}
            </td>
            <td>
              <span
                [innerHTML]="
                  dateparseService.toMultiDateStr(
                    sourt?.sour_date_begin,
                    sourt?.sour_date_end
                  )
                "
              ></span>
            </td>
            <td>{{ sourt?.fund }}</td>
            <td>{{ sourt?.list_no }}</td>
            <td>{{ sourt?.file_no }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.selectedSourt">Ok</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Отмена</button>
</div>
