<h1 mat-dialog-title>{{ data.describtion }}</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input
      matInput
      type="number"
      name="pos"
      id="pos"
      [step]="1"
      [min]="data.min"
      [max]="data.max"
      [(ngModel)]="data.pos"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.pos" [disabled]="!data.pos">
    <ng-container *ngIf="data?.savestr">{{ data?.savestr }}</ng-container
    ><ng-container *ngIf="!data?.savestr">Сохранить</ng-container>
  </button>
  <button mat-button [mat-dialog-close]="false">Отмена</button>
</div>
