<mat-card>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4 col-12">
        <mat-form-field class="full-width">
          <input
            autocomplete="nope"
            name="fund"
            id="fund"
            type="text"
            matInput
            placeholder="Фонд"
            [(ngModel)]="fond"
            #fund
            maxlength="4"
          />
          <mat-hint align="end">{{ fund.value.length }} / 4</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4 col-12">
        <mat-form-field class="full-width">
          <input
            autocomplete="nope"
            name="list_no"
            id="list_no"
            type="text"
            matInput
            placeholder="Опись"
            [(ngModel)]="opis"
            #list_no
            maxlength="4"
          />
          <mat-hint align="end">{{ list_no.value.length }} / 4</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4 col-12 mt-2">
        <button
          type="button"
          mat-raised-button
          color="primary"
          [disabled]="fond == null || opis == null"
          (click)="onNumbering()"
        >
          Нумеровать
        </button>
      </div>
    </div>
  </div>
</mat-card>
