<mat-card>
  <div class="container">
    <div class="row">
      <form [formGroup]="muserForm" class="full-width">
        <mat-form-field class="full-width">
          <input
            matInput
            autocomplete="nope"
            name="lg"
            id="lg"
            placeholder="Логин"
            formControlName="login"
            [maxLength]="muser_width['login']"
            [readonly]="readonly"
            (focus)="readonly = false"
          />
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="intType === 'newprofile'">
          <input
            matInput
            autocomplete="nope"
            name="pw"
            id="pw"
            type="password"
            placeholder="Пароль"
            formControlName="password"
            [readonly]="readonly"
            (focus)="readonly = false"
          />
        </mat-form-field>
        <mat-form-field class="full-width" *ngIf="intType === 'editprofile'">
          <input
            matInput
            autocomplete="nope"
            name="pw"
            id="pw"
            type="password"
            placeholder="Пароль"
            formControlName="password"
            matTooltip="Для сохранения текущего пароля - оставьте поле пустым"
            readonly
            onfocus="this.removeAttribute('readonly')"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Имя"
            autocomplete="nope"
            name="name"
            id="name"
            formControlName="name"
            [maxLength]="muser_width['name']"
          />
        </mat-form-field>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Фамилия"
                autocomplete="nope"
                name="surname"
                id="surname"
                formControlName="surname"
                [maxLength]="muser_width['surname']"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-select placeholder="Роль" formControlName="usertype">
                <mat-option
                  *ngFor="let muserType of muserTypes | slice : 1"
                  [value]="muserType.key"
                >
                  {{ muserType.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col" [style.margin-bottom]="'15px'">
            <mat-slide-toggle
              [color]="'primary'"
              formControlName="isadmin"
              *ngIf="intType !== 'myprofile'"
              id="admin-toggle"
              (change)="onIsadminChange()"
            >
              Администратор
            </mat-slide-toggle>
          </div>
        </div>
        <hr />
        <div class="col-12" *ngIf="intType !== 'myprofile' && isAdmin">
          <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="onSaveMuserForm()"
            [disabled]="muserForm.invalid"
          >
            Сохранить
          </button>
          <button
            class="btn-pict"
            matTooltip="Обновить"
            type="button"
            mat-raised-button
            (click)="getData()"
            [style.margin-left]="'5px'"
          >
            <i class="fa fa-fw fa-refresh"></i>
          </button>
          <button
            class="btn-pict"
            matTooltip="Удалить пользователя"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDelMuser()"
            [style.margin-left]="'5px'"
            *ngIf="intType === 'editprofile'"
          >
            <i class="fa fa-fw fa-user-times"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</mat-card>
