#admin-toggle {
  margin-top: 15px;
  float: right;
}

@media (max-width:460px) {
  #admin-toggle {
	margin-top: 0px;
	float: left;
  }
}

.btn-pict {
	/* min-height: 30px !important; */
	min-width: 20px !important;
	/* line-height: 0px; */
	/* font-size: 10px !important; */
  }
