<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
	<p>{{data.question}}</p>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Сохранить</button>
  <button mat-button [mat-dialog-close]="false">Не сохранять</button>
  <button mat-button [mat-dialog-close]="null">Отмена</button>
</div>