<mat-tab-group
  class="tab-group"
  (selectedTabChange)="selectTab($event)"
  [(selectedIndex)]="selectedIndex"
>
  <ng-container *ngFor="let name of name_f">
    <mat-tab label="{{ name.value }}">
      <mat-card>
        <div class="row">
          <div class="col-8">
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Фильтр"
                [(ngModel)]="searchStr"
                (input)="updateData()"
              />
              <button
                mat-button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="searchStr = ''; updateData()"
              >
                <i class="fa fa-times-circle" aria-hidden="true"></i>
              </button>
            </mat-form-field>
          </div>
          <div class="col-4">
            <button
              class="float-right"
              mat-fab
              color="primary"
              (click)="onAddListoft()"
            >
              +
              <i class="fa fa-book" aria-hidden="true"></i>
            </button>

            <button
              *ngIf="authService.getCurUser().isadmin === true"
              class="float-right mr-3"
              mat-fab
              color="primary"
              (click)="onSeekListoft()"
            >
              +
              <i class="fa fa-compress" aria-hidden="true"></i>
            </button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th
                  [style.width]="'100px'"
                  [innerHTML]="'# ' + postfixId"
                  [style.cursor]="'pointer'"
                  (click)="selectOrder('byid')"
                >
                  #
                </th>
                <th
                  [style.width]="'300px'"
                  *ngIf="selectedIndex === 19"
                  [innerHTML]="'Код ' + postfixName"
                  [style.cursor]="'pointer'"
                  (click)="selectOrder('byname_ent')"
                >
                  Код
                </th>
                <th
                  [style.width]="'300px'"
                  *ngIf="selectedIndex < 18"
                  [innerHTML]="'Название ' + postfixName"
                  [style.cursor]="'pointer'"
                  (click)="selectOrder('byname_ent')"
                >
                  Название
                </th>
                <th
                  id="name"
                  *ngIf="selectedIndex === 19"
                  [innerHTML]="'Расшифровка ' + postfixFullname"
                  [style.cursor]="'pointer'"
                  (click)="selectOrder('byname_rmk')"
                >
                  Расшифровка
                </th>
                <th
                  id="name"
                  *ngIf="selectedIndex < 18"
                  [innerHTML]="'Полное название' + postfixFullname"
                  [style.cursor]="'pointer'"
                  (click)="selectOrder('byname_rmk')"
                >
                Название
                </th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let listoft of listofts
                    | listoftFilter: searchStr
                    | slice: start:end;
                  let i = index
                "
              >
                <td (click)="onEditListoft(listoft.id)">{{ listoft.id }}</td>
                <td
                  (click)="onEditListoft(listoft.id)"
                  *ngIf="selectedIndex === 19"
                >
                  {{ listoft.death_type }}
                </td>
                <td
                  (click)="onEditListoft(listoft.id)"
                  *ngIf="selectedIndex < 19"
                >
                  {{ listoft.name_ent }}
                </td>
                <td
                  (click)="onEditListoft(listoft.id)"
                  id="name"
                  *ngIf="selectedIndex === 19"
                >
                  {{ listoft.death_rmk }}
                </td>
                <td
                  (click)="onEditListoft(listoft.id)"
                  id="name"
                  *ngIf="selectedIndex < 18"
                >
                  {{ listoft.name_rmk }}
                </td>
                <!-- <td>
									<button class="float-right btn-edit" mat-raised-button (click)="onEditListoft(listoft.id)" [innerHTML]="aditStr"></button>
								</td> -->
              </tr>
            </tbody>
          </table>
          <!-- <div class="col float-right">
            <mat-paginator
              class="float-right"
              [length]="(listofts | listoftFilter: searchStr)?.length"
              [pageIndex]="pageEvent?.pageIndex"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = setPageSizeOptions($event)"
              #paginator
            >
            </mat-paginator>
          </div> -->
          <div
            class="col-12 float-right"
            *ngIf="(listofts | listoftFilter: searchStr)?.length > limit"
          >
            <app-pagination
              (goPage)="goToPage($event)"
              (goNext)="onNext()"
              (goPrev)="onPrev()"
              (goNext10)="onNext10($event)"
              (goPrev10)="onPrev10($event)"
              [pagesToShow]="3"
              [page]="page"
              [perPage]="limit"
              [count]="(listofts | listoftFilter: searchStr)?.length"
            ></app-pagination>
          </div>
        </div>
      </mat-card>
    </mat-tab>
  </ng-container>
</mat-tab-group>
