<mat-card>
  <div class="row">
    <div class="col-3">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Название"
          autocomplete="selectionSourtFiltersour_name_filter"
          name="selectionSourtFiltersour_name_filter"
          id="selectionSourtFiltersour_name_filter"
          [(ngModel)]="filtersService.selectionSourtFilter.sour_name_filter"
          (input)="filtersService.selectionSourtFilter.page = 1; updatePage()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionSourtFilter.sour_name_filter = '';
            filtersService.selectionSourtFilter.page = 1;
            updatePage()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фонд"
          autocomplete="selectionSourtFilterfund"
          name="selectionSourtFilterfund"
          id="selectionSourtFilterfund"
          [(ngModel)]="filtersService.selectionSourtFilter.fund"
          (input)="
            filtersService.selectionSourtFilter.page = 1; updatePage(true)
          "
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionSourtFilter.fund = '';
            filtersService.selectionSourtFilter.page = 1;
            updatePage()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Опись"
          autocomplete="selectionSourtFilterlist_no"
          name="selectionSourtFilterlist_no"
          id="selectionSourtFilterlist_no"
          [(ngModel)]="filtersService.selectionSourtFilter.list_no"
          (input)="
            filtersService.selectionSourtFilter.page = 1; updatePage(true)
          "
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionSourtFilter.list_no = '';
            filtersService.selectionSourtFilter.page = 1;
            updatePage()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело"
          autocomplete="selectionSourtFilterfile_no"
          name="selectionSourtFilterfile_no"
          id="selectionSourtFilterfile_no"
          [(ngModel)]="filtersService.selectionSourtFilter.file_no"
          (input)="
            filtersService.selectionSourtFilter.page = 1; updatePage(true)
          "
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionSourtFilter.file_no = '';
            filtersService.selectionSourtFilter.page = 1;
            updatePage()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело доп."
          autocomplete="selectionSourtFilterfile_no_ext"
          name="selectionSourtFilterfile_no_ext"
          id="selectionSourtFilterfile_no_ext"
          [(ngModel)]="filtersService.selectionSourtFilter.file_no_ext"
          (input)="filtersService.selectionSourtFilter.page = 1; updatePage()"
          [disabled]="filtersService.selectionSourtFilter.file_no_ext_noneed"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Не задано"
          (click)="
            filtersService.selectionSourtFilter.file_no_ext_noneed =
              !filtersService.selectionSourtFilter.file_no_ext_noneed;
            filtersService.selectionSourtFilter.page = 1;
            updatePage()
          "
        >
          <i
            title="Не задано"
            class="fa fa-check-circle-o"
            aria-hidden="true"
            *ngIf="filtersService.selectionSourtFilter.file_no_ext_noneed"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!filtersService.selectionSourtFilter.file_no_ext_noneed"
            title="Не задано"
          ></i>
        </button>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionSourtFilter.file_no_ext = '';
            filtersService.selectionSourtFilter.page = 1;
            updatePage()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-1">
      <button class="float-right" mat-fab color="primary" (click)="onAdd()">
        +
        <i class="fa fa-book" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <mat-form-field class="w-100">
        <mat-select
          placeholder="Тип документа"
          [(ngModel)]="filtersService.selectionSourtFilter.sour_type_filter"
          (ngModelChange)="
            filtersService.selectionSourtFilter.page = 1; updatePage()
          "
        >
          <mat-option [value]="null">Неважно</mat-option>
          <mat-option
            [value]="sour_type.id"
            *ngFor="let sour_type of sour_types"
          >
            {{ sour_type.name_ent }}
            <ng-container *ngIf="sour_type?.name_rmk?.length > 0">
              ({{ sour_type.name_rmk }})</ng-container
            ></mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field class="w-100">
        <mat-select
          placeholder="Тип публикации"
          [(ngModel)]="filtersService.selectionSourtFilter.pub_type"
          (ngModelChange)="
            filtersService.selectionSourtFilter.page = 1; updatePage()
          "
        >
          <mat-option [value]="null">Неважно</mat-option>
          <mat-option
            [value]="item.id"
            *ngFor="let item of globalService.pubTypes"
            >{{ item.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <input
          autocomplete="nope"
          name="selectionSourtFiltersour_date_filter_from"
          id="selectionSourtFiltersour_date_filter_from"
          matInput
          [matDatepicker]="pickerselectionSourtFiltersour_date_filter_from"
          placeholder="Дата от"
          [(ngModel)]="
            filtersService.selectionSourtFilter.filter_sour_date_from_date
          "
          (ngModelChange)="set_date_filter_from(); updatePage()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerselectionSourtFiltersour_date_filter_from"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #pickerselectionSourtFiltersour_date_filter_from
          startView="year"
        ></mat-datepicker>
        <button
          type="button"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionSourtFilter.filter_sour_date_from_date =
              null;
            filtersService.selectionSourtFilter.filter_sour_date_from = null;
            updatePage()
          "
        >
          x
        </button>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <input
          autocomplete="nope"
          name="selectionSourtFiltersour_date_filter_to"
          id="selectionSourtFiltersour_date_filter_to"
          matInput
          [matDatepicker]="pickerselectionSourtFiltersour_date_filter_to"
          placeholder="Дата до"
          [(ngModel)]="
            filtersService.selectionSourtFilter.filter_sour_date_to_date
          "
          (ngModelChange)="set_date_filter_to(); updatePage()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerselectionSourtFiltersour_date_filter_to"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #pickerselectionSourtFiltersour_date_filter_to
          startView="year"
        ></mat-datepicker>
        <button
          type="button"
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.selectionSourtFilter.filter_sour_date_to_date = null;
            filtersService.selectionSourtFilter.filter_sour_date_to = null;
            updatePage()
          "
        >
          x
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <mat-form-field class="full-width">
        <input
          type="text"
          id="basesearch"
          matInput
          placeholder="Поиск"
          [(ngModel)]="filtersService.selectionSourtFilter.searchtxt"
          (blur)="updatePage()"
        />
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width">
        <mat-select
          placeholder="Поля поиска"
          [(ngModel)]="filtersService.selectionSourtFilter.searchflds"
          multiple
          (openedChange)="updatePage()"
          #selectedSearchflds="ngModel"
          [disabled]="
            !filtersService.selectionSourtFilter.searchtxt ||
            filtersService?.selectionSourtFilter?.searchtxt?.length == 0
          "
        >
          <mat-option disabled="disabled" class="filter-option">
            <button
              mat-raised-button
              class="mat-primary fill text-sm"
              (click)="deselectAll(selectedSearchflds)"
            >
              Снять выделение
            </button>
          </mat-option>
          <mat-option
            *ngFor="let searchfld of searchflds"
            [value]="searchfld.key"
            >{{ searchfld.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="!sortEnable">
    <div class="col-12">
      <!-- <div [style.overflow-x]="'scroll'" [style.width]="'100%'"> -->
      <table class="table">
        <thead>
          <tr>
            <!-- <th
              [style.min-width]="'70px'"
              [style.max-width]="'70px'"
              id="id"
              [style.cursor]="'pointer'"
              (click)="selectOrder('byid')"
              [innerHTML]="'id ' + postfixId"
            ></th> -->
            <th *ngIf="authService.getCurUser().isadmin">
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="isAllSelected()"
                [disabled]="sourts?.length === 0"
              >
              </mat-checkbox>
            </th>
            <th id="name" [style.width]="'calc(100% - 620px)'">Название</th>
            <th
              [style.width]="'150px'"
              [style.min-width]="'150px'"
              [style.max-width]="'150px'"
            ></th>
            <th
              id="date"
              [style.width]="'150px'"
              [style.min-width]="'150px'"
              [style.max-width]="'150px'"
              [style.cursor]="'pointer'"
              (click)="selectOrder('bysour_date')"
              [innerHTML]="'Дата ' + postfixDate"
            >
              Дата
            </th>
            <th
              id="type"
              [style.width]="'120px'"
              [style.min-width]="'120px'"
              [style.max-width]="'120px'"
            >
              Тип док.
            </th>
            <!-- <th
              id="pub"
              [style.min-width]="'120px'"
              [style.max-width]="'120px'"
            >
              Тип публ.
            </th> -->
            <th
              id="fund"
              [style.width]="'90px'"
              [style.min-width]="'90px'"
              [style.max-width]="'90px'"
              [style.cursor]="'pointer'"
              (click)="selectOrder('bypos')"
              [innerHTML]="'Фонд ' + postfixPos"
            ></th>
            <th
              id="list_no"
              [style.width]="'100px'"
              [style.min-width]="'100px'"
              [style.max-width]="'100px'"
              [style.cursor]="'pointer'"
              (click)="selectOrder('bypos')"
              [innerHTML]="'Опись ' + postfixPos"
            ></th>
            <th
              id="file_no"
              [style.width]="'90px'"
              [style.min-width]="'90px'"
              [style.max-width]="'90px'"
              [style.cursor]="'pointer'"
              (click)="selectOrder('bypos')"
              [innerHTML]="'Дело ' + postfixPos"
            ></th>
            <th
              id="file_no_ext"
              [style.width]="'100px'"
              [style.min-width]="'100px'"
              [style.max-width]="'100px'"
              [style.cursor]="'pointer'"
              (click)="selectOrder('bypos')"
              [innerHTML]="'Д.доп.' + postfixPos"
            ></th>
            <th
              [style.width]="'70px'"
              [style.min-width]="'70px'"
              [style.max-width]="'70px'"
              id="code"
              [style.cursor]="'pointer'"
              (click)="selectOrder('bypos')"
              [innerHTML]="'# ' + postfixPos"
            ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sourt of sourts" (click)="linkSourt(sourt.id)">
            <!-- <td>{{ sourt?.id }}</td> -->
            <td *ngIf="authService.getCurUser().isadmin">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? toggleSelection(sourt.id) : null"
                [checked]="isSelected(sourt.id)"
              >
              </mat-checkbox>
            </td>
            <td>{{ sourt?.sour_name }}</td>
            <td>
              <ng-container
                *ngFor="let item of sourt?.extra_person; let item_last = last"
              >
                <small
                  >{{ item }}
                  <ng-container *ngIf="!item_last">, </ng-container>
                </small>
              </ng-container>
            </td>
            <td>
              <span
                [innerHTML]="
                  dateparseService.toMultiDateStr(
                    sourt?.sour_date_begin,
                    sourt?.sour_date_end
                  )
                "
              ></span>
              <!-- <ng-container
                *ngIf="
                  sourt?.sour_date_begin === sourt?.sour_date_end;
                  else multiDate
                "
              >
                {{ sourt?.sour_date_begin | date: 'dd.MM.yyyy' }}
              </ng-container>
              <ng-template #multiDate>
                <small
                  >{{
                    sourt?.sour_date_begin | date: 'dd.MM.yyyy'
                  }}&nbsp;-<br />
                  {{ sourt?.sour_date_end | date: 'dd.MM.yyyy' }}</small
                >
              </ng-template> -->
              <!-- {{ sourt?.sour_date_begin | date: 'dd.MM.yyyy' }} -->
            </td>
            <td>{{ sourt?.sour_type_join }}</td>
            <!-- <td>{{ getPubtype(sourt?.pub_type) }}</td> -->
            <td>{{ sourt?.fund }}</td>
            <td>{{ sourt?.list_no }}</td>
            <td>{{ sourt?.file_no }}</td>
            <td>{{ sourt?.file_no_ext }}</td>
            <td>{{ sourt?.sour_no }}</td>
          </tr>
        </tbody>
      </table>
      <div class="row" *ngIf="authService.getCurUser().isadmin">
        <div class="col-12">
          <button
            matTooltip="Удалить выбранные"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDelSelected()"
            [style.margin-left]="'5px'"
            [disabled]="selection?.length === 0"
          >
            Удалить выбранные
          </button>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>

  <ng-container *ngIf="sortEnable">
    <!-- <div [style.overflow-x]="'auto'" [style.width]="'100%'"> -->
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th
                [style.width]="'30px'"
                [style.min-width]="'30px'"
                [style.max-width]="'30px'"
              ></th>
              <th
                [style.width]="'30px'"
                [style.min-width]="'30px'"
                [style.max-width]="'30px'"
              ></th>
              <!-- <th
                [style.min-width]="'70px'"
                [style.max-width]="'70px'"
                id="id"
                [style.cursor]="'pointer'"
                (click)="selectOrder('byid')"
                [innerHTML]="'id ' + postfixId"
              >
                id
              </th> -->
              <th
                id="name"
                [style.width]="'calc(100% - 560px)'"
                [style.min-width]="'140px'"
              >
                Название
              </th>
              <th
                [style.width]="'150px'"
                [style.min-width]="'150px'"
                [style.max-width]="'150px'"
              ></th>
              <th
                id="date"
                [style.width]="'150px'"
                [style.min-width]="'150px'"
                [style.max-width]="'150px'"
                [style.cursor]="'pointer'"
                (click)="selectOrder('bysour_date')"
                [innerHTML]="'Дата ' + postfixDate"
              >
                Дата
              </th>
              <th
                id="type"
                [style.width]="'120px'"
                [style.min-width]="'120px'"
                [style.max-width]="'120px'"
              >
                Тип док.
              </th>
              <!-- <th
                id="pub"
                [style.min-width]="'120px'"
                [style.max-width]="'120px'"
              >
                Тип публ.
              </th> -->
              <th
                id="fund"
                [style.width]="'90px'"
                [style.min-width]="'90px'"
                [style.max-width]="'90px'"
                [style.cursor]="'pointer'"
                (click)="selectOrder('bypos')"
                [innerHTML]="'Фонд ' + postfixPos"
              >
                Фонд
              </th>
              <th
                id="list_no"
                [style.width]="'100px'"
                [style.min-width]="'100px'"
                [style.max-width]="'100px'"
                [style.cursor]="'pointer'"
                (click)="selectOrder('bypos')"
                [innerHTML]="'Опись ' + postfixPos"
              >
                Опись
              </th>
              <th
                id="file_no"
                [style.width]="'90px'"
                [style.min-width]="'90px'"
                [style.max-width]="'90px'"
                [style.cursor]="'pointer'"
                (click)="selectOrder('bypos')"
                [innerHTML]="'Дело ' + postfixPos"
              >
                Дело
              </th>
              <th
                id="file_no_ext"
                [style.width]="'100px'"
                [style.min-width]="'100px'"
                [style.max-width]="'100px'"
                [style.cursor]="'pointer'"
                (click)="selectOrder('bypos')"
                [innerHTML]="'Д.доп. ' + postfixPos"
              >
                Д.доп
              </th>
              <th
                [style.width]="'70px'"
                [style.min-width]="'70px'"
                [style.max-width]="'70px'"
                id="code"
                [style.cursor]="'pointer'"
                (click)="selectOrder('bypos')"
                [innerHTML]="'# ' + postfixPos"
              ></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div
          cdkDropList
          #selectedList="cdkDropList"
          [cdkDropListData]="sourts"
          *ngIf="loggedInUser?.usertype !== 4"
          [cdkDropListConnectedTo]="[selectedList]"
          class="example-list w-100"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let sourt of sourts"
            cdkDrag
            (click)="linkSourt(sourt.id)"
          >
            <table class="tdummy">
              <tbody>
                <tr>
                  <td
                    [style.width]="'30px'"
                    [style.min-width]="'30px'"
                    [style.max-width]="'30px'"
                  >
                    <div
                      class="example-handle"
                      cdkDragHandle
                      (click)="stop($event)"
                    >
                      <i class="fa fa-arrows" aria-hidden="true"></i>
                    </div>
                  </td>
                  <td
                    [style.width]="'30px'"
                    [style.min-width]="'30px'"
                    [style.max-width]="'30px'"
                  >
                    <i
                      class="fa fa-arrow-circle-o-right pointer"
                      [title]="'Переместить на позицию'"
                      aria-hidden="true"
                      (click)="onMove($event, sourt)"
                    ></i>
                  </td>
                  <!-- <td
                    id="id"
                    [style.min-width]="'70px'"
                    [style.max-width]="'70px'"
                  >
                    {{ sourt.id }}
                  </td> -->
                  <!-- [style.width]="'calc(100vw - 680px)'"
                  [style.max-width]="'calc(100vw - 680px)'" -->
                  <td
                    id="name"
                    [style.width]="'calc(100% - 680px)'"
                    [style.min-width]="'240px'"
                  >
                    <span class="text-break">{{ sourt.sour_name }}</span>
                  </td>
                  <td
                    [style.width]="'150px'"
                    [style.min-width]="'150px'"
                    [style.max-width]="'150px'"
                  >
                    <ng-container
                      *ngFor="
                        let item of sourt?.extra_person;
                        let item_last = last
                      "
                    >
                      <small
                        >{{ item }}
                        <ng-container *ngIf="!item_last">, </ng-container>
                      </small>
                    </ng-container>
                  </td>
                  <td
                    id="date"
                    [style.width]="'150px'"
                    [style.min-width]="'150px'"
                    [style.max-width]="'150px'"
                  >
                    <span
                      [innerHTML]="
                        dateparseService.toMultiDateStr(
                          sourt?.sour_date_begin,
                          sourt?.sour_date_end
                        )
                      "
                    ></span>
                    <!-- <ng-container
                      *ngIf="
                        sourt?.sour_date_begin === sourt?.sour_date_end;
                        else multiDate1
                      "
                    >
                      {{ sourt?.sour_date_begin | date: 'dd.MM.yyyy' }}
                    </ng-container>
                    <ng-template #multiDate1>
                      <small
                        >{{
                          sourt?.sour_date_begin | date: 'dd.MM.yyyy'
                        }}&nbsp;-<br />
                        {{ sourt?.sour_date_end | date: 'dd.MM.yyyy' }}</small
                      >
                    </ng-template> -->
                    <!-- {{ sourt.sour_date_begin | date: 'dd.MM.yyyy' }} -->
                  </td>
                  <td
                    id="type"
                    [style.width]="'120px'"
                    [style.min-width]="'120px'"
                    [style.max-width]="'120px'"
                  >
                    {{ sourt.sour_type_join }}
                  </td>
                  <!-- <td
                    id="pub"
                    [style.min-width]="'120px'"
                    [style.max-width]="'120px'"
                  >
                    {{ getPubtype(sourt.pub_type) }}
                  </td> -->
                  <td
                    id="fund"
                    [style.width]="'90px'"
                    [style.min-width]="'90px'"
                    [style.max-width]="'90px'"
                  >
                    {{ sourt.fund }}
                  </td>
                  <td
                    id="list_no"
                    [style.width]="'100px'"
                    [style.min-width]="'100px'"
                    [style.max-width]="'100px'"
                  >
                    {{ sourt.list_no }}
                  </td>
                  <td
                    id="file_no"
                    [style.width]="'90px'"
                    [style.min-width]="'90px'"
                    [style.max-width]="'90px'"
                  >
                    {{ sourt.file_no }}
                  </td>
                  <td
                    id="file_no_ext"
                    [style.width]="'100px'"
                    [style.min-width]="'100px'"
                    [style.max-width]="'100px'"
                  >
                    {{ sourt.file_no_ext }}
                  </td>
                  <td
                    id="code"
                    [style.width]="'50px'"
                    [style.min-width]="'50px'"
                    [style.max-width]="'50px'"
                  >
                    {{ sourt.sour_no }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="loggedInUser?.usertype === 4">
          <div
            class="example-box"
            *ngFor="let sourt of sourts"
            (click)="linkSourt(sourt.id)"
          >
            <table class="tdummy">
              <tbody>
                <tr>
                  <td
                    [style.width]="'30px'"
                    [style.min-width]="'30px'"
                    [style.max-width]="'30px'"
                  ></td>
                  <td
                    [style.width]="'30px'"
                    [style.min-width]="'30px'"
                    [style.max-width]="'30px'"
                  ></td>
                  <td
                    id="name"
                    [style.width]="'calc(100% - 680px)'"
                    [style.min-width]="'240px'"
                  >
                    <span class="text-break">{{ sourt.sour_name }}</span>
                  </td>
                  <td
                    [style.width]="'150px'"
                    [style.min-width]="'150px'"
                    [style.max-width]="'150px'"
                  >
                    <ng-container
                      *ngFor="
                        let item of sourt?.extra_person;
                        let item_last = last
                      "
                    >
                      <small
                        >{{ item }}
                        <ng-container *ngIf="!item_last">, </ng-container>
                      </small>
                    </ng-container>
                  </td>
                  <td
                    id="date"
                    [style.width]="'150px'"
                    [style.min-width]="'150px'"
                    [style.max-width]="'150px'"
                  >
                    <span
                      [innerHTML]="
                        dateparseService.toMultiDateStr(
                          sourt?.sour_date_begin,
                          sourt?.sour_date_end
                        )
                      "
                    ></span>
                    <!-- <ng-container
                  *ngIf="
                    sourt?.sour_date_begin === sourt?.sour_date_end;
                    else multiDate1
                  "
                >
                  {{ sourt?.sour_date_begin | date: 'dd.MM.yyyy' }}
                </ng-container>
                <ng-template #multiDate1>
                  <small
                    >{{
                      sourt?.sour_date_begin | date: 'dd.MM.yyyy'
                    }}&nbsp;-<br />
                    {{ sourt?.sour_date_end | date: 'dd.MM.yyyy' }}</small
                  >
                </ng-template> -->
                    <!-- {{ sourt.sour_date_begin | date: 'dd.MM.yyyy' }} -->
                  </td>
                  <td
                    id="type"
                    [style.width]="'120px'"
                    [style.min-width]="'120px'"
                    [style.max-width]="'120px'"
                  >
                    {{ sourt.sour_type_join }}
                  </td>
                  <!-- <td
                id="pub"
                [style.min-width]="'120px'"
                [style.max-width]="'120px'"
              >
                {{ getPubtype(sourt.pub_type) }}
              </td> -->
                  <td
                    id="fund"
                    [style.width]="'90px'"
                    [style.min-width]="'90px'"
                    [style.max-width]="'90px'"
                  >
                    {{ sourt.fund }}
                  </td>
                  <td
                    id="list_no"
                    [style.width]="'100px'"
                    [style.min-width]="'100px'"
                    [style.max-width]="'100px'"
                  >
                    {{ sourt.list_no }}
                  </td>
                  <td
                    id="file_no"
                    [style.width]="'90px'"
                    [style.min-width]="'90px'"
                    [style.max-width]="'90px'"
                  >
                    {{ sourt.file_no }}
                  </td>
                  <td
                    id="file_no_ext"
                    [style.width]="'100px'"
                    [style.min-width]="'100px'"
                    [style.max-width]="'100px'"
                  >
                    {{ sourt.file_no_ext }}
                  </td>
                  <td
                    id="code"
                    [style.width]="'50px'"
                    [style.min-width]="'50px'"
                    [style.max-width]="'50px'"
                  >
                    {{ sourt.sour_no }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </ng-container>

  <div class="row">
    <div class="col-12 float-right" *ngIf="total > limit">
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filtersService.selectionSourtFilter.page"
        [perPage]="limit"
        [count]="total"
      ></app-pagination>
    </div>
  </div>
</mat-card>
