@media (max-width: 900px) {
	#fond,
	#opis,
	#delo {
		display: none;
	}
}
@media (max-width: 680px) {
	#code,
	#pt {
		display: none;
	}
}
@media (max-width: 540px) {
	#name {
		display: none;
	}
}
@media (max-width: 480px) {
	#birth {
		display: none;
	}
}
.btn-edit {
	min-height: 30px !important;
	min-width: 46px !important;
	line-height: 0px;
	margin-top: -3px !important;
}
tbody tr {
	cursor: pointer;
}
tbody tr:hover {
	color: #3f51b5;
}
