<mat-card>
  <div class="row">
    <div class="col-3">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фамилия"
          autocomplete="p_searchStr"
          name="p_searchStr"
          id="p_searchStr"
          [(ngModel)]="filtersService.personalTListFilter.searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Точное соответствие"
          (click)="
            filtersService.personalTListFilter.filterExact = !filtersService
              .personalTListFilter.filterExact;
            updateData()
          "
        >
          <i
            title="Точное соответствие"
            class="fa fa-check-circle-o"
            aria-hidden="true"
            *ngIf="filtersService.personalTListFilter.filterExact"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!filtersService.personalTListFilter.filterExact"
            title="Точное соответствие"
          ></i>
        </button>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Учитывать комментарий"
          (click)="
            filtersService.personalTListFilter.filterExactExt = !filtersService
              .personalTListFilter.filterExactExt;
            updateData()
          "
        >
          <i
            title="Учитывать комментарий"
            class="fa fa-check-circle-o"
            aria-hidden="true"
            *ngIf="filtersService.personalTListFilter.filterExactExt"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!filtersService.personalTListFilter.filterExactExt"
            title="Учитывать комментарий"
          ></i>
        </button>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTListFilter.searchStr = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фонд"
          autocomplete="p_searchStr_fond"
          name="p_searchStr_fond"
          id="p_searchStr_fond"
          [(ngModel)]="filtersService.personalTListFilter.searchStr_fond"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTListFilter.searchStr_fond = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Опись"
          autocomplete="p_searchStr_opis"
          name="p_searchStr_opis"
          id="p_searchStr_opis"
          [(ngModel)]="filtersService.personalTListFilter.searchStr_opis"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTListFilter.searchStr_opis = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело"
          autocomplete="p_searchStr_delo"
          name="p_searchStr_delo"
          id="p_searchStr_delo"
          [(ngModel)]="filtersService.personalTListFilter.searchStr_delo"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTListFilter.searchStr_delo = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело доп."
          autocomplete="p_searchStr_delo"
          name="p_searchStr_delo_ext"
          id="p_searchStr_delo_ext"
          [(ngModel)]="filtersService.personalTListFilter.searchStr_delo_ext"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTListFilter.searchStr_delo_ext = '';
            updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-1">
      <button
        *ngIf="viewOnly !== true"
        class="float-right"
        mat-fab
        color="primary"
        (click)="onAddPersonalt()"
      >
        +
        <i class="fa fa-book" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th
            [style.width]="'100px'"
            id="code"
            [style.cursor]="'pointer'"
            (click)="selectOrder('bycode')"
            [innerHTML]="'# ' + postfixCode"
          >
            Код
          </th>
          <th
            [style.cursor]="'pointer'"
            (click)="selectOrder('bysurname')"
            [innerHTML]="'Фамилия ' + postfixSurname"
          >
            Фамилия
          </th>
          <th id="name">Имя</th>
          <th id="pt">Отчество</th>
          <th id="birth">Дата рождения</th>
          <th
            id="fond"
            [style.width]="'100px'"
            [style.cursor]="'pointer'"
            (click)="selectOrder('bydelo')"
            [innerHTML]="'Фонд ' + postfixDelo"
          >
            Фонд
          </th>
          <th id="opis" [style.width]="'100px'">Опись</th>
          <th id="delo" [style.width]="'100px'">Дело</th>
          <th id="delo" [style.width]="'100px'">Дело доп.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let personal of personals; let i = index">
          <td (click)="onEditPersonalt(personal.code)" id="code">
            {{ personal.code }}
          </td>
          <td (click)="onEditPersonalt(personal.code)">
            <span [matTooltip]="personal?.surname_rmk">{{
              personal.surname
            }}</span>
            <i
              *ngIf="personal?.type_r != null"
              class="fa fa-circle"
              aria-hidden="true"
              title="Репрессированный"
              [style.color]="'red'"
              [style.margin-left]="'5px'"
            ></i>
            <i
              class="fa fa-circle"
              aria-hidden="true"
              *ngIf="personal?.type_a != null"
              title="Пособник"
              [style.color]="'green'"
              [style.margin-left]="'5px'"
            ></i>
          </td>
          <td (click)="onEditPersonalt(personal.code)" id="name">
            {{ personal.fname }}
          </td>
          <td (click)="onEditPersonalt(personal.code)" id="pt">
            {{ personal.lname }}
          </td>
          <td (click)="onEditPersonalt(personal.code)" id="birth">
            <span
              *ngIf="personal.birth_begin != null"
              [innerHTML]="
                dateparseService.toMultiDateStr(
                  personal.birth_begin,
                  personal.birth_end
                )
              "
            ></span
            ><span *ngIf="personal.birth_begin == null">{{
              personal.birth_rmk
            }}</span>
            <!-- <span *ngIf="personal.birth != null">{{
              personal.birth | date: 'dd.MM.yyyy'
            }}</span>
            <span *ngIf="personal.birth == null">{{ personal.birth_rmk }}</span> -->
          </td>
          <td (click)="onEditPersonalt(personal.code)" id="fond">
            {{ personal.fund }}
          </td>
          <td (click)="onEditPersonalt(personal.code)" id="opis">
            {{ personal.list_no }}
          </td>
          <td (click)="onEditPersonalt(personal.code)" id="delo">
            {{ personal.file_no }}
          </td>
          <td (click)="onEditPersonalt(personal.code)" id="delo_ext">
            {{ personal.file_no_ext }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-12 float-right" *ngIf="total > limit">
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filtersService.personalTListFilter.page"
        [perPage]="limit"
        [count]="total"
      ></app-pagination>
    </div>
  </div>
</mat-card>
