<div mat-dialog-content>
  <div class="row">
    <div class="col-1 pt-2">
      <button
        type="button"
        mat-button
        aria-label="Add"
        title="Добавить персоналию"
        (click)="onAddPersonalT()"
      >
        +<i class="fa fa-user" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-5">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фамилия"
          autocomplete="p_searchStr"
          name="p_searchStr"
          id="p_searchStr"
          [(ngModel)]="filtersService.personalTDialogFilter.searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Точное соответствие"
          (click)="
            filtersService.personalTDialogFilter.filterExact = !filtersService
              .personalTDialogFilter.filterExact;
            updateData()
          "
        >
          <i
            title="Точное соответствие"
            class="fa fa-check-circle-o"
            aria-hidden="true"
            *ngIf="filtersService.personalTDialogFilter.filterExact"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!filtersService.personalTDialogFilter.filterExact"
            title="Точное соответствие"
          ></i>
        </button>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Учитывать комментарий"
          (click)="
            filtersService.personalTDialogFilter.filterExactExt = !filtersService
              .personalTDialogFilter.filterExactExt;
            updateData()
          "
        >
          <i
            title="Учитывать комментарий"
            class="fa fa-check-circle-o"
            aria-hidden="true"
            *ngIf="filtersService.personalTDialogFilter.filterExactExt"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!filtersService.personalTDialogFilter.filterExactExt"
            title="Учитывать комментарий"
          ></i>
        </button>
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTDialogFilter.searchStr = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фонд"
          autocomplete="p_searchStr_fond"
          name="p_searchStr_fond"
          id="p_searchStr_fond"
          [(ngModel)]="filtersService.personalTDialogFilter.searchStr_fond"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTDialogFilter.searchStr_fond = '';
            updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Опись"
          autocomplete="p_searchStr_opis"
          name="p_searchStr_opis"
          id="p_searchStr_opis"
          [(ngModel)]="filtersService.personalTDialogFilter.searchStr_opis"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTDialogFilter.searchStr_opis = '';
            updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело"
          autocomplete="p_searchStr_delo"
          name="p_searchStr_delo"
          id="p_searchStr_delo"
          [(ngModel)]="filtersService.personalTDialogFilter.searchStr_delo"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.personalTDialogFilter.searchStr_delo = '';
            updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th [style.width]="'100px'" id="code">Код</th>
            <th [style.cursor]="'pointer'">Фамилия</th>
            <th id="name">Имя</th>
            <th id="pt">Отчество</th>
            <th id="birth">Дата рождения</th>
            <th id="fond" [style.width]="'100px'">Фонд</th>
            <th id="opis" [style.width]="'100px'">Опись</th>
            <th id="delo" [style.width]="'100px'">Дело</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let personal of personals; let i = index"
            [ngClass]="{ underline: isSelected(personal?.code) }"
          >
            <td (click)="togglePersonal(personal)" id="code">
              {{ personal.code }}
            </td>
            <td (click)="togglePersonal(personal)">
              <span [matTooltip]="personal?.surname_rmk">{{
                personal.surname
              }}</span>
              <i
                *ngIf="personal?.type_r != null"
                class="fa fa-circle"
                aria-hidden="true"
                title="Репрессированный"
                [style.color]="'red'"
                [style.margin-left]="'5px'"
              ></i>
              <i
                class="fa fa-circle"
                aria-hidden="true"
                *ngIf="personal?.type_a != null"
                title="Пособник"
                [style.color]="'green'"
                [style.margin-left]="'5px'"
              ></i>
            </td>
            <td (click)="togglePersonal(personal)" id="name">
              {{ personal.fname }}
            </td>
            <td (click)="togglePersonal(personal)" id="pt">
              {{ personal.lname }}
            </td>
            <td (click)="togglePersonal(personal)" id="birth">
              <span
                *ngIf="personal.birth_begin != null"
                [innerHTML]="
                  dateparseService.toMultiDateStr(
                    personal.birth_begin,
                    personal.birth_end
                  )
                "
              ></span
              ><span *ngIf="personal.birth_begin == null">{{
                personal.birth_rmk
              }}</span>
              <!-- <span *ngIf="personal.birth != null">{{
                personal.birth | date: 'dd.MM.yyyy'
              }}</span>
              <span *ngIf="personal.birth == null">{{
                personal.birth_rmk
              }}</span> -->
            </td>
            <td (click)="togglePersonal(personal)" id="fond">
              {{ personal.fund }}
            </td>
            <td (click)="togglePersonal(personal)" id="opis">
              {{ personal.list_no }}
            </td>
            <td (click)="togglePersonal(personal)" id="delo">
              {{ personal.file_no }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button
    [disabled]="selectedPersonals?.length === 0"
    mat-button
    [mat-dialog-close]="selectedPersonals"
  >
    Присоединить
  </button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Отмена</button>
</div>
