<router-outlet></router-outlet>
<ngx-spinner class="myspiner" bdColor="rgba(51,51,51,0.5)" >
  <!-- <p style="color: white" *ngIf="loadedStr.length > 0">
    {{ loadedStr }}
  </p> -->
</ngx-spinner>
