@media (max-width: 540px) {
	#name {
		display: none;
	}
}
@media (max-width: 410px) {
	#number {
		display: none;
	}
}
.btn-edit {
	min-height: 30px !important;
	min-width: 46px !important;
	line-height: 0px;
	margin-top: -3px !important;
}
