<mat-card>
  <div class="row">
    <div class="col-8">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фильтр"
          [(ngModel)]="filtersService.placeTListFilter.searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="filtersService.placeTListFilter.searchStr = ''; updateData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button
        class="float-right"
        mat-fab
        color="primary"
        (click)="onAddPlace()"
      >
        +
        <i class="fa fa-globe" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th id="number">Номер</th>
          <th>Код</th>
          <th id="name">Название</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let place of places; let i = index">
          <td (click)="onEditPlace(place.id)">{{ place.id }}</td>
          <td (click)="onEditPlace(place.id)" id="number">
            {{ place.place_num }}
          </td>
          <td (click)="onEditPlace(place.id)">{{ place.place_code }}</td>
          <td (click)="onEditPlace(place.id)" id="name">
            {{ place.place_name }}
          </td>
          <!-- <td>
						<button class="float-right btn-edit" mat-raised-button (click)="onEditPlace(place.id)" [innerHTML]="aditStr"></button>
					</td> -->
        </tr>
      </tbody>
    </table>
    <!-- <div class="col float-right">
      <mat-paginator
        class="float-right"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = setPageSizeOptions($event)"
        [pageIndex]="pageEvent?.pageIndex"
        #paginator
      >
      </mat-paginator>
    </div> -->
    <div class="col-12 float-right" *ngIf="total > limit">
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filtersService.placeTListFilter.page"
        [perPage]="limit"
        [count]="total"
      ></app-pagination>
    </div>
  </div>
</mat-card>
