<div class="dialog-base">
  <div mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width">
          <input
            type="text"
            placeholder="Выбрать выборку"
            aria-label="Выбрать выборку"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option
              *ngFor="let option of filteredOptions | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [disabled]="!myControl?.value?.id" (click)="onSave()">
      Выбрать
    </button>
    <button mat-button cdkFocusInitial [mat-dialog-close]="false">
      Создать новую выборку
    </button>
    <button mat-button [mat-dialog-close]="null">Отмена</button>
  </div>
</div>
