<div class="wrap" appHotKeys>
  <div
    class="next d-flex justify-content-center align-items-center"
    *ngIf="id && nextId"
    [matTooltip]="'Вперед'"
    (click)="onMove('next')"
  >
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  <div
    class="previous d-flex justify-content-center align-items-center"
    *ngIf="id && previousId"
    [matTooltip]="'Назад'"
    (click)="onMove('previous')"
  >
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <mat-card>
    <div class="container">
      <form [formGroup]="sourtForm" class="full-width" (ngSubmit)="onSave()">
        <div class="row">
          <div class="col-12 mb-2">
            <mat-slide-toggle
              [style.margin]="'15px 15px 15px 0px'"
              formControlName="published"
              (change)="onPubToggleChange()"
            >
              Публиковать
            </mat-slide-toggle>
          </div>
          <div class="col-md-6 col-lg-2 col-xl-2 col-12">
            <mat-form-field class="w-100">
              <input
                autocomplete="nope"
                name="fund"
                id="fund"
                type="text"
                matInput
                placeholder="Фонд"
                formControlName="fund"
                [maxLength]="sourT_width['fund']"
                #fund
              />
              <mat-hint align="end"
                >{{ fund?.value?.length }} / {{ sourT_width['fund'] }}</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-2 col-xl-2 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="list_no"
                id="list_no"
                type="text"
                matInput
                placeholder="Опись"
                formControlName="list_no"
                [maxLength]="sourT_width['list_no']"
                #list_no
              />
              <mat-hint align="end"
                >{{ list_no?.value?.length }} /
                {{ sourT_width['list_no'] }}</mat-hint
              >
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-2 col-xl-2 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="file_no"
                id="file_no"
                type="text"
                matInput
                placeholder="Дело"
                formControlName="file_no"
                [maxLength]="sourT_width['file_no']"
                #file_no
                (input)="checkDelo()"
              />
              <mat-hint align="end"
                >{{ file_no?.value?.length }} /
                {{ sourT_width['file_no'] }}</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-2 col-xl-2 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="file_no_ext"
                id="file_no_ext"
                type="text"
                matInput
                placeholder="Дело доп."
                formControlName="file_no_ext"
                [maxLength]="sourT_width['file_no_ext']"
                #file_no_ext
                (input)="checkDelo()"
              />
              <mat-hint align="end"
                >{{ file_no_ext?.value?.length }} /
                {{ sourT_width['file_no_ext'] }}</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="pt-3">
            <p class="document-id">№ документа: {{ id }}</p>
          </div>
          <div class="col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="place_so"
                id="place_so"
                type="text"
                matInput
                placeholder="Местонахождение документа"
                formControlName="place_so"
                [maxLength]="sourT_width['place_so']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4 col-12 pt-3">
            <button
              [disabled]="!delo"
              (click)="linkDelo()"
              class="btn-pict"
              type="button"
              mat-raised-button
            >
              Перейти к делу
            </button>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12 pt-3">
            <button
              (click)="onLinkDocuments()"
              class="btn-pict"
              type="button"
              mat-raised-button
            >
              Список документов
            </button>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-4 col-12 pt-3">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="sour_no"
                id="sour_no"
                type="number"
                step="1"
                min="1"
                max="99"
                matInput
                placeholder="Порядковый номер*"
                formControlName="sour_no"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12 pt-3">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="sour_name"
                id="sour_name"
                type="text"
                matInput
                placeholder="Название документа"
                formControlName="sour_name"
                [maxLength]="sourT_width['sour_name']"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>

          <div class="col-md-4 col-lg-4 col-xl-4 col-12 pt-3">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="sour_date_begin_end"
                id="sour_date_begin_end"
                type="text"
                matInput
                placeholder="Дата документа"
                formControlName="sour_date_begin_end"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
                (blur)="
                  dateparseService.getSour_date(
                    sourtForm,
                    'sour_date_begin_end',
                    'sour_date_begin',
                    'sour_date_end'
                  )
                "
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12 pt-3">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="sour_date"
                id="sour_date"
                type="text"
                matInput
                placeholder="Комментарий к дате"
                formControlName="sour_date"
                [maxLength]="sourT_width['sour_date']"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>

          <div class="col-md-4 col-lg-4 col-xl-4 col-12 pt-3">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="sour_code"
                id="sour_code"
                type="text"
                matInput
                placeholder="Количество листов или образов"
                formControlName="sour_code"
                [maxLength]="sourT_width['sour_code']"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-2 col-xl-2 col-12 pt-3">
            <mat-form-field class="full-width">
              <mat-select
                multiple
                placeholder="Тип документа"
                formControlName="sour_type"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              >
                <mat-select-trigger>
                  <ng-container
                    *ngFor="
                      let value of sourtForm.controls.sour_type.value;
                      let vlast = last
                    "
                  >
                    {{ value.name_ent
                    }}<ng-container *ngIf="!vlast">,&nbsp;</ng-container>
                  </ng-container>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let sour_type of sour_types"
                  [value]="sour_type"
                >
                  {{ sour_type.name_ent }}
                  <ng-container *ngIf="sour_type?.name_rmk?.length > 0">
                    ({{ sour_type.name_rmk }})</ng-container
                  >
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row pt-3 pl-5">
            <mat-radio-group
              class="example-radio-group"
              formControlName="sour_mark"
            >
              <mat-radio-button class="example-radio-button ml-2" [value]="'О'">
                Оригинал
              </mat-radio-button>
              <mat-radio-button class="example-radio-button ml-2" [value]="'К'">
                Копия
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-slide-toggle
              [style.margin]="'15px 0 15px 0'"
              formControlName="mark_mem"
            >
              Источник хранится в архиве
            </mat-slide-toggle>
          </div> -->

          <div class="col-md-4 col-lg-4 col-xl-4 col-12 pt-3">
            <mat-form-field class="w-100">
              <mat-select
                multiple
                placeholder="Тип воспроизведения"

                formControlName="reprod_typeInForm"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              >
                <mat-select-trigger>
                  <ng-container
                    *ngFor="
                      let value of sourtForm.controls.reprod_typeInForm.value;
                      let vlast = last
                    "
                  >
                    {{ value.name_ent
                    }}<ng-container *ngIf="!vlast">,&nbsp;</ng-container>
                  </ng-container>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let reprod_type of reprod_types"
                  [value]="reprod_type"
                >
                  {{ reprod_type.name_ent }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12 pt-3">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="reprod_rmk"
                id="reprod_rmk"
                type="text"
                matInput
                placeholder="Комментарий к типу воспроизведения"
                formControlName="reprod_rmk"
                [maxLength]="sourT_width['reprod_rmk']"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 col-12 pt-3">
            <mat-form-field class="w-100">
              <mat-select
                placeholder="Правила доступа"
                formControlName="pub_type"
              >
                <mat-option
                  [value]="item.id"
                  *ngFor="let item of globalService.pubTypes"
                  >{{ item.value }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12 pt-3">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="acs_rmk"
                id="acs_rmk"
                type="text"
                matInput
                placeholder="Комментарий к правилам доступа"
                formControlName="acs_rmk"
                [maxLength]="sourT_width['acs_rmk']"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="sour_rmk"
                id="sour_rmk"
                type="text"
                matInput
                placeholder="Общий комментарий"
                formControlName="sour_rmk"
                [maxLength]="sourT_width['sour_rmk']"
              />
            </mat-form-field>
          </div>

          <ng-container *ngIf="sourt?.personals?.length > 0">
            <h6 [style.font-weight]="'bold'" class="pt-2">
              Упомянутые персоналии
            </h6>
            <table class="table">
              <thead>
                <tr>
                  <th id="mcode">Код</th>
                  <th>Фамилия</th>
                  <th id="mname">Имя</th>
                  <th id="mpt">Отч.</th>
                  <th>Фонд</th>
                  <th>Опись</th>
                  <th>Дело</th>
                  <th>Дело доп.</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let personal of sourt?.personals"
                  [ngClass]="{
                    underline:
                      personal?.fund == sourtForm.value.fund &&
                      personal?.list_no == sourtForm.value.list_no &&
                      personal?.file_no == sourtForm.value.file_no
                  }"
                  (click)="linkPersonal(personal.code)"
                >
                  <td>{{ personal?.code }}</td>
                  <td [matTooltip]="personal?.surname_rmk">
                    {{ personal?.surname }}
                  </td>
                  <td>{{ personal?.fname }}</td>
                  <td>{{ personal?.lname }}</td>
                  <td>{{ personal?.fund }}</td>
                  <td>{{ personal?.list_no }}</td>
                  <td>{{ personal?.file_no }}</td>
                  <td>{{ personal?.file_no_ext }}</td>
                  <td>
                    <span
                      class="badge badge-danger badge-pill"
                      (click)="unlinkPersonal(personal.link_id, $event)"
                      matTooltip="Отсоединить"
                      *ngIf="!viewOnly"
                    >
                      <i class="fa fa-ban" aria-hidden="true"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <div class="col-12" *ngIf="id">
            <button
              type="button"
              mat-raised-button
              color="primary"
              [disabled]="viewOnly"
              (click)="joinPersonal()"
              [title]="'Привязать персоналию'"
            >
              <!-- Привязать персоналию -->
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <hr />
        <div class="row mt-3" *ngIf="sourtlinks?.length > 0">
          <div class="col-12">
            <h6 [style.font-weight]="'bold'" class="pt-2">Дубликаты</h6>
          </div>
          <div
            class="col-md-12 col-lg-6 col-xl-6 col-12"
            *ngFor="let sourtlink of sourtlinks; let i = index"
            [style.margin-top]="'5px'"
          >
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="sourtlink.checkToDel == false"
            >
              <span
                [style.cursor]="'pointer'"
                (click)="
                  onLinkSourt(
                    id == sourtlink.sour_t_id1
                      ? sourtlink.sour_t_id2
                      : sourtlink.sour_t_id1
                  )
                "
                >{{
                  id == sourtlink.sour_t_id1
                    ? sourtlink.sour_name2
                    : sourtlink.sour_name1
                }}<br />
                <br />
                Фонд:
                {{
                  id == sourtlink.sour_t_id1 ? sourtlink.fund2 : sourtlink.fund1
                }}
                Опись:
                {{
                  id == sourtlink.sour_t_id1
                    ? sourtlink.list_no2
                    : sourtlink.list_no1
                }}
                Дело:
                {{
                  id == sourtlink.sour_t_id1
                    ? sourtlink.file_no2
                    : sourtlink.file_no1
                }}
                Дата:
                {{
                  id == sourtlink.sour_t_id1
                    ? sourtlink.sour_date2
                    : sourtlink.sour_date1
                }}
              </span>
              <span
                class="badge badge-light badge-pill"
                *ngIf="!viewOnly"
                (click)="toggleCheckToDelLink(i, sourtlink)"
                matTooltip="Пометить на удаление"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="sourtlink.checkToDel == true"
              [style.text-decoration]="'line-through'"
            >
              <span
                >{{
                  id == sourtlink.sour_t_id1
                    ? sourtlink.sour_name2
                    : sourtlink.sour_name1
                }}<br />
                <br />
                Фонд:
                {{
                  id == sourtlink.sour_t_id1 ? sourtlink.fund2 : sourtlink.fund1
                }}
                Опись:
                {{
                  id == sourtlink.sour_t_id1
                    ? sourtlink.list_no2
                    : sourtlink.list_no1
                }}
                Дело:
                {{
                  id == sourtlink.sour_t_id1
                    ? sourtlink.file_no2
                    : sourtlink.file_no1
                }}
                Дата:
                {{
                  id == sourtlink.sour_t_id1
                    ? sourtlink.sour_date2
                    : sourtlink.sour_date1
                }}
              </span>
              <span
                class="badge badge-light badge-pill"
                (click)="toggleCheckToDelLink(i, sourtlink)"
                matTooltip="Снять пометку на удаление"
              >
                <i class="fa fa-check" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <button
              class="btn-pict"
              type="button"
              mat-raised-button
              (click)="setDubl()"
              [disabled]="viewOnly"
            >
              Указать дубликат
            </button>
          </div>
        </div>
        <div class="row" *ngIf="links?.length > 0">
          <div
            class="col-md-12 col-lg-6 col-xl-6 col-12"
            *ngFor="let sourtrlink of links; let i = index"
            [style.margin-top]="'5px'"
          >
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <span>{{ sourtrlink.val.sour_name }} (Дубликат)</span>
              <span
                class="badge badge-danger badge-pill"
                (click)="onDelLinkById(i)"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <hr />
        <div>
          <div
            class="row"
            *ngIf="!sourt?.children || sourt?.children?.length === 0"
          >
            <div class="col-12 mb-2">
              <button
                class="btn-pict"
                type="button"
                mat-raised-button
                (click)="setParents()"
                [disabled]="viewOnly"
              >
                Относится к
              </button>
              <button
                class="btn-pict ml-3"
                type="button"
                mat-raised-button
                (click)="removeParents()"
                *ngIf="parentSourt"
              >
                Отвязать родительский документ
              </button>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Относится к</th>
                  <th>Фонд</th>
                  <th>Опись</th>
                  <th>Дело</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="linkDocument(parentSourt.id)" *ngIf="parentSourt">
                  <td>{{ parentSourt.sour_name }}</td>
                  <td>{{ parentSourt?.fund }}</td>
                  <td>{{ parentSourt?.list_no }}</td>
                  <td>{{ parentSourt?.file_no }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" *ngIf="sourt?.children?.length > 0">
            <div class="col-12">
              <h6 [style.font-weight]="'bold'" class="pt-2">Состоит из</h6>
              <table class="table">
                <thead>
                  <tr>
                    <th>Название документа</th>
                    <th>Фонд</th>
                    <th>Опись</th>
                    <th>Дело</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let child of sourt?.children"
                    [ngClass]="{ striked: child.checkToDel }"
                  >
                    <td (click)="linkDocument(child.id)">
                      {{ child.sour_name }}
                    </td>
                    <td (click)="linkDocument(child.id)">{{ child?.fund }}</td>
                    <td (click)="linkDocument(child.id)">
                      {{ child?.list_no }}
                    </td>
                    <td (click)="linkDocument(child.id)">
                      {{ child?.file_no }}
                    </td>
                    <td>
                      <span
                        class="badge badge-danger badge-pill"
                        (click)="
                          child.checkToDel = child.checkToDel ? false : true
                        "
                        matTooltip="Удалить"
                      >
                        <i class="fa fa-ban" aria-hidden="true"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-12">
            <button
              type="button"
              mat-raised-button
              color="primary"
              [disabled]="viewOnly"
              (click)="onAddFiles()"
              [title]="'Добавить файлы'"
            >
              +<i class="fa fa-file-image-o" aria-hidden="true"></i>
            </button>
          </div>

          <div class="col-12 mt-2" *ngIf="folder_files_to_add?.length > 0">
            <div class="row">
              <div
                class="col-md-8 col-lg-8 col-xl-8 col-12"
                [style.margin-bottom]="'5px'"
              >
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let file of folder_files_to_add; let i = index"
                  >
                    {{ file.archivefile?.filename }}
                    <span
                      class="badge badge-danger badge-pill"
                      (click)="onDelFileById(i)"
                    >
                      <i class="fa fa-ban" aria-hidden="true"></i>
                    </span>
                  </li>
                </ul>
              </div>
              <div
                class="col-md-4 col-lg-4 col-xl-4 col-12"
                [style.margin-bottom]="'10px'"
              >
                <button
                  matTooltip="Очистить список"
                  type="button"
                  mat-raised-button
                  color="warn"
                  (click)="onDelFiles()"
                >
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-4 col-xl-4 col-12"
            *ngFor="
              let selectedArchivefolderfile of folder_files;
              let i = index
            "
            [style.margin-top]="'5px'"
          >
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="selectedArchivefolderfile.checkToDel == false"
            >
              <div ngbDropdown [style.max-width]="'100%'">
                <a class="dropdown-toggle download" id="id02" ngbDropdownToggle
                  ><small>{{
                    selectedArchivefolderfile.archivefile.filename
                  }}</small></a
                >
                <div
                  class="dropdown-menu"
                  aria-labelledby="id02"
                  ngbDropdownMenu
                  [style.min-width]="'100px'"
                >
                  <a
                    class="dropdown-item"
                    (click)="
                      onShowImg(
                        selectedArchivefolderfile?.file_id,
                        selectedArchivefolderfile
                      )
                    "
                    *ngIf="
                      globalService.isImgtype(
                        selectedArchivefolderfile.archivefile.filename
                      ) ||
                      globalService.isVideotype(
                        selectedArchivefolderfile.archivefile.filename
                      ) ||
                      globalService.isAudiotype(
                        selectedArchivefolderfile.archivefile.filename
                      ) ||
                      globalService.isPdftype(
                        selectedArchivefolderfile.archivefile.filename
                      )
                    "
                  >
                    Открыть
                  </a>
                  <a
                    class="dropdown-item btn disabled"
                    *ngIf="
                      !globalService.isImgtype(
                        selectedArchivefolderfile.archivefile.filename
                      ) &&
                      !globalService.isVideotype(
                        selectedArchivefolderfile.archivefile.filename
                      ) &&
                      !globalService.isAudiotype(
                        selectedArchivefolderfile.archivefile.filename
                      ) &&
                      !globalService.isPdftype(
                        selectedArchivefolderfile.archivefile.filename
                      )
                    "
                  >
                    Открыть
                  </a>
                  <a
                    class="dropdown-item"
                    (click)="
                      onDownloadArchivefolderfile(
                        selectedArchivefolderfile?.file_id
                      )
                    "
                  >
                    Скачать
                  </a>
                  <a
                    class="dropdown-item"
                    *ngIf="!viewOnly"
                    (click)="copyFilename(selectedArchivefolderfile)"
                  >
                    Скопировать название файла
                  </a>
                </div>
              </div>
              <span
                class="badge badge-light badge-pill"
                (click)="toggleCheckToDel(i)"
                *ngIf="!viewOnly"
                matTooltip="Пометить на удаление"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </div>
            <div
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngIf="selectedArchivefolderfile.checkToDel == true"
              [style.text-decoration]="'line-through'"
            >
              <span class="download"
                ><small>{{
                  selectedArchivefolderfile.archivefile.filename
                }}</small></span
              >
              <span
                class="badge badge-light badge-pill"
                (click)="toggleCheckToDel(i)"
                matTooltip="Снять пометку на удаление"
              >
                <i class="fa fa-check" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!viewOnly">
          <div class="col-12" [style.margin-top]="'10px'">
            <button
              [disabled]="sourtForm.invalid"
              type="submit"
              mat-raised-button
              color="primary"
            >
              Сохранить
            </button>
            <button
              class="btn-pict"
              matTooltip="Обновить"
              type="button"
              mat-raised-button
              (click)="getData()"
              [style.margin-left]="'5px'"
            >
              <i class="fa fa-fw fa-refresh"></i>
            </button>
            <button
              class="btn-pict"
              matTooltip="Удалить"
              type="button"
              mat-raised-button
              color="warn"
              (click)="onDel()"
              [style.margin-left]="'5px'"
              *ngIf="id"
            >
              <i class="fa fa-fw fa-ban"></i>
            </button>
            <button
              type="button"
              [style.margin-left]="'5px'"
              mat-raised-button
              color="primary"
              (click)="linkList()"
            >
              Назад
            </button>
            <button
              [disabled]="sourtForm.invalid"
              class="btn-pict float-right"
              matTooltip="Сохранить и создать следующую запись"
              type="button"
              mat-raised-button
              color="primary"
              (click)="onSave(true, true)"
              [style.margin-left]="'5px'"
            >
              +1
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
<div
  class="progress-bar mt-2 mb-2"
  *ngIf="inProgress"
  [style.background]="'white'"
  [style.z-index]="'9999'"
>
  Загружено {{ loaded }} мб.
</div>
<app-lightbox
  #lightbox
  [images]="lightboxImages"
  [showRotate]="false"
  [wait]="galleryWait"
  (onClose)="lightboxImages.length = 0"
  (onChange)="previewChange($event)"
></app-lightbox>
