@media (max-width:650px) {
  #trudindex {
    display: none;
  }
  #trudindex_scann {
    display: none;
  }
}

.btn-edit {
  min-height: 30px !important;
  min-width: 46px !important;
  line-height: 0px;
  margin-top: -3px !important;
}
