<mat-card>
  <div class="row">
    <div class="col-8">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фильтр"
          [(ngModel)]="searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchStr = ''; updateData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button
        class="float-right"
        mat-fab
        color="primary"
        (click)="onAddFonditem()"
      >
        +
        <i class="fa fa-list" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th
            [style.cursor]="'pointer'"
            [style.width]="'150px'"
            (click)="selectOrder('byfond')"
            [innerHTML]="'Фонд ' + postfixFond"
          >
            Фонд
          </th>
          <th [style.width]="'30%'">Название</th>
          <th>Описание</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let fondItem of fondItems
              | fonditemsFilter: searchStr
              | slice: start:end;
            let i = index
          "
          [ngClass]="{
            colorGray: fondItem.finished === false,
            colorBlack: fondItem.finished === true
          }"
        >
          <td (click)="onEditFonditem(fondItem.id)">
            {{ fondItem.fond }}
          </td>
          <td (click)="onEditFonditem(fondItem.id)">
            {{ fondItem.description }}
          </td>
          <td (click)="onEditFonditem(fondItem.id)">
            {{ fondItem.description_long }}
          </td>
          <!-- <td>
						<button class="float-right btn-edit" mat-raised-button (click)="onEditOpisitem(opisItem.id)" [innerHTML]="aditStr"></button>
					</td> -->
        </tr>
      </tbody>
    </table>
    <!-- <div class="col float-right">
      <mat-paginator
        class="float-right"
        [length]="(fondItems | fonditemsFilter: searchStr)?.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = setPageSizeOptions($event)"
        [pageIndex]="pageEvent?.pageIndex"
        #paginator
      >
      </mat-paginator>
    </div> -->
    <div
      class="col-12 float-right"
      *ngIf="(fondItems | fonditemsFilter: searchStr)?.length > limit"
    >
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="page"
        [perPage]="limit"
        [count]="(fondItems | fonditemsFilter: searchStr)?.length"
      ></app-pagination>
    </div>
  </div>
</mat-card>
