<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <mat-slide-toggle
        [style.margin]="'15px 0 15px 0'"
        [(ngModel)]="personalSearch"
      >
        Поиск по персоналии
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row" *ngIf="personalSearch">
    <div class="col-12">
      <mat-form-field class="full-width">
        <input
          type="text"
          placeholder="Человек*"
          aria-label="Человек*"
          matInput
          [formControl]="human_code"
          [matAutocomplete]="autoact_human_code"
          (input)="inputLink_familyt_human_code()"
          [style.font-size]="'13px'"
          (ngModelChange)="updatePage()"
        />
        <mat-autocomplete
          #autoact_human_code="matAutocomplete"
          [displayWith]="displayFn_human_code"
        >
          <mat-option
            *ngFor="let item of filteredPersonalts | async"
            [value]="item"
            title="{{ item.code }}.&nbsp;{{ item.surname }}.&nbsp;{{
              item.fname
            }}.&nbsp;{{ item.lname }}.&nbsp;{{
              dateparseService.toMultiDateStr(
                item.birth_begin,
                item.birth_end,
                false
              )
            }}&nbsp;{{ item.birth_rmk }}"
          >
            <span [style.font-size]="'12px'"
              >{{ item.code }}. {{ item.surname }}. {{ item.fname }}.
              {{ item.lname }}</span
            >&nbsp;<span
              [style.font-size]="'12px'"
              *ngIf="item.birth_begin != null"
              >{{
                dateparseService.toMultiDateStr(
                  item.birth_begin,
                  item.birth_end,
                  false
                )
              }}</span
            >
            <span [style.font-size]="'12px'" *ngIf="item.birth_begin == null">{{
              item.birth_rmk
            }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="!personalSearch">
    <div class="col-4">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фонд"
          [(ngModel)]="fund"
          (input)="updatePage()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="fund = ''; updatePage()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Опись"
          [(ngModel)]="list_no"
          (input)="updatePage()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="list_no = ''; updatePage()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Дело"
          [(ngModel)]="file_no"
          (input)="updatePage()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="file_no = ''; updatePage()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th [style.width]="'100px'" id="id">id</th>
            <th [style.width]="'100px'" id="code">#</th>
            <th id="name">Название</th>
            <th id="date" [style.width]="'200px'">Дата</th>
            <th id="type" [style.width]="'200px'">Тип док.</th>
            <th id="pub" [style.width]="'200px'">Тип публ.</th>
            <th id="fund" [style.width]="'100px'">Фонд</th>
            <th id="list_no" [style.width]="'100px'">Опись</th>
            <th id="file_no" [style.width]="'100px'">Дело</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let sourt of sourts"
            (click)="togglePersonal(sourt)"
            [ngClass]="{ underline: isSelected(sourt?.id) }"
          >
            <td>{{ sourt.id }}</td>
            <td>{{ sourt.sour_no }}</td>
            <td>{{ sourt.sour_name }}</td>
            <td>{{ sourt.sour_date }}</td>
            <td>{{ sourt.sour_type_join }}</td>
            <td>{{ getPubtype(sourt.pub_type) }}</td>
            <td>{{ sourt.fund }}</td>
            <td>{{ sourt.list_no }}</td>
            <td>{{ sourt.file_no }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button
    [disabled]="selectedSourts?.length === 0"
    mat-button
    [mat-dialog-close]="selectedSourts"
  >
    Присоединить
  </button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Отмена</button>
</div>
