<mat-card>
  <mat-card-header *ngIf="selectedPersonalcode">
    <mat-card-title>
      <div class="row">
        Код: {{ selectedPersonalcode }}
        <span *ngIf="selectedPersonal?.surname?.length > 0"
          >({{ selectedPersonal?.surname }} {{ selectedPersonal?.fname }}
          {{ selectedPersonal?.lname }})</span
        >
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <ol class="breadcrumb d-none d-lg-block">
        <li
          *ngFor="let breadcrumb of breadcrumbs; last as isLast"
          class="breadcrumb-item"
          [ngClass]="{ active: isLast }"
          aria-current="page"
        >
          <a *ngIf="!isLast; else lastRoute" (click)="goBack(breadcrumb.url)">
            {{ breadcrumb.label }}
          </a>
          <ng-template #lastRoute
            ><span>{{ breadcrumb.label }}</span></ng-template
          >
        </li>
      </ol>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="container">
    <form [formGroup]="helptForm" class="full-width" (ngSubmit)="onSaveForm()">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width mat-intable">
            <input
              autocomplete="nope"
              name="help_no"
              id="help_no"
              type="number"
              step="1"
              min="1"
              max="99"
              matInput
              placeholder="Номер помощи*"
              formControlName="help_no"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="help_dat"
              id="help_dat"
              matInput
              [matDatepicker]="pickerhelp_dat"
              placeholder="Дата помощи"
              formControlName="help_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerhelp_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerhelp_dat startView="year"></mat-datepicker>
            <button
              [disabled]="viewOnly"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetHelp_dat()"
            >
              x
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width mat-intable">
            <mat-select
              placeholder="Тип помощи"
              formControlName="help_typ_id"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            >
              <mat-option [value]="null"> </mat-option>
              <mat-option
                *ngFor="let help_typ of help_types"
                [value]="help_typ.id"
              >
                {{ help_typ.name_ent }}
                <span *ngIf="help_typ.name_rmk">({{ help_typ.name_rmk }})</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="help_typ_rmk"
              id="help_typ_rmk"
              type="text"
              matInput
              placeholder="Комментарий к типу помощи"
              formControlName="help_typ_rmk"
              [maxLength]="helpT_width['help_typ_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="whom"
              id="whom"
              type="text"
              matInput
              placeholder="Кому оказывалась помощь"
              formControlName="whom"
              [maxLength]="helpT_width['whom']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="whom_rmk"
              id="whom_rmk"
              type="text"
              matInput
              placeholder="Коментарий к кому оказывалась помощь"
              formControlName="whom_rmk"
              [maxLength]="helpT_width['whom_rmk']"
            />
          </mat-form-field>
        </div>
        <div
          class="col-12"
          *ngIf="intType != 'myprofile'"
          [style.margin-top]="'10px'"
        >
          <button
            [disabled]="viewOnly || !helptForm.valid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Сохранить
          </button>
          <button
            [disabled]="viewOnly"
            class="btn-pict"
            matTooltip="Обновить"
            type="button"
            mat-raised-button
            (click)="getData()"
            [style.margin-left]="'5px'"
          >
            <i class="fa fa-fw fa-refresh"></i>
          </button>
          <button
            [disabled]="viewOnly"
            class="btn-pict"
            matTooltip="Удалить"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDel()"
            [style.margin-left]="'5px'"
            *ngIf="intType == 'editdoc'"
          >
            <i class="fa fa-fw fa-ban"></i>
          </button>
          <button
            type="button"
            [style.margin-left]="'5px'"
            mat-raised-button
            color="primary"
            (click)="goBack()"
          >
            Назад
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-card>
