<mat-card>
  <mat-card-header *ngIf="selectedPersonalcode">
    <mat-card-title>
      <div class="row">
        Код: {{ selectedPersonalcode }}
        <span *ngIf="selectedPersonal?.surname?.length > 0"
          >({{ selectedPersonal?.surname }} {{ selectedPersonal?.fname }}
          {{ selectedPersonal?.lname }})</span
        >
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <ol class="breadcrumb d-none d-lg-block">
        <li
          *ngFor="let breadcrumb of breadcrumbs; last as isLast"
          class="breadcrumb-item"
          [ngClass]="{ active: isLast }"
          aria-current="page"
        >
          <a *ngIf="!isLast; else lastRoute" (click)="goBack(breadcrumb.url)">
            {{ breadcrumb.label }}
          </a>
          <ng-template #lastRoute
            ><span>{{ breadcrumb.label }}</span></ng-template
          >
        </li>
      </ol>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="container">
    <form
      [formGroup]="represstForm"
      class="full-width"
      (ngSubmit)="onSaveForm()"
    >
      <div class="row">
        <!-- <div class="col-md-6 col-lg-4 col-xl-4 col-12"> -->
        <div class="col-12">
          <mat-form-field class="full-width mat-intable">
            <input
              autocomplete="nope"
              name="repress_no"
              id="repress_no"
              type="number"
              step="1"
              min="1"
              max="99"
              matInput
              placeholder="Номер репрессии*"
              formControlName="repress_no"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="repress_dat"
              id="repress_dat"
              matInput
              [matDatepicker]="pickerrepress_dat"
              placeholder="Дата репрессии"
              formControlName="repress_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerrepress_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #pickerrepress_dat
              startView="year"
            ></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetRepress_dat()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="repress_dat_begin_end"
              id="repress_dat_begin_end"
              type="text"
              matInput
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              placeholder="Дата репрессии"
              formControlName="repress_dat_begin_end"
              (blur)="
                dateparseService.getSour_date(
                  represstForm,
                  'repress_dat_begin_end',
                  'repress_dat_begin',
                  'repress_dat_end'
                )
              "
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="repress_dat_rmk"
              id="repress_dat_rmk"
              type="text"
              matInput
              placeholder="Комментарий к дате репрессии"
              formControlName="repress_dat_rmk"
              [maxLength]="repressT_width['repress_dat_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              placeholder="Код места жительства в момент репрессии"
              aria-label="Код места жительства в момент репрессии"
              matInput
              [formControl]="myControl_geoplace_code"
              [matAutocomplete]="autogeoplace_code"
              (input)="inputLink_geoplace_code()"
            />
            <mat-autocomplete
              #autogeoplace_code="matAutocomplete"
              [displayWith]="displayFn_residence_code"
            >
              <mat-option
                *ngFor="let item of filteredPlacets | async"
                [value]="item"
                matTooltip="{{ item.place_num }}.&nbsp;{{
                  item.place_code
                }}.&nbsp;{{ item.place_name }}."
              >
                <span>{{ item.place_code }}. {{ item.place_name }}.</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="geoplace_code_rmk"
              id="geoplace_code_rmk"
              type="text"
              matInput
              placeholder="Комментарий к коду места жительства в момент репрессии"
              formControlName="geoplace_code_rmk"
              [maxLength]="repressT_width['geoplace_code_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width mat-intable">
            <mat-select
              placeholder="Тип репрессии"
              formControlName="repress_type_id"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            >
              <mat-option [value]="null"> </mat-option>
              <mat-option
                *ngFor="let repress_type of repress_types"
                [value]="repress_type.id"
              >
                {{ repress_type.name_ent }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="repress_type_rmk"
              id="repress_type_rmk"
              type="text"
              matInput
              placeholder="Комментарий к типу репрессии"
              formControlName="repress_type_rmk"
              [maxLength]="repressT_width['repress_type_rmk']"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-12">
          <mat-form-field>
            <input
              autocomplete="nope"
              name="reabil_dat"
              id="reabil_dat"
              matInput
              [matDatepicker]="pickerreabil_dat"
              placeholder="Дата реабилитации"
              formControlName="reabil_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerreabil_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerreabil_dat startView="year"></mat-datepicker>
            <button
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetReabil_dat()"
              [disabled]="true"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
        <div class="col-md-12 col-lg-12 col-xl-12 col-12 mt-2">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="repress_rmk"
              id="repress_rmk"
              type="text"
              matInput
              placeholder="Комментарий к репрессии"
              formControlName="repress_rmk"
              [maxLength]="repressT_width['repress_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Места работы"
              formControlName="activityts"
              multiple
            >
              <!-- (openedChange)="selectFilter(true)"
              (selectionChange)="selectFond()" -->
              <mat-option
                *ngFor="let selectedActivityt of selectedActivityts"
                [value]="selectedActivityt.id"
                matTooltip="{{ selectedActivityt?.post }} {{
                  selectedActivityt?.ent1_rmk
                }}"
              >
                {{ selectedActivityt?.post }} {{ selectedActivityt?.ent1_rmk }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 col-12">
          <mat-slide-toggle
            [style.margin]="'15px 0 15px 0'"
            formControlName="reabil_mark"
            (change)="reabChange()"
          >
            Была реабилитация
          </mat-slide-toggle>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="reabil_dat_begin_end"
              id="reabil_dat_begin_end"
              type="text"
              matInput
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              placeholder="Дата реабилитации"
              formControlName="reabil_dat_begin_end"
              (blur)="
                dateparseService.getSour_date(
                  represstForm,
                  'reabil_dat_begin_end',
                  'reabil_dat_begin',
                  'reabil_dat_end'
                )
              "
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-5 col-xl-5 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="reabil_rmk"
              id="reabil_rmk"
              type="text"
              matInput
              placeholder="Комментарий к реабилитации"
              formControlName="reabil_rmk"
              [maxLength]="repressT_width['reabil_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <mat-select
              multiple
              placeholder="Реабилитационное основание"
              formControlName="rehabil_reason_id"
            >
              <mat-select-trigger>
                <ng-container
                  *ngFor="
                    let value of represstForm.controls.rehabil_reason_id.value;
                    let vlast = last
                  "
                >
                  {{ value.name_ent
                  }}<ng-container *ngIf="!vlast">,&nbsp;</ng-container>
                </ng-container>
              </mat-select-trigger>
              <mat-option
                *ngFor="let rehab_reas of rehab_reases"
                [value]="rehab_reas"
              >
                {{ rehab_reas.name_ent }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <mat-form-field class="full-width">
            <mat-select
              multiple
              placeholder="Тип репрессии"
              formControlName="repress_type_id"
            >
              <mat-select-trigger>
                <ng-container
                  *ngFor="
                    let value of represstForm.controls.repress_type_id.value;
                    let vlast = last
                  "
                >
                  {{ value.name_ent
                  }}<ng-container *ngIf="!vlast">,&nbsp;</ng-container>
                </ng-container>
              </mat-select-trigger>
              <mat-option
                *ngFor="let repress_type of repress_types"
                [value]="repress_type.id"
              >
                {{ repress_type.name_ent }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <!-- <mat-form-field class="full-width">
            <mat-select
              placeholder="Реабилитационное основание"
              formControlName="rehabil_reason_id"
            >
              <mat-option [value]="null"> </mat-option>
              <mat-option
                *ngFor="let rehab_reas of rehab_reases"
                [value]="rehab_reas.id"
              >
                {{ rehab_reas.name_ent }}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <div class="col-12 mt-3">
          <div class="patterns" *ngIf="!rehabil_orgPatternsOpen">
            <ng-container
              *ngFor="
                let rehabil_orgPattern of rehabil_orgPatterns | slice : 0 : 3;
                let rehabil_orgPatternLast = last
              "
            >
              <span
                [matTooltip]="rehabil_orgPattern.title"
                (click)="insertRehabil_orgPattern(rehabil_orgPattern)"
                >{{ rehabil_orgPattern.value }}</span
              ><ng-container *ngIf="!rehabil_orgPatternLast">, </ng-container>
            </ng-container>
            &nbsp;<span (click)="rehabil_orgPatternsOpen = true"> >> </span>
          </div>
          <div class="patterns" *ngIf="rehabil_orgPatternsOpen">
            <ng-container
              *ngFor="
                let rehabil_orgPattern of rehabil_orgPatterns;
                let rehabil_orgPatternLast = last
              "
            >
              <span
                [matTooltip]="rehabil_orgPattern.title"
                (click)="insertRehabil_orgPattern(rehabil_orgPattern)"
                >{{ rehabil_orgPattern.value }}</span
              ><ng-container *ngIf="!rehabil_orgPatternLast">, </ng-container>
            </ng-container>
            &nbsp;<span (click)="rehabil_orgPatternsOpen = false"> << </span>
          </div>
          <mat-form-field class="full-width">
            <input
              #rehabil_orgTextArea
              autocomplete="nope"
              name="rehabil_org"
              id="rehabil_org"
              type="text"
              matInput
              placeholder="Реабилитирующий орган"
              formControlName="rehabil_org"
              (click)="setRehabil_orgPos(rehabil_orgTextArea)"
              (input)="setRehabil_orgPos(rehabil_orgTextArea)"
            />
          </mat-form-field>
        </div>

        <div class="col-12">
          <span [style.margin-left]="'20px'"
            >Лица, упоминаемые в связи с репрессией</span
          >
          <button
            [disabled]="viewOnly"
            type="button"
            [style.margin-left]="'10px'"
            (click)="addCorept(1)"
            mat-button
            color="primary"
          >
            Добавить
          </button>
        </div>
        <ng-container
          *ngFor="
            let coreptForm of coreptForms;
            let _first = first;
            let j = index
          "
        >
          <form
            [formGroup]="coreptForm"
            class="full-width"
            *ngIf="coreptForm.value.cotype === 1"
          >
            <div class="row" [style.padding-left]="'25px'">
              <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    placeholder="Человек*"
                    aria-label="Человек*"
                    matInput
                    [formControl]="myControl_human_code[j]"
                    [matAutocomplete]="autoact_human_code"
                    (input)="inputLink_human_code(j)"
                    [style.font-size]="'13px'"
                  />
                  <button
                    *ngIf="myControl_human_code[j]?.value?.type_r != null"
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Репрессированный"
                    [style.color]="'red'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    *ngIf="
                      myControl_human_code[j]?.value?.fund != null &&
                      myControl_human_code[j]?.value?.list_no != null
                    "
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Заполнено"
                    [style.color]="'blue'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    *ngIf="myControl_human_code[j]?.value?.type_a != null"
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Пособник"
                    [style.color]="'green'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    [disabled]="viewOnly"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Add"
                    title="Добавить персоналию"
                    [disabled]="viewOnly"
                    (click)="onAddPersonalT(j)"
                  >
                    +<i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                  <button
                    [disabled]="
                      myControl_human_code[j] == null ||
                      myControl_human_code[j].value == null ||
                      myControl_human_code[j].value.code == null
                    "
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Link"
                    title="Перейти к персоналии"
                    (click)="
                      filteredPersonalts = null;
                      onLinkPersonalT(myControl_human_code[j].value.code)
                    "
                  >
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                  <mat-autocomplete
                    #autoact_human_code="matAutocomplete"
                    [displayWith]="displayFn_human_code"
                  >
                    <mat-option
                      *ngFor="let item of filteredPersonalts | async"
                      [value]="item"
                      title="{{ item.code }}.&nbsp;{{ item.surname }}.&nbsp;{{
                        item.fname
                      }}.&nbsp;{{ item.lname }}.&nbsp;{{
                        dateparseService.toMultiDateStr(
                          item.birth_begin,
                          item.birth_end,
                          false
                        )
                      }}&nbsp;{{ item.birth_rmk }}&nbsp;{{ item.surname_rmk }}"
                    >
                      <span [style.font-size]="'12px'"
                        >{{ item.code }}. {{ item.surname }}. {{ item.fname }}.
                        {{ item.lname }}</span
                      >&nbsp;<span
                        [style.font-size]="'12px'"
                        *ngIf="item.birth_begin != null"
                        >{{
                          dateparseService.toMultiDateStr(
                            item.birth_begin,
                            item.birth_end,
                            false
                          )
                        }}</span
                      >
                      <span
                        [style.font-size]="'12px'"
                        *ngIf="item.birth_begin == null"
                        >{{ item.birth_rmk }}</span
                      >
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-2 col-xl-2 col-12">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="nope"
                    name="role"
                    id="role"
                    type="text"
                    matInput
                    placeholder="Роль человека"
                    formControlName="role"
                    [maxLength]="corepT_width['role']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="nope"
                    name="role_rmk"
                    id="role_rmk"
                    type="text"
                    matInput
                    placeholder="Комментарий к роли"
                    formControlName="role_rmk"
                    [maxLength]="corepT_width['role_rmk']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 col-12">
                <button
                  [disabled]="viewOnly"
                  type="button"
                  [style.margin]="'8px 0 0 0'"
                  class="btn-pict"
                  (click)="delCorept(j)"
                  mat-button
                  color="primary"
                >
                  <i class="fa fa-fw fa-ban"></i>
                </button>
              </div>
            </div>
          </form>
        </ng-container>
        <button
          *ngIf="coreptForms?.length > 5"
          [disabled]="viewOnly"
          type="button"
          [style.margin-left]="'10px'"
          (click)="addCorept(1)"
          mat-button
          color="primary"
        >
          Добавить упоминаемого
        </button>
        <div class="col-12">
          <span [style.margin-left]="'20px'"
            >Лица, упоминаемые в связи с реабилитацией</span
          >
          <button
            [disabled]="viewOnly"
            type="button"
            [style.margin-left]="'10px'"
            (click)="addCorept(2)"
            mat-button
            color="primary"
          >
            Добавить
          </button>
        </div>
        <ng-container
          *ngFor="
            let coreptForm of coreptForms;
            let _first = first;
            let j = index
          "
        >
          <form
            [formGroup]="coreptForm"
            class="full-width"
            *ngIf="coreptForm.value.cotype === 2"
          >
            <div class="row" [style.padding-left]="'25px'">
              <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    placeholder="Человек*"
                    aria-label="Человек*"
                    matInput
                    [formControl]="myControl_human_code[j]"
                    [matAutocomplete]="autoact_human_code"
                    (input)="inputLink_human_code(j)"
                    [style.font-size]="'13px'"
                  />
                  <button
                    *ngIf="myControl_human_code[j]?.value?.type_r != null"
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Репрессированный"
                    [style.color]="'red'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    *ngIf="
                      myControl_human_code[j]?.value?.fund != null &&
                      myControl_human_code[j]?.value?.list_no != null
                    "
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Заполнено"
                    [style.color]="'blue'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    *ngIf="myControl_human_code[j]?.value?.type_a != null"
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Пособник"
                    [style.color]="'green'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    [disabled]="viewOnly"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Add"
                    title="Добавить персоналию"
                    [disabled]="viewOnly"
                    (click)="onAddPersonalT(j)"
                  >
                    +<i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                  <button
                    [disabled]="
                      myControl_human_code[j] == null ||
                      myControl_human_code[j].value == null ||
                      myControl_human_code[j].value.code == null
                    "
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Link"
                    title="Перейти к персоналии"
                    (click)="
                      filteredPersonalts = null;
                      onLinkPersonalT(myControl_human_code[j].value.code)
                    "
                  >
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                  <mat-autocomplete
                    #autoact_human_code="matAutocomplete"
                    [displayWith]="displayFn_human_code"
                  >
                    <mat-option
                      *ngFor="let item of filteredPersonalts | async"
                      [value]="item"
                      title="{{ item.code }}.&nbsp;{{ item.surname }}.&nbsp;{{
                        item.fname
                      }}.&nbsp;{{ item.lname }}.&nbsp;{{
                        dateparseService.toMultiDateStr(
                          item.birth_begin,
                          item.birth_end,
                          false
                        )
                      }}&nbsp;{{ item.birth_rmk }}&nbsp;{{ item.surname_rmk }}"
                    >
                      <span [style.font-size]="'12px'"
                        >{{ item.code }}. {{ item.surname }}. {{ item.fname }}.
                        {{ item.lname }}</span
                      >&nbsp;<span
                        [style.font-size]="'12px'"
                        *ngIf="item.birth_begin != null"
                        >{{
                          dateparseService.toMultiDateStr(
                            item.birth_begin,
                            item.birth_end,
                            false
                          )
                        }}</span
                      >
                      <span
                        [style.font-size]="'12px'"
                        *ngIf="item.birth_begin == null"
                        >{{ item.birth_rmk }}</span
                      >
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-2 col-xl-2 col-12">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="nope"
                    name="role"
                    id="role"
                    type="text"
                    matInput
                    placeholder="Роль человека"
                    formControlName="role"
                    [maxLength]="corepT_width['role']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="nope"
                    name="role_rmk"
                    id="role_rmk"
                    type="text"
                    matInput
                    placeholder="Комментарий к роли"
                    formControlName="role_rmk"
                    [maxLength]="corepT_width['role_rmk']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 col-12">
                <button
                  [disabled]="viewOnly"
                  type="button"
                  [style.margin]="'8px 0 0 0'"
                  class="btn-pict"
                  (click)="delCorept(j)"
                  mat-button
                  color="primary"
                >
                  <i class="fa fa-fw fa-ban"></i>
                </button>
              </div>
            </div>
          </form>
        </ng-container>
        <button
          *ngIf="coreptForms?.length > 5"
          [disabled]="viewOnly"
          type="button"
          [style.margin-left]="'10px'"
          (click)="addCorept(2)"
          mat-button
          color="primary"
        >
          Добавить упоминаемого
        </button>
      </div>
      <hr />
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="globalService?.represst_edit?.selectedCourtt"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="titlemark">Следствия и суды</span>
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th [style.width]="'1px'"></th>
                  <th [style.width]="'180px'" id="code">Номер процесса</th>
                  <th [style.width]="'170px'" id="name">Статья</th>
                  <th [style.width]="'210px'" id="start">
                    Дата начала следствия
                  </th>
                  <th [style.width]="'240px'" id="end">
                    Дата вынесения приговора
                  </th>
                  <th id="fin">Приговор</th>
                  <th [style.width]="'50px'">
                    <button
                      [disabled]="viewOnly"
                      type="button"
                      class="float-right"
                      mat-mini-fab
                      color="primary"
                      (click)="addCourtt()"
                      [style.margin-bottom]="'-8px'"
                      [style.margin-top]="'-8px'"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="row">
            <div
              cdkDropList
              #selectedCourttsList="cdkDropList"
              [cdkDropListData]="selectedCourtts"
              [cdkDropListConnectedTo]="[selectedCourttsList]"
              class="example-list w-100"
              (cdkDropListDropped)="drop($event, 'court_t')"
            >
              <div
                class="example-box"
                *ngFor="let selectedCourtt of selectedCourtts"
                cdkDrag
                (click)="editCourtt(selectedCourtt.id)"
              >
                <table class="tdummy">
                  <tbody>
                    <tr>
                      <td [style.width]="'50px'">
                        <div
                          class="example-handle"
                          cdkDragHandle
                          (click)="stop($event)"
                        >
                          <i
                            *ngIf="!viewOnly"
                            class="fa fa-arrows"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </td>
                      <td [style.width]="'160px'" id="code">
                        <span>{{ selectedCourtt.trial_no }}</span>
                      </td>
                      <td [style.width]="'170px'" id="name">
                        <span>{{ selectedCourtt.article }}</span>
                      </td>
                      <td [style.width]="'210px'" id="start">
                        <span
                          [innerHTML]="
                            dateparseService.toMultiDateStr(
                              selectedCourtt.inq_date_begin,
                              selectedCourtt.inq_date_end
                            )
                          "
                        ></span>
                        <!-- <ng-container
                          *ngIf="
                            selectedCourtt.inq_date_begin ===
                              selectedCourtt.inq_date_end;
                            else multiDate
                          "
                        >
                          <span>{{
                            selectedCourtt.inq_date_begin | date: 'dd.MM.yyyy'
                          }}</span>
                        </ng-container>
                        <ng-template #multiDate>
                          <small
                            >{{
                              selectedCourtt.inq_date_begin
                                | date: 'dd.MM.yyyy'
                            }}&nbsp;-<br />
                            {{
                              selectedCourtt.inq_date_end | date: 'dd.MM.yyyy'
                            }}</small
                          >
                        </ng-template> -->
                        <!-- <span>{{
                          selectedCourtt.inq_date_begin | date: 'dd.MM.yyyy'
                        }}</span> -->
                      </td>
                      <td [style.width]="'240px'" id="end">
                        <!-- <span>{{
                          selectedCourtt.sentense_date_begin
                            | date: 'dd.MM.yyyy'
                        }}</span> -->
                        <!-- <ng-container
                          *ngIf="
                            selectedCourtt.sentense_date_begin ===
                              selectedCourtt.sentense_date_end;
                            else multiDate1
                          "
                        >
                          <span>{{
                            selectedCourtt.sentense_date_begin
                              | date: 'dd.MM.yyyy'
                          }}</span>
                        </ng-container>
                        <ng-template #multiDate1>
                          <small
                            >{{
                              selectedCourtt.sentense_date_begin
                                | date: 'dd.MM.yyyy'
                            }}&nbsp;-<br />
                            {{
                              selectedCourtt.sentense_date_end
                                | date: 'dd.MM.yyyy'
                            }}</small
                          >
                        </ng-template> -->
                        <span
                          [innerHTML]="
                            dateparseService.toMultiDateStr(
                              selectedCourtt.sentense_date_begin,
                              selectedCourtt.sentense_date_end
                            )
                          "
                        ></span>
                      </td>
                      <td id="fin">
                        <span>{{ selectedCourtt.sentense }}</span>
                      </td>
                      <td [style.width]="'43px'"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- <mat-accordion>
        <mat-expansion-panel
          [expanded]="globalService?.represst_edit?.selectedCourtt"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="titlemark">Следствия и суды</span>
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th id="code">Номер процесса</th>
                  <th id="name">Статья</th>
                  <th id="start">Дата начала следствия</th>
                  <th id="end">Дата вынесения приговора</th>
                  <th id="fin">Приговор</th>
                  <th>
                    <button
                      [disabled]="viewOnly"
                      type="button"
                      class="float-right"
                      mat-mini-fab
                      color="primary"
                      [disabled]="!valid"
                      (click)="addCourtt()"
                      [style.margin-bottom]="'-8px'"
                      [style.margin-top]="'-8px'"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let selectedCourtt of selectedCourtts">
                  <td (click)="editCourtt(selectedCourtt.id)" id="code">
                    {{ selectedCourtt.trial_no }}
                  </td>
                  <td (click)="editCourtt(selectedCourtt.id)" id="name">
                    {{ selectedCourtt.article }}
                  </td>
                  <td (click)="editCourtt(selectedCourtt.id)" id="start">
                    {{ selectedCourtt.inq_date | date: 'dd.MM.yyyy' }}
                  </td>
                  <td (click)="editCourtt(selectedCourtt.id)" id="end">
                    {{ selectedCourtt.sentense_date | date: 'dd.MM.yyyy' }}
                  </td>
                  <td (click)="editCourtt(selectedCourtt.id)" id="fin">
                    {{ selectedCourtt.sentense }}
                  </td>
                  <td (click)="editCourtt(selectedCourtt.id)"></td>
                 </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion> -->
      <div
        class="col-12"
        *ngIf="intType != 'myprofile'"
        [style.margin-top]="'10px'"
      >
        <button
          [disabled]="viewOnly || !valid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Сохранить
        </button>
        <button
          [disabled]="viewOnly"
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          [disabled]="viewOnly"
          class="btn-pict"
          matTooltip="Удалить"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDel()"
          [style.margin-left]="'5px'"
          *ngIf="intType == 'editdoc'"
        >
          <i class="fa fa-fw fa-ban"></i>
        </button>
        <button
          type="button"
          [style.margin-left]="'5px'"
          mat-raised-button
          color="primary"
          (click)="goBack()"
        >
          Назад
        </button>
      </div>
    </form>
  </div>
</mat-card>
