<div class="main-wrapper">
  <div class="app">
    <app-logo></app-logo>
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <article class="content">
      <router-outlet></router-outlet>
    </article>
  </div>
</div>
