<mat-card>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фильтр"
          [(ngModel)]="filtersService.fieldjoinListFilter.searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filtersService.fieldjoinListFilter.searchStr = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Раздел</th>
          <th>Поле</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let fieldjoin of fieldjoins
              | fieldjoinFilter: filtersService.fieldjoinListFilter.searchStr
              | slice: start:end;
            let i = index
          "
        >
          <td (click)="onEdit(fieldjoin)">
            {{ fieldjoin.section_name }}
          </td>
          <td (click)="onEdit(fieldjoin)">
            {{ fieldjoin.field_name }}
          </td>
        </tr>
      </tbody>
    </table>
    <div
      class="col-12 float-right"
      *ngIf="
        (
          fieldjoins
          | fieldjoinFilter: filtersService.fieldjoinListFilter.searchStr
        )?.length > limit
      "
    >
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filtersService.fieldjoinListFilter.page"
        [perPage]="limit"
        [count]="fieldjoins?.length"
      ></app-pagination>
    </div>
  </div>
</mat-card>
