<mat-card>
  <div class="row">
    <div class="col-8">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фильтр"
          autocomplete="s_searchStr"
          name="s_searchStr"
          id="s_searchStr"
          [(ngModel)]="filterService.selectionListFilter.searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="
            filterService.selectionListFilter.searchStr = ''; updateData()
          "
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button
        class="float-right"
        mat-fab
        color="primary"
        (click)="onAddSelection()"
      >
        +
        <i class="fa fa-filter" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th
            [style.width]="'100px'"
            id="id"
            [style.cursor]="'pointer'"
            (click)="selectOrder('byid')"
            [innerHTML]="'Id ' + postfixId"
          >
            Id
          </th>
          <th
            id="name"
            [style.cursor]="'pointer'"
            (click)="selectOrder('byname')"
            [innerHTML]="'Имя ' + postfixName"
          >
            Имя
          </th>
          <th
            [style.width]="'200px'"
            id="sdate"
            [style.cursor]="'pointer'"
            (click)="selectOrder('bysdate')"
            [innerHTML]="'Дата ' + postfixSdate"
          >
            Дата
          </th>
          <th [style.width]="'100px'"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let selection of selections; let i = index">
          <td (click)="onEditSelection(selection.id)" id="id">
            {{ selection.id }}
          </td>
          <td (click)="onEditSelection(selection.id)" id="id">
            {{ selection.name }}
          </td>
          <td (click)="onEditSelection(selection.id)" id="id">
            {{ selection.sdate | date: 'dd.MM.yyyy' }}
          </td>
          <td>
            <button
              [style.margin]="'-10px 0 -10px 0'"
              color="warn"
              class="btn-pict"
              mat-button
              (click)="onDel(selection.id)"
            >
              <i class="fa fa-fw fa-ban"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="col float-right">
      <mat-paginator
        class="float-right"
        [length]="length"
        [pageIndex]="pageEvent?.pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="setPageSizeOptions($event)"
      > 
      </mat-paginator>
    </div> -->
    <div class="col-12 float-right" *ngIf="total > limit">
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filterService.selectionListFilter.page"
        [perPage]="limit"
        [count]="total"
      ></app-pagination>
    </div>
  </div>
</mat-card>
