<mat-card>
  <!-- <mat-form-field [style.margin-right]="'15px'">
      <input matInput [matDatepicker]="start" placeholder="От" formControlName="datestart" (ngModelChange)="getData()" (change)="getData()">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
	</mat-form-field> -->
  <div class="form-inline">
    <div class="form-group">
      <div class="input-group" [style.margin-right]="'15px'">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          [(ngModel)]="datestart"
          ngbDatepicker
          #dstart="ngbDatepicker"
          (ngModelChange)="getData()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="dstart.toggle()"
            type="button"
          >
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          [(ngModel)]="dateend"
          ngbDatepicker
          #dend="ngbDatepicker"
          (ngModelChange)="getData()"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="dend.toggle()"
            type="button"
          >
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<mat-tab-group class="tab-group">
  <mat-tab label="Архивист">
    <div class="tab-content">
      <mat-card>
        <table class="table">
          <thead>
            <tr>
              <th>Логин</th>
              <th id="name">Имя</th>
              <th id="surname">Фамилия</th>
              <th [innerHTML]="kolvoStr"></th>
              <th [innerHTML]="kolvoZ"></th>
              <th [innerHTML]="kolvoS"></th>
              <th>Сумма</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let res of resType1; let i = index">
              <tr>
                <td [style.padding-bottom]="'5px'">{{ res.login }}</td>
                <td [style.padding-bottom]="'5px'" id="name">{{ res.name }}</td>
                <td [style.padding-bottom]="'5px'" id="surname">
                  {{ res.surname }}
                </td>
                <td [style.padding-bottom]="'5px'">{{ res.kolvo }}</td>
                <td [style.padding-bottom]="'5px'">{{ res.kolvo_z }}</td>
                <td [style.padding-bottom]="'5px'">{{ res.kolvo_s }}</td>
                <td [style.padding-bottom]="'5px'">{{ res.summa | number }}</td>
              </tr>
              <tr
                *ngFor="let o of res?.opis; let o_first = first"
                class="dinfo"
              >
                <td colspan="7">
                  <span [style.min-width]="'65px'">Фонд: {{ o.fond }}</span
                  >&nbsp;<span [style.min-width]="'65px'"
                    >Опись: {{ o.opis_name }}</span
                  >&nbsp;<span [style.min-width]="'165px'"
                    >Заполненных дел: {{ o.kolvo_z }}</span
                  ><span [style.min-width]="'165px'"
                    >Созданных дел: {{ o.kolvo_s }}</span
                  >&nbsp;&nbsp;<span [style.min-width]="'135px'"
                    >Трудоемкость: {{ o.trudindex }}</span
                  >&nbsp;<span [style.min-width]="'200px'"
                    >Сумма: {{ o.summa }}</span
                  >
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Сканировщик">
    <div class="tab-content">
      <mat-card>
        <table class="table table-font">
          <thead>
            <tr>
              <th>Логин</th>
              <th id="name">Имя</th>
              <th id="surname">Фамилия</th>
              <th>Дел</th>
              <th [innerHTML]="strStr"></th>
              <th [innerHTML]="strspecStr"></th>
              <th>Сумма</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let res of resType2; let i = index">
              <tr>
                <td [style.padding-bottom]="'5px'">{{ res.login }}</td>
                <td [style.padding-bottom]="'5px'" id="name">{{ res.name }}</td>
                <td [style.padding-bottom]="'5px'" id="surname">
                  {{ res.surname }}
                </td>
                <td [style.padding-bottom]="'5px'">{{ res.kolvo }}</td>
                <td [style.padding-bottom]="'5px'">{{ res.pgcnt }}</td>
                <td [style.padding-bottom]="'5px'">{{ res.spec_pgcnt }}</td>
                <td [style.padding-bottom]="'5px'">{{ res.summa | number }}</td>
              </tr>
              <tr *ngFor="let o of res?.opis" class="dinfo">
                <td colspan="7">
                  <span [style.min-width]="'65px'">Фонд: {{ o?.fond }}</span
                  >&nbsp;<span [style.min-width]="'65px'"
                    >Опись: {{ o?.opis_name }}</span
                  >&nbsp;<span [style.min-width]="'165px'"
                    >Законченных дел: {{ o?.kolvo }}</span
                  >&nbsp;<span [style.min-width]="'185px'"
                    >Cтандартных страниц: {{ o?.pgcnt }}</span
                  >&nbsp;<span [style.min-width]="'195px'"
                    >Cтраниц спецобработки: {{ o?.spec_pgcnt }}</span
                  >&nbsp;<span [style.min-width]="'135px'"
                    >Трудоемкость: {{ o?.trudindex_scann }}</span
                  >&nbsp;<span [style.min-width]="'200px'"
                    >Сумма: {{ o?.summa }}</span
                  >
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Персоналии">
    <div class="tab-content">
      <mat-card>
        <table class="table table-font">
          <thead>
            <tr>
              <th>Логин</th>
              <th id="name">Имя</th>
              <th id="surname">Фамилия</th>
              <th [innerHTML]="kolvoP"></th>
              <th [innerHTML]="kolvoV"></th>
              <th>Сумма</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let res of resType3; let i = index">
              <td>{{ res.login }}</td>
              <td id="name">{{ res.name }}</td>
              <td id="surname">{{ res.surname }}</td>
              <td>{{ res.personal_cnt }}</td>
              <td>{{ res.in_personal_cnt }}</td>
              <td>{{ res.summa | number }}</td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
