@media (max-width:750px) {
    #surname {
        display: none;
    }
}

@media (max-width:480px) {
    #name {
        display: none;
    }

    .table-font {
        font-size: 10px;
    }
}

tbody tr {
    cursor: default;
}

tbody tr:hover {
    color: #000;
}

span {
    font-size: 14px;
    display: inline-block;
    text-align: left;
}

.dinfo {
    border-top: 2px solid white !important;
    padding: 0 !important;
    margin: 0 !important;
}

.dinfo td {
    padding: 0 0 0 30px !important;
    margin: 0 !important;
    /* text-align: right; */
}