<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="login">Логин</label>
    <input type="text" class="form-control" id="login" placeholder="Логин" formControlName="login" [ngClass]="{'has-error': form.get('login').invalid && form.get('login').touched}">
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input type="password" class="form-control" id="password" placeholder="Пароль" formControlName="password" [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
  </div>
  <div class="form-group">
    <div class="checkbox">
      <mat-checkbox color="primary" formControlName="rmbMe">Запомнить меня</mat-checkbox>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-auto mr-auto">
        <button type="submit" mat-raised-button color="primary">Войти</button>
      </div>
      <!-- <div class="col-auto">
        <button mat-button color="primary" (click)="navRegister()">Вступить в клуб</button>
      </div> -->
    </div>
  </div>
</form>
