<mat-card>
  <div class="container">
    <form [formGroup]="placeForm" class="full-width">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="place_num"
              id="place_num"
              step="1"
              matInput
              placeholder="Номер"
              formControlName="place_num"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              autocomplete="nope"
              name="place_code"
              id="place_code"
              matInput
              placeholder="Код"
              formControlName="place_code"
              [maxLength]="placeT_width['place_code']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-8 col-lg-3 col-xl-3 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              autocomplete="nope"
              name="status"
              id="status"
              matInput
              placeholder="Статус"
              formControlName="status"
              [maxLength]="placeT_width['status']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 col-12">
          <mat-slide-toggle
            [style.margin-top]="'15px'"
            formControlName="cur_mark"
          >
            Текущее название
          </mat-slide-toggle>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              matInput
              placeholder="Название"
              formControlName="place_name"
              [maxLength]="placeT_width['place_name']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              matInput
              placeholder="Год начала"
              formControlName="beg_dat"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              matInput
              placeholder="Год окончания"
              formControlName="end_dat"
              (blur)="setCurmark()"
            />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              rows="2"
              matInput
              placeholder="Комментарий"
              formControlName="place_rem"
              [maxLength]="placeT_width['place_rem']"
            ></textarea>
            <mat-hint align="end"
              >{{ placeForm?.value?.comment?.length }} /
              {{ placeT_width["place_rem"] }}</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <hr />
      <div class="col-12" *ngIf="intType != 'myprofile'">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSavePlacetForm()"
          [disabled]="placeForm.invalid"
        >
          Сохранить
        </button>
        <button
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          class="btn-pict"
          matTooltip="Удалить объект"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDelNation()"
          [style.margin-left]="'5px'"
          *ngIf="intType == 'editdoc'"
        >
          <i class="fa fa-fw fa-ban"></i>
        </button>
      </div>
    </form>
  </div>
</mat-card>
