<div class="wrap">
  <div
    class="next d-flex justify-content-center align-items-center"
    *ngIf="!last"
    [matTooltip]="'Вперед'"
    (click)="onMove('next')"
  >
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  <div
    class="previous d-flex justify-content-center align-items-center"
    *ngIf="!first"
    [matTooltip]="'Назад'"
    (click)="onMove('previous')"
  >
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <mat-card>
    <mat-card-header *ngIf="selectedPersonalcode">
      <mat-card-title>
        <div class="row">
          Код: {{ selectedPersonalcode }}
          <span *ngIf="selectedPersonal?.surname?.length > 0"
            >({{ selectedPersonal?.surname }} {{ selectedPersonal?.fname }}
            {{ selectedPersonal?.lname }})</span
          >
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <ol class="breadcrumb d-none d-lg-block">
          <li
            *ngFor="let breadcrumb of breadcrumbs; last as isLast"
            class="breadcrumb-item"
            [ngClass]="{ active: isLast }"
            aria-current="page"
          >
            <a *ngIf="!isLast; else lastRoute" (click)="goBack(breadcrumb.url)">
              {{ breadcrumb.label }}
            </a>
            <ng-template #lastRoute
              ><span>{{ breadcrumb.label }}</span></ng-template
            >
          </li>
        </ol>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="container">
      <form
        [formGroup]="impristForm"
        class="full-width"
        (ngSubmit)="onSaveForm()"
      >
        <div class="row">
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width mat-intable">
              <input
                autocomplete="nope"
                name="impris_no"
                id="impris_no"
                type="number"
                step="1"
                min="1"
                max="99"
                matInput
                placeholder="Номер заключения*"
                formControlName="impris_no"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <!-- <mat-form-field class="full-width">
            <mat-select
              placeholder="Тип заключения"
              formControlName="impris_type"
            >
              <mat-option [value]="null"> </mat-option>
              <mat-option
                *ngFor="let impris_type of impris_types"
                [value]="impris_type.name_ent"
              >
                {{ impris_type.name_ent }}
                <span *ngIf="impris_type.name_rmk"
                  >({{ impris_type.name_rmk }})</span
                >
              </mat-option>
            </mat-select>
          </mat-form-field> -->
            <mat-form-field class="full-width mat-intable">
              <mat-select
                placeholder="Тип заключения"
                formControlName="impris_type_id"
                [style.color]="'black'"
                [style.font-weight]="'bold'"
              >
                <mat-option [value]="null"> </mat-option>
                <mat-option
                  *ngFor="let impris_type of impris_types"
                  [value]="impris_type.id"
                >
                  {{ impris_type.name_ent }}
                  <!-- <span *ngIf="impris_type.name_rmk"
                    >({{ impris_type.name_rmk }})</span
                  > -->
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="prison_name"
                id="prison_name"
                type="text"
                matInput
                placeholder="Название места заключения"
                formControlName="prison_name"
                [maxLength]="imprisT_width['prison_name']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="prison_name_rmk"
                id="prison_name_rmk"
                type="text"
                matInput
                placeholder="Комментарий к месту заключения"
                formControlName="prison_name_rmk"
                [maxLength]="imprisT_width['prison_name_rmk']"
              />
            </mat-form-field>
          </div>
          <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="arrival_dat"
              id="arrival_dat"
              matInput
              [matDatepicker]="pickerarrival_dat"
              placeholder="Дата прибытия"
              formControlName="arrival_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerarrival_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #pickerarrival_dat
              startView="year"
            ></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetArrival_dat()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="mat-intable">
              <input
                autocomplete="nope"
                name="arrival_dat_begin_end"
                id="arrival_dat_begin_end"
                type="text"
                matInput
                [style.color]="'black'"
                [style.font-weight]="'bold'"
                placeholder="Дата прибытия"
                formControlName="arrival_dat_begin_end"
                (blur)="
                  dateparseService.getSour_date(
                    impristForm,
                    'arrival_dat_begin_end',
                    'arrival_dat_begin',
                    'arrival_dat_end'
                  )
                "
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="arrival_dat_rmk"
                id="arrival_dat_rmk"
                type="text"
                matInput
                placeholder="Комментарий к дате прибытия"
                formControlName="arrival_dat_rmk"
                [maxLength]="imprisT_width['arrival_dat_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="work"
                id="work"
                type="text"
                matInput
                placeholder="Работа в заключении"
                formControlName="work"
                [maxLength]="imprisT_width['work']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="work_rmk"
                id="work_rmk"
                type="text"
                matInput
                placeholder="Комментарий к работе"
                formControlName="work_rmk"
                [maxLength]="imprisT_width['work_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width">
              <mat-select
                placeholder="Акции протеста в заключении"
                formControlName="protest_id"
              >
                <mat-option [value]="null"> </mat-option>
                <mat-option
                  *ngFor="let protest of protests"
                  [value]="protest.id"
                >
                  {{ protest.name_ent }}
                  <span *ngIf="protest.name_rmk">({{ protest.name_rmk }})</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="protest_rmk"
                id="protest_rmk"
                type="text"
                matInput
                placeholder="Комментарий к протесту"
                formControlName="protest_rmk"
                [maxLength]="imprisT_width['protest_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width">
              <input
                type="text"
                placeholder="Географическое место заключения"
                aria-label="Географическое место заключения"
                matInput
                [formControl]="myControl_geoplace_code"
                [matAutocomplete]="autogeoplace_code"
                (input)="inputLink_geoplace_code()"
              />
              <mat-autocomplete
                #autogeoplace_code="matAutocomplete"
                [displayWith]="displayFn_residence_code"
              >
                <mat-option
                  *ngFor="let item of filteredPlacets | async"
                  [value]="item"
                  matTooltip="{{ item.place_num }}.&nbsp;{{
                    item.place_code
                  }}.&nbsp;{{ item.place_name }}."
                >
                  <span>{{ item.place_code }}. {{ item.place_name }}.</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="prison_place_rmk"
                id="prison_place_rmk"
                type="text"
                matInput
                placeholder="Комментарий к географическому месту заключения"
                formControlName="prison_place_rmk"
                [maxLength]="imprisT_width['prison_place_rmk']"
              />
            </mat-form-field>
          </div>
          <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="leave_dat"
              id="leave_dat"
              matInput
              [matDatepicker]="pickerleave_dat"
              placeholder="Дата убытия"
              formControlName="leave_dat"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerleave_dat"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerleave_dat startView="year"></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetLeave_dat()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="mat-intable">
              <input
                autocomplete="nope"
                name="leave_dat_begin_end"
                id="leave_dat_begin_end"
                type="text"
                matInput
                [style.color]="'black'"
                [style.font-weight]="'bold'"
                placeholder="Дата убытия"
                formControlName="leave_dat_begin_end"
                (blur)="
                  dateparseService.getSour_date(
                    impristForm,
                    'leave_dat_begin_end',
                    'leave_dat_begin',
                    'leave_dat_end'
                  )
                "
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="leave_dat_rmk"
                id="leave_dat_rmk"
                type="text"
                matInput
                placeholder="Комментарий к дате убытия"
                formControlName="leave_dat_rmk"
                [maxLength]="imprisT_width['leave_dat_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 col-12">
            <mat-form-field class="full-width">
              <mat-select
                placeholder="Причина убытия"
                formControlName="reason_id"
              >
                <mat-option [value]="null"> </mat-option>
                <mat-option *ngFor="let reason of reasons" [value]="reason.id">
                  {{ reason.name_ent }}
                  <span *ngIf="reason.name_rmk">({{ reason.name_rmk }})</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-8 col-xl-8 col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="reason_rmk"
                id="reason_rmk"
                type="text"
                matInput
                placeholder="Комментарий к причине убытия"
                formControlName="reason_rmk"
                [maxLength]="imprisT_width['reason_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="full-width">
              <input
                autocomplete="nope"
                name="general_rmk"
                id="general_rmk"
                type="text"
                matInput
                placeholder="Общий комментарий"
                formControlName="general_rmk"
                [maxLength]="imprisT_width['general_rmk']"
              />
            </mat-form-field>
          </div>
          <div class="col-12">
            <span [style.margin-left]="'20px'"
              >Лица, упоминаемые в связи с заключением</span
            >
            <button
              [disabled]="viewOnly"
              type="button"
              [style.margin-left]="'10px'"
              (click)="addCoimpt()"
              mat-button
              color="primary"
            >
              Добавить
            </button>
          </div>
          <form
            [formGroup]="coimptForm"
            class="full-width"
            *ngFor="
              let coimptForm of coimptForms;
              let _first = first;
              let j = index
            "
          >
            <div class="row" [style.padding-left]="'25px'">
              <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    placeholder="Человек*"
                    aria-label="Человек*"
                    matInput
                    [formControl]="myControl_human_code[j]"
                    [matAutocomplete]="autoact_human_code"
                    (input)="inputLink_human_code(j)"
                    [style.font-size]="'13px'"
                  />
                  <button
                    *ngIf="myControl_human_code[j]?.value?.type_r != null"
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Репрессированный"
                    [style.color]="'red'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    *ngIf="
                      myControl_human_code[j]?.value?.fund != null &&
                      myControl_human_code[j]?.value?.list_no != null
                    "
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Заполнено"
                    [style.color]="'blue'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    *ngIf="myControl_human_code[j]?.value?.type_a != null"
                    [disabled]="true"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    title="Пособник"
                    [style.color]="'green'"
                    [style.margin-right]="'-5px'"
                  >
                    <i class="fa fa-circle" aria-hidden="true"></i>
                  </button>
                  <button
                    [disabled]="viewOnly"
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Add"
                    title="Добавить персоналию"
                    [disabled]="viewOnly"
                    (click)="onAddPersonalT(j)"
                  >
                    +<i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                  <button
                    [disabled]="
                      myControl_human_code[j] == null ||
                      myControl_human_code[j].value == null ||
                      myControl_human_code[j].value.code == null
                    "
                    type="button"
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Link"
                    title="Перейти к персоналии"
                    (click)="
                      filteredPersonalts = null;
                      onLinkPersonalT(myControl_human_code[j].value.code)
                    "
                  >
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </button>
                  <mat-autocomplete
                    #autoact_human_code="matAutocomplete"
                    [displayWith]="displayFn_human_code"
                  >
                    <!-- <mat-option *ngFor="let item of filteredPersonalts | async" [value]="item"
                    matTooltip="{{item.code}}.&nbsp;{{item.surname}}.&nbsp;{{item.fname}}.&nbsp;{{item.lname}}.">
                    <span [style.font-size]="'12px'">{{item.code}}. {{item.surname}}. {{item.fname}}.
                      {{item.lname}}</span>
                  </mat-option> -->
                    <mat-option
                      *ngFor="let item of filteredPersonalts | async"
                      [value]="item"
                      title="{{ item.code }}.&nbsp;{{ item.surname }}.&nbsp;{{
                        item.fname
                      }}.&nbsp;{{ item.lname }}.&nbsp;{{
                        dateparseService.toMultiDateStr(
                          item.birth_begin,
                          item.birth_end,
                          false
                        )
                      }}&nbsp;{{ item.birth_rmk }}&nbsp;{{ item.surname_rmk }}"
                    >
                      <span [style.font-size]="'12px'"
                        >{{ item.code }}. {{ item.surname }}. {{ item.fname }}.
                        {{ item.lname }}</span
                      >&nbsp;<span
                        [style.font-size]="'12px'"
                        *ngIf="item.birth_begin != null"
                        >{{
                          dateparseService.toMultiDateStr(
                            item.birth_begin,
                            item.birth_end,
                            false
                          )
                        }}</span
                      >
                      <span
                        [style.font-size]="'12px'"
                        *ngIf="item.birth_begin == null"
                        >{{ item.birth_rmk }}</span
                      >
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-2 col-xl-2 col-12">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="nope"
                    name="role"
                    id="role"
                    type="text"
                    matInput
                    placeholder="Роль человека"
                    formControlName="role"
                    [maxLength]="coimpT_width['role']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-5 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    autocomplete="nope"
                    name="role_rmk"
                    id="role_rmk"
                    type="text"
                    matInput
                    placeholder="Комментарий к роли"
                    formControlName="role_rmk"
                    [maxLength]="coimpT_width['role_rmk']"
                  />
                </mat-form-field>
              </div>
              <!-- <div class="col-md-4 col-lg-2 col-xl-2 col-12">
              <mat-slide-toggle [style.margin]="'15px 0 15px 0'" formControlName="sign_mark">
                Важно
              </mat-slide-toggle>
            </div> -->
              <div class="col-md-2 col-lg-2 col-xl-2 col-12">
                <button
                  [disabled]="viewOnly"
                  type="button"
                  [style.margin]="'8px 0 0 0'"
                  class="btn-pict"
                  (click)="delCoimpt(j)"
                  mat-button
                  color="primary"
                >
                  <i class="fa fa-fw fa-ban"></i>
                </button>
              </div>
            </div>
          </form>
          <button
            *ngIf="coimptForms?.length > 5"
            [disabled]="viewOnly"
            type="button"
            [style.margin-left]="'10px'"
            (click)="addCoimpt()"
            mat-button
            color="primary"
          >
            Добавить
          </button>
        </div>
        <div
          class="col-12"
          *ngIf="intType != 'myprofile'"
          [style.margin-top]="'10px'"
        >
          <button
            [disabled]="viewOnly || !valid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Сохранить
          </button>
          <button
            [disabled]="viewOnly"
            class="btn-pict"
            matTooltip="Обновить"
            type="button"
            mat-raised-button
            (click)="getData()"
            [style.margin-left]="'5px'"
          >
            <i class="fa fa-fw fa-refresh"></i>
          </button>
          <button
            [disabled]="viewOnly"
            class="btn-pict"
            matTooltip="Удалить"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDel()"
            [style.margin-left]="'5px'"
            *ngIf="intType == 'editdoc'"
          >
            <i class="fa fa-fw fa-ban"></i>
          </button>
          <button
            type="button"
            [style.margin-left]="'5px'"
            mat-raised-button
            color="primary"
            (click)="goBack()"
          >
            Назад
          </button>
          <button
            [disabled]="viewOnly || !valid"
            class="btn-pict float-right"
            matTooltip="Сохранить и создать следующую запись"
            type="button"
            mat-raised-button
            color="primary"
            (click)="onSaveForm(true, true)"
            [style.margin-left]="'5px'"
          >
            +1
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
