<h1 mat-dialog-title *ngIf="!loaded">Выбрано {{ totalFiles }} файлов.</h1>
<h1 mat-dialog-title *ngIf="loaded">Загрузка завершена.</h1>
<form [formGroup]="changeStatusForm" class="full-width">
  <mat-slide-toggle
    [color]="'primary'"
    *ngIf="!loaded && files?.length > 0"
    formControlName="changeStatus"
    >Перевести дела с загруженными файлами в статус
    «Отсканировано»</mat-slide-toggle
  >
</form>
<div
  class="progress-bar mt-2 mb-2"
  *ngIf="inProgress"
  [style.background]="'white'"
  [style.z-index]="'9999'"
>
  Загружено {{ inProgressVal }} из {{ totalFiles }} файлов.
</div>
<div mat-dialog-content>
  <div>
    <div class="row">
      <div
        class="dropzone"
        *ngIf="!loaded"
        appFiledrop
        (click)="onOpenFilesInput()"
        (filesChangeEmiter)="onFilesChange($event)"
        [allowed_extensions]="[
          'jpg',
          'xls',
          'xlsx',
          'png',
          'gif',
          'bmp',
          'jpeg',
          'pdf',
          'tiff',
          'tif',
          'doc',
          'docx',
          'avi',
          'mp4',
          'mkv',
          'mp3',
          'wav',
          'ogg',
          'ogv',
          'm4v',
          'mts',
          'mpeg'
        ]"
      >
        <div class="text-wrapper">
          <div class="centered">
            <p>Для загрузки доступны:</p>
            <p>
              *.jpg, *.xls, *.xlsx, *.jpeg, *.png, *.bmp, *.gif, *.pdf, *.tiff,
              *.doc, *.docx, *.avi, *.mp4, *.mkv, *.mp3, *.wav, *.ogg, *.ogv,
              *.mov, *.m4v, *.mts, *.mpeg
            </p>
          </div>
        </div>
      </div>
      <input
        type="file"
        accept=".jpg, .xls, .xlsx .png, .gif, .bmp', .jpeg, .pdf, .tiff, .tif, .doc, .docx, .avi, .mp4, .mkv, .mp3, .wav, .ogg, .ogv, .mov, .m4v, .mts, .mpeg, .MOV, .JPG, .XLS, .XLSX, .PNG, .GIF, .BMP', .JPEG, .PDF, .TIFF, .TIF, .DOC, .DOCX, .AVI, .MP4, .MKV, .MP3, .WAV, .OGG, .OGV, .M4V, .MTS, .MPEG,"
        multiple
        class="form-control"
        placeholder=""
        (change)="onFilesChangeInput($event)"
        [style.display]="'none'"
        #filesInput
      />
    </div>
    <div class="row" *ngIf="files?.length > 0">
      <div
        class="col-md-8 col-lg-8 col-xl-8 col-12"
        [style.margin-bottom]="'5px'"
      >
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let file of files; let i = index"
          >
            {{ file.name }}
            <span
              class="badge badge-danger badge-pill"
              (click)="onDelFileById(i)"
            >
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
          </li>
        </ul>
      </div>
      <div
        class="col-md-4 col-lg-4 col-xl-4 col-12"
        [style.margin-bottom]="'10px'"
      >
        <button
          matTooltip="Очистить список"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDelFiles()"
        >
          <i class="fa fa-ban" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="loaded">
    <div
      class="progress-bar mt-2 mb-2"
      [style.background]="'white'"
      [style.z-index]="'9999'"
    >
      Число загруженных файлов - {{ loadedFiles }}.
    </div>
    <div
      class="progress-bar mt-2 mb-2"
      *ngIf="notExisted?.length > 0"
      [style.background]="'white'"
      [style.z-index]="'9999'"
    >
      Подходящих дел не найдено в базе.
    </div>
    <div class="row" *ngIf="notExisted?.length > 0">
      <div
        class="col-md-8 col-lg-8 col-xl-8 col-12"
        [style.margin-bottom]="'5px'"
      >
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let file of notExisted; let i = index"
          >
            {{ file.name }}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="progress-bar mt-2 mb-2"
      *ngIf="notAllowedExtensions?.length > 0"
      [style.background]="'white'"
      [style.z-index]="'9999'"
    >
      Файлы с недостумными расширениями - {{ notAllowedExtensions?.length }}.
    </div>
    <div class="row" *ngIf="notAllowedExtensions?.length > 0">
      <div
        class="col-md-8 col-lg-8 col-xl-8 col-12"
        [style.margin-bottom]="'5px'"
      >
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let file of notAllowedExtensions; let i = index"
          >
            {{ file.name }}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="progress-bar mt-2 mb-2"
      *ngIf="wrongNameFiles?.length > 0"
      [style.background]="'white'"
      [style.z-index]="'9999'"
    >
      Количество некорректных файлов - {{ wrongNameFiles?.length }}.
    </div>
    <div class="row" *ngIf="wrongNameFiles?.length > 0">
      <div
        class="col-md-8 col-lg-8 col-xl-8 col-12"
        [style.margin-bottom]="'5px'"
      >
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let file of wrongNameFiles; let i = index"
          >
            {{ file.name }}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="progress-bar mt-2 mb-2"
      *ngIf="erroredFiles?.length > 0"
      [style.background]="'white'"
      [style.z-index]="'9999'"
    >
      Количество файлов c ошибкой при загрузке - {{ erroredFiles?.length }}.
    </div>
    <div class="row" *ngIf="erroredFiles?.length > 0">
      <div
        class="col-md-8 col-lg-8 col-xl-8 col-12"
        [style.margin-bottom]="'5px'"
      >
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let file of erroredFiles; let i = index"
          >
            {{ file.name }}
          </li>
        </ul>
      </div>
    </div>
    <div
      class="progress-bar mt-2 mb-2"
      *ngIf="alreadyExist?.length > 0"
      [style.background]="'white'"
      [style.z-index]="'9999'"
    >
      Количество уже существующих в базе файлов - {{ alreadyExist?.length }}.
    </div>
    <div class="row" *ngIf="alreadyExist?.length > 0">
      <div
        class="col-md-8 col-lg-8 col-xl-8 col-12"
        [style.margin-bottom]="'5px'"
      >
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let file of alreadyExist; let i = index"
          >
            {{ file.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button
    *ngIf="!loaded"
    [disabled]="files?.length === 0"
    mat-button
    (click)="onSaveFiles()"
  >
    Загрузить
  </button>
  <button *ngIf="loaded" mat-button [mat-dialog-close]="true">Закрыть</button>
</div>
