<mat-card>
  <div class="row">
    <!-- <div class="col-8"> -->
    <div class="col-10">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <mat-form-field class="full-width">
            <input
              matInput
              name="searchStr"
              placeholder="Фильтр (название, дело)"
              [(ngModel)]="filtersService.archivefolderListFilter.searchStr"
              (input)="selectFilter(true)"
            />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Точное соответствие"
              (click)="
                filtersService.archivefolderListFilter.filterExact =
                  !filtersService.archivefolderListFilter.filterExact;
                selectFilter(true)
              "
            >
              <i
                title="Точное соответствие"
                class="fa fa-check-circle-o"
                aria-hidden="true"
                *ngIf="filtersService.archivefolderListFilter.filterExact"
              ></i>
              <i
                class="fa fa-circle-o"
                aria-hidden="true"
                *ngIf="!filtersService.archivefolderListFilter.filterExact"
                title="Точное соответствие"
              ></i>
            </button>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="
                filtersService.archivefolderListFilter.searchStr = '';
                selectFilter(true)
              "
            >
              <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Фонд"
              name="searchFond"
              [(ngModel)]="filtersService.archivefolderListFilter.searchFond"
              multiple
              (openedChange)="selectFilter(true)"
              (selectionChange)="selectFond()"
              #selectedFond="ngModel"
            >
              <mat-option disabled="disabled" class="filter-option">
                <button
                  mat-raised-button
                  class="mat-primary fill text-sm"
                  (click)="deselectAll(selectedFond, selectedOpis)"
                >
                  Снять выделение
                </button>
              </mat-option>
              <mat-option
                *ngFor="let opis of opisesFond"
                [value]="opis.name"
                matTooltip="{{ opis?.name }} {{ opis?.description }}"
              >
                {{ opis?.name }} {{ opis?.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Опись"
              name="searchOpis"
              [(ngModel)]="filtersService.archivefolderListFilter.searchOpis"
              multiple
              (openedChange)="selectFilter(true)"
              #selectedOpis="ngModel"
              [disabled]="
                filtersService.archivefolderListFilter.searchFond?.length == 0
              "
            >
              <mat-option disabled="disabled" class="filter-option">
                <button
                  mat-raised-button
                  class="mat-primary fill text-sm"
                  (click)="deselectAll(selectedOpis)"
                >
                  Снять выделение
                </button>
              </mat-option>
              <mat-option
                *ngFor="let opis of opisesName"
                [value]="opis.id"
                matTooltip="Фонд = {{ opis?.fond }}. Опись = {{
                  opis?.opis_name
                }}.
              {{ opis?.description }}"
                >Фонд = {{ opis?.fond }}. Опись = {{ opis?.opis_name }}.
                {{ opis?.description }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 col-lg-2 col-xl-2">
          <mat-form-field class="w-100">
            <mat-select
              placeholder="Статус"
              name="searchStatus"
              [(ngModel)]="filtersService.archivefolderListFilter.searchStatus"
              (selectionChange)="selectFilter(true)"
            >
              <mat-option [value]="null">Неважно</mat-option>
              <mat-option
                *ngFor="let statusType of statusTypes"
                [value]="statusType.key"
              >
                {{ statusType.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4 col-lg-2 col-xl-2">
          <mat-form-field class="w-100">
            <mat-select
              placeholder="Акт приема"
              name="searchAct"
              [(ngModel)]="filtersService.archivefolderListFilter.searchAct"
              (selectionChange)="selectFilter(true)"
            >
              <mat-option [value]="null">Неважно</mat-option>
              <mat-option [value]="true">Есть</mat-option>
              <mat-option [value]="false">Нет</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4 col-lg-2 col-xl-2">
          <mat-form-field class="w-100">
            <mat-select
              placeholder="Воспоминания"
              name="searchMem"
              [(ngModel)]="filtersService.archivefolderListFilter.searchMem"
              (selectionChange)="selectFilter(true)"
            >
              <mat-option [value]="null">Неважно</mat-option>
              <mat-option [value]="true">Есть</mat-option>
              <mat-option [value]="false">Нет</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-3">
          <mat-form-field class="w-100">
            <mat-select
              placeholder="Художественный объект"
              name="searchArt"
              [(ngModel)]="filtersService.archivefolderListFilter.searchArt"
              (selectionChange)="selectFilter(true)"
            >
              <mat-option [value]="null">Неважно</mat-option>
              <mat-option [value]="true">Есть</mat-option>
              <mat-option [value]="false">Нет</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-3">
          <mat-form-field class="w-100">
            <mat-select
              placeholder="Цифровой архив"
              name="searchDig"
              [(ngModel)]="filtersService.archivefolderListFilter.searchDig"
              (selectionChange)="selectFilter(true)"
            >
              <mat-option [value]="null">Неважно</mat-option>
              <mat-option [value]="true">Есть</mat-option>
              <mat-option [value]="false">Нет</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-12 col-md-6 col-lg-3 col-xl-3">
          <mat-form-field class="full-width">
            <input
              type="number"
              matInput
              name="searchUnPhoto"
              placeholder="Оригинальных фотографий"
              [(ngModel)]="filtersService.archivefolderListFilter.searchUnPhoto"
              (input)="selectFilter(true)"
            />
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
          <mat-form-field class="full-width">
            <input
              type="number"
              matInput
              name="searchUnDoc"
              placeholder="Оригинальных документов"
              [(ngModel)]="filtersService.archivefolderListFilter.searchUnDoc"
              (input)="selectFilter(true)"
            />
          </mat-form-field>
        </div> -->
        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
          <mat-form-field class="w-100">
            <mat-select
              placeholder="Тип описания"
              name="searchDescripType"
              [(ngModel)]="
                filtersService.archivefolderListFilter.descrip_type
              "
              (selectionChange)="selectFilter(true)"
            >
              <mat-option [value]="null">Неважно</mat-option>
              <mat-option
                [value]="descrip_type.id"
                *ngFor="let descrip_type of descrip_types"
                >{{ descrip_type.name_ent }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
          <mat-form-field class="full-width">
            <input
              type="text"
              id="basesearch"
              name="searchtxt"
              matInput
              placeholder="Поиск"
              [(ngModel)]="filtersService.archivefolderListFilter.searchtxt"
              (blur)="selectFilter(true)"
            />
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-xl-3">
          <mat-form-field class="full-width">
            <mat-select
              placeholder="Поля поиска"
              name="searchflds"
              [(ngModel)]="filtersService.archivefolderListFilter.searchflds"
              multiple
              (openedChange)="selectFilter(true)"
              #selectedSearchflds="ngModel"
              [disabled]="
                filtersService?.archivefolderListFilter?.searchtxt?.length == 0
              "
            >
              <mat-option disabled="disabled" class="filter-option">
                <button
                  mat-raised-button
                  class="mat-primary fill text-sm"
                  (click)="deselectAll(selectedSearchflds)"
                >
                  Снять выделение
                </button>
              </mat-option>
              <mat-option
                *ngFor="let searchfld of searchflds"
                [value]="searchfld.key"
                >{{ searchfld.value }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button
        *ngIf="
          loggedInUser?.usertype == 1 ||
          loggedInUser?.usertype == 3 ||
          loggedInUser?.isadmin
        "
        class="float-right"
        mat-fab
        color="primary"
        (click)="onAddDocument()"
      >
        +
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
      </button>
      <button
        *ngIf="
          loggedInUser?.isadmin
        "
        class="float-right mr-2"
        mat-fab
        color="primary"
        (click)="onUploadFiles()"
      >
      <i class="fa fa-upload" aria-hidden="true"></i>
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th
            [style.width]="'100px'"
            [style.cursor]="'pointer'"
            (click)="selectOrder('byid')"
            [innerHTML]="'# ' + postfixId"
          ></th>
          <th
            [style.cursor]="'pointer'"
            (click)="selectOrder('byname')"
            [innerHTML]="'Название ' + postfixName"
          ></th>
          <th
            [style.width]="'100px'"
            [style.cursor]="'pointer'"
            (click)="selectOrder('byshifr')"
            id="fond"
            [innerHTML]="'Фонд ' + postfixShifr"
          ></th>
          <th id="opis" [style.width]="'100px'">Опись</th>
          <th id="delo" [style.width]="'100px'">Дело</th>
          <th id="delo_extra" [style.width]="'150px'">Доп. номер</th>
          <!-- <th id="postfix" [style.width]="'100px'">Постфикс</th> -->
          <th id="status" [style.width]="'150px'">Статус</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let archivefolder of archivefolders; let i = index"
          [ngClass]="{
            created: archivefolder.status === 0,
            filled: archivefolder.status === 1,
            scanned: archivefolder.status === 2,
            finished: archivefolder.status === 3
          }"
        >
          <td (click)="onEditDocument(archivefolder.id)">
            {{ archivefolder?.id }}
          </td>
          <td (click)="onEditDocument(archivefolder.id)">
            {{ archivefolder?.name }}
          </td>
          <td id="fond">{{ archivefolder?.fond }}</td>
          <td (click)="onEditDocument(archivefolder.id)" id="opis">
            {{ archivefolder?.opis }}
          </td>
          <td (click)="onEditDocument(archivefolder.id)" id="delo">
            {{ archivefolder?.delo }}
            <!-- <ng-container *ngIf="archivefolder?.postfix?.length > 0">
              - {{ archivefolder?.postfix }}</ng-container
            > -->
          </td>
          <td (click)="onEditDocument(archivefolder.id)" id="delo">
            {{ archivefolder?.delo_extra }}
          </td>
          <!-- <td (click)="onEditDocument(archivefolder.id)" id="delo">
            {{ archivefolder?.postfix }}
          </td> -->
          <td (click)="onEditDocument(archivefolder.id)" id="status">
            {{ getValueByKey(archivefolder.status) }}
          </td>
          <!-- <td>
            <button class="float-right btn-edit" mat-raised-button (click)="onEditDocument(archivefolder.id)" [innerHTML]="aditStr"></button>
          </td> -->
        </tr>
      </tbody>
    </table>
    <!-- <div class="col float-right">
      <mat-paginator
        class="float-right"
        [length]="length"
        [pageIndex]="pageEvent?.pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="setPageSizeOptions($event)"
      >
      </mat-paginator>
    </div> -->
    <div class="col-12 float-right" *ngIf="total > limit">
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filtersService.archivefolderListFilter.page"
        [perPage]="limit"
        [count]="total"
      ></app-pagination>
    </div>
  </div>
</mat-card>
