.btn-edit {
  min-height: 30px !important;
  min-width: 46px !important;
  line-height: 0px;
  margin-top: -3px !important;
}
table {
  table-layout: fixed;
  width:100%
}
td {
  word-wrap:break-word;
}

@media (max-width: 900px) {
  #delo_extra {
    display: none;
  }
  #postfix {
    display: none;
  }
}

@media (max-width: 750px) {
  #delo {
    display: none;
  }
}

@media (max-width: 600px) {
  #fond {
    display: none;
  }
}

@media (max-width: 480px) {
  #status {
    display: none;
  }
  #opis {
    display: none;
  }
}
