.table {
  max-width: 100%;
  font-size: 14px;
}

@media (max-width:750px) {
  #role {
    display: none;
  }
  /* .table-element {
    font-size: 14px;
  } */
}

@media (max-width:480px) {
  #login {
    display: none;
  }
  /* .table-element {
    font-size: 12px;
  } */
}

.table-element {
  font-size: 14px;
  width: 100%;
}

.btn-edit {
  min-height: 30px !important;
  min-width: 46px !important;
  line-height: 0px;
  margin-top: -3px !important;
}

::ng-deep .mat-tooltip {
  font-size: 14px;
}
