<mat-card>
  <div class="row">
    <div class="col-8">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фильтр"
          [(ngModel)]="filtersService.muserListFilter.searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="filtersService.muserListFilter.searchStr = ''; updateData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button class="float-right" mat-fab color="primary" (click)="onAddUser()">
        +
        <i class="fa fa-user" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th id="login">Логин</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th id="role">Роль</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let muser of musers
              | musersFilter: filtersService.muserListFilter.searchStr
              | slice: start:end;
            let i = index
          "
        >
          <td (click)="onEditUser(muser.id)">{{ muser.id }}</td>
          <td (click)="onEditUser(muser.id)" id="login">
            {{ trim(muser.login).str
            }}<span
              *ngIf="muser.login.length > trim(muser.login).end + 2"
              [matTooltip]="muser.login"
              >...</span
            >
          </td>
          <td (click)="onEditUser(muser.id)">
            {{ trim(muser.name).str
            }}<span
              *ngIf="muser.name.length > trim(muser.name).end + 2"
              [matTooltip]="muser.name"
              >...</span
            >
          </td>
          <td (click)="onEditUser(muser.id)">
            {{ trim(muser.surname).str
            }}<span
              *ngIf="muser.surname.length > trim(muser.surname).end + 2"
              [matTooltip]="muser.surname"
              >...</span
            >
          </td>
          <td (click)="onEditUser(muser.id)" id="role">
            {{
              muser.isadmin === true
                ? 'администратор'
                : getValueByKey(muser.usertype)
            }}
          </td>
          <!-- <td>
            <button class="float-right btn-edit" mat-raised-button (click)="onEditUser(muser.id)" [innerHTML]="aditStr"></button>
          </td> -->
        </tr>
      </tbody>
    </table>
    <!-- <div class="col float-right">
      <mat-paginator
        class="float-right"
        [length]="(musers | musersFilter: searchStr)?.length"
        [pageSize]="pageSize"
        [pageIndex]="pageEvent?.pageIndex"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = setPageSizeOptions($event)"
        #paginator
      >
      </mat-paginator>
    </div> -->
    <div
      class="col-12 float-right"
      *ngIf="
        (musers | musersFilter: filtersService.muserListFilter.searchStr)
          ?.length > limit
      "
    >
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filtersService.muserListFilter.page"
        [perPage]="limit"
        [count]="
          (musers | musersFilter: filtersService.muserListFilter.searchStr)
            ?.length
        "
      ></app-pagination>
    </div>
  </div>
</mat-card>
