<header class="header" [style.padding-right]="'10px'">
  <div class="header-block header-block-nav">
    <div ngbDropdown class="d-inline-block">
      <button mat-button color="primary" id="dropdownBasic1" ngbDropdownToggle>
        {{ loggedInUser?.login }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" [routerLink]="['/sys/users/edit/myprofile']">
          Профиль
        </a>
        <a class="dropdown-item" (click)="logout()">
          Выйти
        </a>
      </div>
    </div>
  </div>
</header>
