<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12 col-lg-6 col-xl-6 col-12">
      <mat-form-field class="full-width">
        <input
          autocomplete="nope"
          name="filter_filename"
          id="filter_filename"
          type="text"
          matInput
          placeholder="Название файла"
          [(ngModel)]="filter_filename"
          (ngModelChange)="getData()"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3 col-xl-3 col-12">
      <mat-form-field class="full-width">
        <input
          autocomplete="nope"
          name="dfund"
          id="dfund"
          type="text"
          matInput
          placeholder="Фонд"
          [(ngModel)]="data.fund"
          [maxLength]="sourT_width['fund']"
          #fund
          (ngModelChange)="getData()"
        />
        <mat-hint align="end"
          >{{ fund?.value?.length }} / {{ sourT_width['fund'] }}</mat-hint
        >
      </mat-form-field>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 col-12">
      <mat-form-field class="full-width">
        <input
          autocomplete="nope"
          name="dlist_no"
          id="dlist_no"
          type="text"
          matInput
          placeholder="Опись"
          [(ngModel)]="data.list_no"
          [maxLength]="sourT_width['list_no']"
          #list_no
          (ngModelChange)="getData()"
        />
        <mat-hint align="end"
          >{{ list_no?.value?.length }} / {{ sourT_width['list_no'] }}</mat-hint
        >
      </mat-form-field>
    </div>
    <div class="col-md-6 col-lg-2 col-xl-2 col-12">
      <mat-form-field class="full-width">
        <input
          autocomplete="nope"
          name="dfile_no"
          id="dfile_no"
          type="text"
          matInput
          placeholder="Дело"
          [(ngModel)]="data.file_no"
          [maxLength]="sourT_width['file_no']"
          #file_no
          (ngModelChange)="getData()"
        />
        <mat-hint align="end"
          >{{ file_no?.value?.length }} / {{ sourT_width['file_no'] }}</mat-hint
        >
      </mat-form-field>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 col-12">
      <mat-form-field class="full-width">
        <input
          autocomplete="nope"
          name="dfile_no_ext"
          id="dfile_no_ext"
          type="text"
          matInput
          placeholder="Дело доп."
          [(ngModel)]="data.file_no_ext"
          [maxLength]="sourT_width['file_no_ext']"
          #file_no_ext
          (ngModelChange)="getData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Не задано"
          (click)="data.file_no_ext_noneed = !data.file_no_ext_noneed; getData()"
        >
          <i
            title="Не задано"
            class="fa fa-check-circle-o"
            aria-hidden="true"
            *ngIf="data.file_no_ext_noneed"
          ></i>
          <i
            class="fa fa-circle-o"
            aria-hidden="true"
            *ngIf="!data.file_no_ext_noneed"
            title="Не задано"
          ></i>
        </button>
        <mat-hint align="end"
          >{{ file_no_ext?.value?.length }} /
          {{ sourT_width['file_no_ext'] }}</mat-hint
        >
      </mat-form-field>
    </div>
    <!-- <div class="col-md-6 col-lg-2 col-xl-2 col-12">
      <button
        mat-button
        (click)="getData()"
        [disabled]="!isValid()"
        class="mt-2"
      >
        Найти
      </button>
    </div> -->
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <button mat-button class="mt-2" (click)="selectAll()">Выбрать все</button>
    </div>
  </div>
  <div class="row">
    <div
      class="col-md-6 col-lg-4 col-xl-4 col-12"
      *ngFor="let selectedArchivefolderfile of files; let i = index"
      [style.margin-top]="'5px'"
    >
      <div
        class="
          list-group-item
          d-flex
          justify-content-between
          align-items-center
        "
      >
        <div ngbDropdown placement="top-left" [style.max-width]="'100%'">
          <a class="dropdown-toggle download" id="id02" ngbDropdownToggle
            ><small
              [ngClass]="{
                'font-weight-bold': selectedArchivefolderfile.in_delo
              }"
              >{{ selectedArchivefolderfile.archivefile.filename }}</small
            ></a
          >
          <div
            class="dropdown-menu"
            aria-labelledby="id02"
            ngbDropdownMenu
            [style.min-width]="'100px'"
          >
            <a
              class="dropdown-item"
              (click)="
                onShowImg(
                  selectedArchivefolderfile?.id,
                  selectedArchivefolderfile
                )
              "
              *ngIf="
                globalService.isImgtype(
                  selectedArchivefolderfile.archivefile.filename
                ) ||
                globalService.isVideotype(
                  selectedArchivefolderfile.archivefile.filename
                ) ||
                globalService.isAudiotype(
                  selectedArchivefolderfile.archivefile.filename
                ) ||
                globalService.isPdftype(
                  selectedArchivefolderfile.archivefile.filename
                )
              "
            >
              Открыть
            </a>
            <a
              class="dropdown-item btn disabled"
              *ngIf="
                !globalService.isImgtype(
                  selectedArchivefolderfile.archivefile.filename
                ) &&
                !globalService.isVideotype(
                  selectedArchivefolderfile.archivefile.filename
                ) &&
                !globalService.isAudiotype(
                  selectedArchivefolderfile.archivefile.filename
                ) &&
                !globalService.isPdftype(
                  selectedArchivefolderfile.archivefile.filename
                )
              "
            >
              Открыть
            </a>
            <a
              class="dropdown-item"
              (click)="
                onDownloadArchivefolderfile(selectedArchivefolderfile?.id)
              "
            >
              Скачать
            </a>
            <a
              class="dropdown-item"
              (click)="copyFilename(selectedArchivefolderfile)"
            >
              Скопировать название файла
            </a>
          </div>
        </div>
        <ng-container *ngIf="selectedArchivefolderfile.blocked">
          <span
            class="badge badge-primary badge-pill"
            matTooltip="Файл уже добавлен"
            [style.cursor]="'default'"
          >
            <i class="fa fa-check" aria-hidden="true"></i> </span
        ></ng-container>
        <ng-container *ngIf="!selectedArchivefolderfile.blocked">
          <span
            class="badge badge-light badge-pill"
            *ngIf="selectedArchivefolderfile.checked != true"
            (click)="
              selectedArchivefolderfile.checked = true; toggleSelection()
            "
            matTooltip="Пометить на добавление"
          >
            <i class="fa fa-check" aria-hidden="true"></i>
          </span>
          <span
            class="badge badge-primary badge-pill"
            *ngIf="selectedArchivefolderfile.checked == true"
            (click)="
              selectedArchivefolderfile.checked = false; toggleSelection()
            "
            matTooltip="Снять пометку на добавление"
          >
            <i class="fa fa-check" aria-hidden="true"></i>
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions [style.margin-top]="'50px'">
  <button
    mat-button
    [mat-dialog-close]="data"
    [disabled]="data.selectedFiles?.length === 0"
  >
    Сохранить
  </button>
  <button mat-button [mat-dialog-close]="null">Отмена</button>
</div>
<div
  class="progress-bar mt-2 mb-2"
  *ngIf="inProgress"
  [style.background]="'white'"
  [style.z-index]="'9999'"
>
  Загружено {{ loaded }} мб.
</div>
<app-lightbox
  #lightbox
  [images]="lightboxImages"
  [showRotate]="false"
  [wait]="galleryWait"
  (onClose)="lightboxImages.length = 0"
  (onChange)="previewChange($event)"
></app-lightbox>
