.download {
  /* cursor: pointer !important; */
  color: #3f51b5 !important;
  overflow-wrap: break-word !important;
  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: break-word !important;
  word-break: break-all !important;
  white-space: normal !important;
  max-width: 100%;
}
