<div class="wrap" appHotKeys>
  <div
    class="next d-flex justify-content-center align-items-center"
    *ngIf="intType === 'editdoc' && !last"
    [matTooltip]="'Вперед'"
    (click)="onMove('next')"
  >
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  <div
    class="previous d-flex justify-content-center align-items-center"
    *ngIf="intType === 'editdoc' && !first"
    [matTooltip]="'Назад'"
    (click)="onMove('previous')"
  >
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <mat-card>
    <div class="container">
      <div
        class="row"
        *ngIf="
          authService.getCurUser()?.isadmin === true && intType === 'editdoc'
        "
      >
        <div class="col-6">
          <mat-form-field class="full-width">
            <input
              type="text"
              autocomplete="nope"
              name="arch"
              id="arch"
              matInput
              placeholder="Обработал/а "
              [(ngModel)]="archiveUser"
              [disabled]="true"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field class="full-width">
            <input
              type="text"
              autocomplete="nope"
              name="scan"
              id="scan"
              matInput
              placeholder="Отсканировал/а"
              [(ngModel)]="scanUser"
              [disabled]="true"
            />
          </mat-form-field>
        </div>
      </div>
      <form [formGroup]="archivefolderForm" class="full-width">
        <div
          class="row"
          *ngIf="
            authService.getCurUser()?.isadmin === true &&
            intType === 'editdoc' &&
            !viewOnly
          "
        >
          <div class="col-6">
            <mat-form-field class="full-width">
              <mat-select
                class="full-width"
                placeholder="Архивист"
                formControlName="createduser_id"
              >
                <mat-option *ngFor="let user of musersArch" [value]="user.id">
                  {{ user.surname }} {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="full-width">
              <mat-select
                class="full-width"
                placeholder="Сканировщик"
                formControlName="scanuser_id"
              >
                <mat-option *ngFor="let user of musersScan" [value]="user.id">
                  {{ user.surname }} {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-7 col-xl-7 col-12">
            <mat-form-field class="full-width">
              <mat-select
                class="full-width"
                placeholder="Опись*"
                formControlName="opis_id"
              >
                <mat-option
                  *ngFor="let opisItem of opisItems"
                  [value]="opisItem.id"
                >
                  Фонд = {{ opisItem.fond }}. Опись = {{ opisItem.opis_name }}.
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-2 col-xl-2 col-12">
            <mat-form-field class="full-width">
              <input
                type="number"
                autocomplete="nope"
                name="delo"
                id="delo"
                min="0"
                matInput
                placeholder="Дело*"
                formControlName="delo"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-3 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                type="text"
                autocomplete="nope"
                name="delo_extra"
                id="delo_extra"
                matInput
                placeholder="Дополнительный шифр"
                formControlName="delo_extra"
                [maxLength]="archivefolder_width['delo_extra']"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="full-width">
              <input
                matInput
                autocomplete="nope"
                name="name"
                id="name"
                placeholder="Название"
                formControlName="name"
                [maxLength]="archivefolder_width['name']"
              />
              <mat-hint align="end"
                >{{ archivefolderForm?.value?.name?.length }} /
                {{ archivefolder_width['name'] }}</mat-hint
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-3" *ngIf="authService.getCurUser()?.usertype !== 2">
          <div class="ml-3">
            <a class="download" (click)="onLinkDocuments()"
              ><small>Перейти к документам дела</small></a
            >
          </div>
          <div
            class="ml-3"
            *ngIf="selectedArchivefolder?.peronals_main?.length > 0"
          >
            <a
              class="download"
              [routerLink]="[
                '/sys/person/personaltedit',
                selectedArchivefolder?.peronals_main[0].code
              ]"
              ><small
                >Перейти к персоналии:
                {{ selectedArchivefolder?.peronals_main[0].surname }}&nbsp;{{
                  selectedArchivefolder?.peronals_main[0].fname
                }}&nbsp;{{
                  selectedArchivefolder?.peronals_main[0].lname
                }}</small
              ></a
            >
          </div>
          <div
            class="col-12"
            *ngIf="
              (!selectedArchivefolder?.peronals_main?.length ||
                selectedArchivefolder?.peronals_main?.length == 0) &&
              selectedArchivefolder?.peronals_second?.length > 0
            "
          >
            <a
              class="download"
              [routerLink]="[
                '/sys/person/personaltedit',
                selectedArchivefolder?.peronals_second[0].code
              ]"
              ><small
                >{{ selectedArchivefolder?.peronals_second[0].surname }}&nbsp;{{
                  selectedArchivefolder?.peronals_second[0].fname
                }}&nbsp;{{
                  selectedArchivefolder?.peronals_second[0].lname
                }}</small
              ></a
            >
          </div>
        </div>
        <div class="row mb-3" *ngIf="authService.getCurUser()?.usertype !== 2">
          <div class="ml-3">
            <mat-form-field>
              <input
                autocomplete="nope"
                name="pub_date"
                id="pub_date"
                matInput
                [matDatepicker]="pickerpub_date"
                placeholder="Дата публикации"
                formControlName="pub_date"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerpub_date"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerpub_date startView="year"></mat-datepicker>
              <button
                [disabled]="viewOnly"
                type="button"
                mat-button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                [disabled]="viewOnly"
                (click)="resetPub_date()"
              >
                x
              </button>
            </mat-form-field>
            <mat-slide-toggle
              [style.margin]="'15px 15px 15px 15px'"
              formControlName="published"
              (change)="onPubToggleChange()"
            >
              Публиковать
            </mat-slide-toggle>
          </div>
        </div>

        <mat-accordion *ngIf="true">
          <mat-expansion-panel
            [expanded]="loggedInUser?.usertype !== 2 || loggedInUser?.isadmin"
            class="mt-2 mb-2"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="titlemark">Описание и состав дела</span>
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="full-width">
                  <textarea
                    autocomplete="nope"
                    name="description"
                    id="description"
                    rows="3"
                    matInput
                    placeholder="Описание"
                    formControlName="description"
                    [maxLength]="archivefolder_width['description']"
                  ></textarea>
                  <mat-hint align="end"
                    >{{ archivefolderForm?.value?.description?.length }} /
                    {{ archivefolder_width['description'] }}</mat-hint
                  >
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="full-width">
                  <textarea
                    autocomplete="nope"
                    name="comment"
                    id="comment"
                    rows="2"
                    matInput
                    placeholder="Комментарий"
                    formControlName="comment"
                    [maxLength]="archivefolder_width['comment']"
                  ></textarea>
                  <mat-hint align="end"
                    >{{ archivefolderForm?.value?.comment?.length }} /
                    {{ archivefolder_width['comment'] }}</mat-hint
                  >
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    autocomplete="nope"
                    name="url"
                    id="url"
                    matInput
                    placeholder="URL публикации"
                    formControlName="url"
                    [maxLength]="archivefolder_width['url']"
                  />
                  <button
                    mat-button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="linkUrl()"
                    [disabled]="
                      archivefolderForm.getRawValue().url == null ||
                      archivefolderForm.getRawValue().url === ''
                    "
                  >
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                  </button>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 col-lg-3 col-xl-3 col-12">
                <mat-form-field class="full-width">
                  <input
                    type="number"
                    autocomplete="nope"
                    name="doc_begin"
                    id="doc_begin"
                    matInput
                    placeholder="Даты документов, с"
                    formControlName="doc_begin"
                    max="9999"
                    [maxlength]="archivefolder_width['doc_begin']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3 col-12">
                <mat-form-field class="full-width">
                  <input
                    type="number"
                    autocomplete="nope"
                    name="doc_end "
                    id="doc_end "
                    matInput
                    placeholder="Даты документов, по"
                    formControlName="doc_end"
                    max="9999"
                    [maxlength]="archivefolder_width['doc_end']"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 col-12">
                <button
                  [disabled]="viewOnly"
                  type="button"
                  [style.margin-top]="'10px'"
                  [style.margin-left]="'-20px'"
                  (click)="generatedelorange()"
                  mat-button
                  color="primary"
                >
                  Сгенерировать
                </button>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-4 col-12">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    autocomplete="nope"
                    name="date"
                    id="date"
                    matInput
                    placeholder="Дата (текст)"
                    formControlName="date"
                    [maxLength]="archivefolder_width['date']"
                  />
                  <mat-hint align="end"
                    >{{ archivefolderForm?.value?.date?.length }} /
                    {{ archivefolder_width['date'] }}</mat-hint
                  >
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    autocomplete="nope"
                    name="page_num_cnt"
                    id="page_num_cnt"
                    matInput
                    placeholder="Номер последнего пронумерованного листа (в скобках указать количество литерных листов)"
                    formControlName="page_num_cnt"
                    [maxlength]="archivefolder_width['page_num_cnt']"
                  />
                  <mat-hint align="end"
                    >{{ archivefolderForm?.value?.page_num_cnt?.length }} /
                    {{ archivefolder_width['page_num_cnt'] }}</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <mat-form-field class="w-100">
                  <mat-select
                    placeholder="Тип описания"
                    formControlName="descrip_type"
                  >
                    <mat-option
                      [value]="descrip_type.id"
                      *ngFor="let descrip_type of descrip_types"
                      >{{ descrip_type.name_ent }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    autocomplete="nope"
                    name="descrip_type_rmk"
                    id="descrip_type_rmk"
                    matInput
                    placeholder="Введите автора описания, если это не оператор базы"
                    formControlName="descrip_type_rmk"
                    [maxLength]="archivefolder_width['descrip_type_rmk']"
                  />
                </mat-form-field>
              </div>
            </div>
            <div
              class="row"
              *ngIf="
                loggedInUser?.usertype !== 2 && loggedInUser?.usertype !== 4
              "
            >
              <div class="col-12">
                <mat-accordion
                  *ngIf="
                    selectedArchivefolder != null &&
                    selectedArchivefolder?.archive_folder_log != null
                  "
                >
                  <mat-expansion-panel [expanded]="false" class="mt-2 mb-2">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <span class="titlemark"
                          >История статусов обработки</span
                        >
                      </mat-panel-title>
                      <mat-panel-description> </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                      <table class="table">
                        <thead>
                          <tr>
                            <th [style.cursor]="'default'">Пользователь</th>
                            <th [style.cursor]="'default'">Действие</th>
                            <th [style.cursor]="'default'">Дата</th>
                            <th [style.cursor]="'default'">Было</th>
                            <th [style.cursor]="'default'">Стало</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let archive_folder_log of selectedArchivefolder?.archive_folder_log
                            "
                          >
                            <td
                              [style.cursor]="'default'"
                              *ngIf="archive_folder_log.action_type === 11"
                            >
                              {{ archive_folder_log.login }}
                            </td>
                            <td
                              [style.cursor]="'default'"
                              *ngIf="archive_folder_log.action_type === 11"
                            >
                              {{
                                getActionValueByKey(
                                  archive_folder_log.action_type
                                )
                              }}
                            </td>
                            <td
                              [style.cursor]="'default'"
                              *ngIf="archive_folder_log.action_type === 11"
                            >
                              {{
                                archive_folder_log.action_time
                                  | date : 'dd.MM.yyyy'
                              }}
                            </td>
                            <td
                              [style.cursor]="'default'"
                              *ngIf="archive_folder_log.action_type === 11"
                            >
                              {{ getOldData(archive_folder_log.object_data) }}
                            </td>
                            <td
                              [style.cursor]="'default'"
                              *ngIf="archive_folder_log.action_type === 11"
                            >
                              {{ getNewData(archive_folder_log.object_data) }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div class="row">
              <div
                class="col-12 col-md-6 col-lg-6 col-xl-6"
                [style.margin-top]="'15px'"
              >
                <!-- <div class="col-12">
                  <mat-slide-toggle
                    [color]="'primary'"
                    formControlName="have_scanned"
                    >Отсканированные материалы</mat-slide-toggle
                  >
                </div> -->
                <div class="col-12">
                  <mat-slide-toggle
                    [color]="'primary'"
                    formControlName="have_memories"
                    >Воспоминания</mat-slide-toggle
                  >
                </div>
                <div class="col-12">
                  <mat-slide-toggle
                    [color]="'primary'"
                    formControlName="have_arts"
                    >Художественные объекты</mat-slide-toggle
                  >
                </div>
                <div class="col-12">
                  <mat-slide-toggle
                    [color]="'primary'"
                    formControlName="have_act"
                    >Акт приема</mat-slide-toggle
                  >
                </div>
              </div>
            </div>

            <div class="row mt-3" *ngIf="archivefolderlinks?.length > 0">
              <div
                class="col-md-12 col-lg-6 col-xl-6 col-12"
                *ngFor="
                  let archivefolderlink of archivefolderlinks;
                  let i = index
                "
                [style.margin-top]="'5px'"
              >
                <div
                  class="list-group-item d-flex justify-content-between align-items-center"
                  *ngIf="archivefolderlink.checkToDel == false"
                >
                  <span
                    [style.cursor]="'pointer'"
                    (click)="
                      onLinkMarchive(
                        id == archivefolderlink.archivefolder_id1
                          ? archivefolderlink.archivefolder_id2
                          : archivefolderlink.archivefolder_id1
                      )
                    "
                    >{{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.name2
                        : archivefolderlink.name1
                    }}<br />
                    <br />
                    Фонд:
                    {{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.fond2
                        : archivefolderlink.fond1
                    }}
                    Опись:
                    {{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.opis_name2
                        : archivefolderlink.opis_name1
                    }}
                    Дело:
                    {{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.delo2
                        : archivefolderlink.delo1
                    }}

                    {{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.postfix2
                        : archivefolderlink.postfix1
                    }}
                    <i [style.color]="'grey'"
                      >({{
                        getLink_typeByKey(archivefolderlink.link_type).value
                      }})</i
                    ></span
                  >
                  <span
                    class="badge badge-light badge-pill"
                    (click)="toggleCheckToDelLink(i, archivefolderlink)"
                    matTooltip="Пометить на удаление"
                    *ngIf="enableArch"
                  >
                    <i class="fa fa-ban" aria-hidden="true"></i>
                  </span>
                </div>
                <div
                  class="list-group-item d-flex justify-content-between align-items-center"
                  *ngIf="archivefolderlink.checkToDel == true"
                  [style.text-decoration]="'line-through'"
                >
                  <span
                    >{{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.name2
                        : archivefolderlink.name1
                    }}<br />
                    <br />
                    Фонд:
                    {{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.fond2
                        : archivefolderlink.fond1
                    }}
                    Опись:
                    {{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.opis_name2
                        : archivefolderlink.opis_name1
                    }}
                    Дело:
                    {{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.delo2
                        : archivefolderlink.delo1
                    }}

                    {{
                      id == archivefolderlink.archivefolder_id1
                        ? archivefolderlink.postfix2
                        : archivefolderlink.postfix1
                    }}
                    <i [style.color]="'grey'"
                      >({{
                        getLink_typeByKey(archivefolderlink.link_type).value
                      }})</i
                    ></span
                  >
                  <span
                    class="badge badge-light badge-pill"
                    (click)="toggleCheckToDelLink(i, archivefolderlink)"
                    matTooltip="Снять пометку на удаление"
                    *ngIf="enableArch"
                  >
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row mt-2" *ngIf="enableArch">
              <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                <mat-form-field class="full-width">
                  <input
                    type="text"
                    placeholder="Добавить связанное дело"
                    aria-label="Добавить связанное дело"
                    matInput
                    [formControl]="myControl"
                    [matAutocomplete]="auto"
                    (input)="inputLink()"
                  />
                  <mat-autocomplete
                    #auto="matAutocomplete"
                    [displayWith]="displayFn"
                  >
                    <mat-option
                      *ngFor="let option of filteredArchivefolders | async"
                      [value]="option"
                      matTooltip="{{ option.name }}. Дело = {{
                        option.delo
                      }}. Опись = {{ option.opis }}. Фонд = {{ option.fond }}."
                    >
                      Название: "{{ option.name }}". Дело = {{ option.delo }}.
                      Опись = {{ option.opis }}. Фонд = {{ option.fond }}.
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-3 col-lg-3 col-xl-3">
                <mat-form-field class="full-width">
                  <mat-select
                    class="full-width"
                    placeholder="Тип связи"
                    [(ngModel)]="link_type"
                    [ngModelOptions]="{ standalone: true }"
                    [disabled]="!enableArch || viewOnly"
                  >
                    <mat-option
                      [value]="link_type.key"
                      *ngFor="let link_type of link_types"
                    >
                      {{ link_type.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-2 col-lg-2 col-xl-2">
                <button
                  class="btn-pict"
                  type="button"
                  mat-fab
                  color="primary"
                  (click)="onAddArchivefolderlink()"
                  [style.margin-left]="'5px'"
                  class="float-lg-right float-md-right float-xl-right"
                  [disabled]="myControl?.value?.id == undefined"
                >
                  <i class="fa fa-fw fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="row" *ngIf="links?.length > 0">
              <div
                class="col-md-6 col-lg-4 col-xl-3 col-12"
                *ngFor="let archivefolderlink of links; let i = index"
                [style.margin-top]="'5px'"
              >
                <div
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  <span
                    >{{ archivefolderlink.val.name }} ({{
                      getLink_typeByKey(archivefolderlink.link_type)?.value
                    }})</span
                  >
                  <span
                    class="badge badge-danger badge-pill"
                    (click)="onDelLinkById(i)"
                  >
                    <i class="fa fa-ban" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <div
          class="row"
          *ngIf="
            (loggedInUser?.usertype !== 2 && loggedInUser?.usertype !== 4) ||
            loggedInUser?.isadmin
          "
        >
          <div
            class="col-12 col-md-6 col-lg-6 col-xl-6 mt-3"
            [style.margin-bottom]="'10px'"
          >
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onSaveArchivefolderForm()"
              [disabled]="!isSaveValid() || viewOnly"
            >
              Сохранить
            </button>
          </div>
        </div>
        <mat-accordion *ngIf="true">
          <mat-expansion-panel [expanded]="true" class="mt-2 mb-2">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="titlemark">Обработка и оцифровка дела</span>
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    type="number"
                    autocomplete="nope"
                    name="page_cnt"
                    id="page_cnt"
                    min="0"
                    matInput
                    placeholder="Общее количество изображений*"
                    formControlName="page_cnt"
                  />
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="full-width">
                  <input
                    type="number"
                    autocomplete="nope"
                    name="spec_page_cnt"
                    id="spec_page_cnt"
                    min="0"
                    matInput
                    placeholder="Изображений Tiff"
                    formControlName="spec_page_cnt"
                  />
                </mat-form-field>
              </div>
              <div class="col" *ngIf="loggedInUser?.isadmin">
                <mat-form-field
                  class="float-lg-right float-md-right float-xl-right"
                >
                  <mat-select
                    class="full-width"
                    placeholder="Статус"
                    formControlName="status"
                  >
                    <mat-option
                      *ngFor="let statusType of statusTypes"
                      [value]="statusType.key"
                    >
                      {{ statusType.value }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div
              class="row mt-3"
              *ngIf="
                selectedArchivefolderfiles?.length > 0 || enableScan == true
              "
            >
              <div class="col-12">
                <mat-form-field class="full-width">
                  <textarea
                    autocomplete="nope"
                    name="scan_comment"
                    id="scan_comment"
                    rows="1"
                    matInput
                    placeholder="Комментарий для сканировщика"
                    formControlName="scan_comment"
                    [maxLength]="archivefolder_width['scan_comment']"
                  ></textarea>
                  <mat-hint align="end"
                    >{{ archivefolderForm?.value?.scan_comment?.length }} /
                    {{ archivefolder_width['scan_comment'] }}</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>
            <mat-accordion
              *ngIf="
                selectedArchivefolder != null &&
                selectedArchivefolder?.archive_folder_log != null &&
                loggedInUser?.usertype !== 4
              "
            >
              <mat-expansion-panel [expanded]="false" class="mt-2 mb-2">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="titlemark"
                      >История изменений статуса дела</span
                    >
                  </mat-panel-title>
                  <mat-panel-description> </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                  <table class="table">
                    <thead>
                      <tr>
                        <th [style.cursor]="'default'">Пользователь</th>
                        <th [style.cursor]="'default'">Действие</th>
                        <th [style.cursor]="'default'">Дата</th>
                        <th [style.cursor]="'default'">Было</th>
                        <th [style.cursor]="'default'">Стало</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let archive_folder_log of selectedArchivefolder?.archive_folder_log
                        "
                      >
                        <td
                          [style.cursor]="'default'"
                          *ngIf="archive_folder_log.action_type === 2"
                        >
                          {{ archive_folder_log.login }}
                        </td>
                        <td
                          [style.cursor]="'default'"
                          *ngIf="archive_folder_log.action_type === 2"
                        >
                          {{
                            getActionValueByKey(archive_folder_log.action_type)
                          }}
                        </td>
                        <td
                          [style.cursor]="'default'"
                          *ngIf="archive_folder_log.action_type === 2"
                        >
                          {{
                            archive_folder_log.action_time | date : 'dd.MM.yyyy'
                          }}
                        </td>
                        <td
                          [style.cursor]="'default'"
                          *ngIf="archive_folder_log.action_type === 2"
                        >
                          {{ getOldData(archive_folder_log.object_data) }}
                        </td>
                        <td
                          [style.cursor]="'default'"
                          *ngIf="archive_folder_log.action_type === 2"
                        >
                          {{ getNewData(archive_folder_log.object_data) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </mat-expansion-panel>
            </mat-accordion>

            <div class="row" *ngIf="selectedArchivefolderfiles?.length > 0">
              <div class="col-12 mb-1 mt-3">
                <span class="mr-4"
                  >Всего файлов: {{ selectedArchivefolderfiles?.length }}</span
                >
                <span class="mr-4">*.jpg файлов: {{ countJpg }}</span>
                <span class="mr-4">*.tiff файлов: {{ countTiff }}</span>
                <span>*.pdf файлов: {{ countPdf }}</span>
                <a class="float-right download" (click)="onDownloadZip()"
                  ><small>Скачать одним архивом</small></a
                >
                <a
                  class="float-right download mr-3"
                  (click)="onDownloadPreviewZip()"
                  *ngIf="!viewOnly"
                  ><small>Скачать версию для просмотра</small></a
                >
                <a
                  *ngIf="!isShowDeleteAllFilesButton && !viewOnly"
                  class="float-right download mr-3"
                  (click)="toggleCheckToAllDel()"
                  ><small>Пометить все на удаление</small></a
                >
                <a
                  *ngIf="isShowDeleteAllFilesButton"
                  class="float-right download mr-3"
                  (click)="toggleCheckToAllDel()"
                  ><small>Отмена выделения</small></a
                >
              </div>
              <div
                class="col-md-6 col-lg-4 col-xl-4 col-12"
                *ngFor="
                  let selectedArchivefolderfile of selectedArchivefolderfiles;
                  let i = index
                "
                [style.margin-top]="'5px'"
              >
                <div
                  class="list-group-item d-flex justify-content-between align-items-center"
                  *ngIf="selectedArchivefolderfile.checkToDel == false"
                >
                  <div ngbDropdown [style.max-width]="'100%'">
                    <a
                      class="dropdown-toggle download"
                      id="id02"
                      ngbDropdownToggle
                      ><small>{{
                        selectedArchivefolderfile.archivefile.filename
                      }}</small></a
                    >
                    <div
                      class="dropdown-menu"
                      aria-labelledby="id02"
                      ngbDropdownMenu
                      [style.min-width]="'100px'"
                    >
                      <a
                        class="dropdown-item"
                        (click)="
                          onShowImg(
                            selectedArchivefolderfile?.id,
                            selectedArchivefolderfile
                          )
                        "
                        *ngIf="
                          globalService.isImgtype(
                            selectedArchivefolderfile.archivefile.filename
                          ) ||
                          globalService.isVideotype(
                            selectedArchivefolderfile.archivefile.filename
                          ) ||
                          globalService.isAudiotype(
                            selectedArchivefolderfile.archivefile.filename
                          ) ||
                          globalService.isPdftype(
                            selectedArchivefolderfile.archivefile.filename
                          )
                        "
                      >
                        Открыть
                      </a>
                      <a
                        class="dropdown-item btn disabled"
                        *ngIf="
                          !globalService.isImgtype(
                            selectedArchivefolderfile.archivefile.filename
                          ) &&
                          !globalService.isVideotype(
                            selectedArchivefolderfile.archivefile.filename
                          ) &&
                          !globalService.isAudiotype(
                            selectedArchivefolderfile.archivefile.filename
                          ) &&
                          !globalService.isPdftype(
                            selectedArchivefolderfile.archivefile.filename
                          )
                        "
                      >
                        Открыть
                      </a>
                      <a
                        class="dropdown-item"
                        (click)="
                          onDownloadArchivefolderfile(
                            selectedArchivefolderfile?.id
                          )
                        "
                      >
                        Скачать
                      </a>
                      <a
                        class="dropdown-item"
                        *ngIf="loggedInUser?.usertype !== 4"
                        (click)="copyFilename(selectedArchivefolderfile)"
                      >
                        Скопировать название файла
                      </a>
                      <a
                        *ngIf="viewOnly === false"
                        class="dropdown-item"
                        (click)="
                          onRenameFile(
                            selectedArchivefolderfile?.id,
                            selectedArchivefolderfile.archivefile.filename
                          )
                        "
                      >
                        Переименовать
                      </a>
                    </div>
                  </div>
                  <span
                    class="badge badge-light badge-pill"
                    (click)="toggleCheckToDel(i)"
                    matTooltip="Пометить на удаление"
                    *ngIf="enableScan && !viewOnly"
                  >
                    <i class="fa fa-ban" aria-hidden="true"></i>
                  </span>
                </div>
                <div
                  class="list-group-item d-flex justify-content-between align-items-center"
                  *ngIf="selectedArchivefolderfile.checkToDel == true"
                  [style.text-decoration]="'line-through'"
                >
                  <span class="download"
                    ><small>{{
                      selectedArchivefolderfile.archivefile.filename
                    }}</small></span
                  >
                  <span
                    class="badge badge-light badge-pill"
                    (click)="toggleCheckToDel(i)"
                    matTooltip="Снять пометку на удаление"
                    *ngIf="enableScan"
                  >
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="enableScan && !viewOnly">
              <div
                class="dropzone"
                appFiledrop
                (click)="onOpenFilesInput()"
                (filesChangeEmiter)="onFilesChange($event)"
                [allowed_extensions]="allowedExtensions"
              >
                <div class="text-wrapper">
                  <div class="centered">
                    <p>Для загрузки доступны:</p>
                    <p>
                      *.jpg, *.xls, *.xlsx, *.jpeg, *.png, *.bmp, *.gif, *.pdf,
                      *.tiff, *.doc, *.docx, *.avi, *.mp4, *.mkv, *.mp3, *.wav,
                      *.ogg, *.ogv, *.mov, *.m4v, *.mts, *.mpeg
                    </p>
                  </div>
                </div>
              </div>
              <input
                type="file"
                accept=".jpg, .xls, .xlsx .png, .gif, .bmp', .jpeg, .pdf, .tiff, .tif, .doc, .docx, .avi, .mp4, .mkv, .mp3, .wav, .ogg, .ogv, .mov, .m4v, .mts, .mpeg, .MOV, .JPG, .XLS, .XLSX, .PNG, .GIF, .BMP', .JPEG, .PDF, .TIFF, .TIF, .DOC, .DOCX, .AVI, .MP4, .MKV, .MP3, .WAV, .OGG, .OGV, .M4V, .MTS, .MPEG,"
                multiple
                class="form-control"
                placeholder=""
                (change)="onFilesChangeInput($event)"
                [style.display]="'none'"
                #filesInput
              />
            </div>
            <div class="row" *ngIf="files?.length > 0">
              <div
                class="col-md-8 col-lg-8 col-xl-8 col-12"
                [style.margin-bottom]="'5px'"
              >
                <ul class="list-group">
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let file of files; let i = index"
                  >
                    {{ file.name }}
                    <span
                      class="badge badge-danger badge-pill"
                      (click)="onDelFileById(i)"
                    >
                      <i class="fa fa-ban" aria-hidden="true"></i>
                    </span>
                  </li>
                </ul>
              </div>
              <div
                class="col-md-4 col-lg-4 col-xl-4 col-12"
                [style.margin-bottom]="'10px'"
              >
                <button
                  matTooltip="Очистить список"
                  type="button"
                  mat-raised-button
                  color="warn"
                  (click)="onDelFiles()"
                >
                  <i class="fa fa-ban" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div
              class="row"
              *ngIf="
                authService.getCurUser()?.isadmin === true &&
                intType === 'editdoc'
              "
            >
              <div class="col-12">
                <a class="download" (click)="onLinkFromServer()"
                  ><small>Скопировать с сервера</small></a
                >&nbsp;<small
                  >Процедура копирования запустится после подтверждения в
                  диалоговом окне.</small
                >
              </div>
            </div>
            <div *ngIf="viewOnly" class="pt-5 pb-5"></div>
          </mat-expansion-panel>
        </mat-accordion>
        <div
          class="row"
          *ngIf="
            (loggedInUser?.usertype !== 2 && loggedInUser?.usertype !== 4) ||
            loggedInUser?.isadmin
          "
        >
          <div
            class="col-12 col-md-6 col-lg-6 col-xl-6 mt-3"
            [style.margin-bottom]="'10px'"
          >
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onSaveArchivefolderForm()"
              [disabled]="!isSaveValid() || viewOnly"
            >
              Сохранить
            </button>
            <button
              class="btn-pict"
              [disabled]="viewOnly"
              matTooltip="Обновить"
              type="button"
              mat-raised-button
              (click)="getData(); onDelFiles()"
              [style.margin-left]="'5px'"
            >
              <i class="fa fa-fw fa-refresh"></i>
            </button>
            <button
              class="btn-pict"
              [disabled]="viewOnly"
              matTooltip="Удалить документ"
              type="button"
              mat-raised-button
              color="warn"
              (click)="onDelArchivefolder()"
              [style.margin-left]="'5px'"
              *ngIf="loggedInUser?.isadmin && intType === 'editdoc'"
            >
              <i class="fa fa-fw fa-ban"></i>
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onBack()"
              [style.margin-left]="'5px'"
            >
              Назад
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              [style.margin-left]="'15px'"
              (click)="onSetStatus(3)"
              *ngIf="
                loggedInUser?.isadmin &&
                selectedArchivefolder?.status == 2 &&
                !viewOnly
              "
            >
              Завершить дело
            </button>
            <button
              type="button"
              [style.margin-left]="'5px'"
              mat-raised-button
              color="primary"
              (click)="onSetStatus(2)"
              class="float-lg-right float-md-right float-xl-right"
              *ngIf="
                enableScan &&
                loggedInUser?.usertype === 2 &&
                !loggedInUser?.isadmin &&
                (selectedArchivefolder?.status == 1 ||
                  selectedArchivefolder?.status == 0) &&
                !viewOnly
              "
              [disabled]="viewOnly"
            >
              Отсканировано
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              [style.margin-left]="'5px'"
              (click)="onSetStatus(1)"
              [disabled]="!isSaveValid() || viewOnly"
              class="float-lg-right float-md-right float-xl-right"
              *ngIf="
                (enableArch &&
                  !loggedInUser?.isadmin &&
                  (selectedArchivefolder?.status === 0 ||
                    intType === 'newdoc') &&
                  !viewOnly) ||
                (enableScan &&
                  !loggedInUser?.isadmin &&
                  selectedArchivefolder?.status === 2 &&
                  !viewOnly)
              "
            >
              Заполнено
            </button>
            <button
              *ngIf="
                intType === 'newdoc' && enableArch && !loggedInUser?.isadmin
              "
              type="button"
              [style.margin-left]="'5px'"
              mat-raised-button
              class="float-lg-right float-md-right float-xl-right"
              color="primary"
              (click)="onSaveArchivefolderForm(true, false)"
              [disabled]="!isSaveValid() || viewOnly"
            >
              Создать
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onSetStatus(3)"
              [disabled]="!isSaveValid() || viewOnly"
              class="float-lg-right float-md-right float-xl-right"
              *ngIf="
                enableArch &&
                !loggedInUser?.isadmin &&
                selectedArchivefolder?.status == 2
              "
            >
              Закончено
            </button>
          </div>
        </div>
        <mat-accordion
          *ngIf="
            selectedArchivefolder != null &&
            selectedArchivefolder?.archive_folder_log != null &&
            loggedInUser?.usertype !== 4
          "
        >
          <mat-expansion-panel [expanded]="false" class="mt-2 mb-2">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="titlemark">История изменений дела</span>
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th [style.cursor]="'default'">Пользователь</th>
                    <th [style.cursor]="'default'">Действие</th>
                    <th [style.cursor]="'default'">Дата</th>
                    <th [style.cursor]="'default'">Было</th>
                    <th [style.cursor]="'default'">Стало</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let archive_folder_log of selectedArchivefolder?.archive_folder_log
                    "
                  >
                    <td [style.cursor]="'default'">
                      {{ archive_folder_log.login }}
                    </td>
                    <td [style.cursor]="'default'">
                      {{ getActionValueByKey(archive_folder_log.action_type) }}
                    </td>
                    <td [style.cursor]="'default'">
                      {{ archive_folder_log.action_time | date : 'dd.MM.yyyy' }}
                    </td>
                    <td [style.cursor]="'default'">
                      {{ getOldData(archive_folder_log.object_data) }}
                    </td>
                    <td [style.cursor]="'default'">
                      {{ getNewData(archive_folder_log.object_data) }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion
          *ngIf="
            (loggedInUser?.usertype !== 2 && loggedInUser?.usertype !== 4) ||
            loggedInUser?.isadmin
          "
        >
          <mat-expansion-panel [expanded]="selectedUsagets?.length > 0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="titlemark">Использование персонального дела</span>
              </mat-panel-title>
              <mat-panel-description> </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th
                      [style.width]="'10px'"
                      [style.min-width]="'10px'"
                      [style.max-width]="'10px'"
                    ></th>
                    <th
                      [style.width]="'60px'"
                      [style.min-width]="'60px'"
                      [style.max-width]="'60px'"
                    >
                      Номер
                    </th>
                    <th
                      [style.width]="'calc(100% - 610px)'"
                      [style.min-width]="'calc(100% - 610px)'"
                      [style.max-width]="'calc(100% - 610px)'"
                    >
                      Тип использования
                    </th>
                    <th
                      [style.width]="'200px'"
                      [style.min-width]="'200px'"
                      [style.max-width]="'200px'"
                    >
                      Дата использования
                    </th>
                    <th
                      [style.width]="'300px'"
                      [style.min-width]="'300px'"
                      [style.max-width]="'300px'"
                    >
                      Комментарий к использованию
                    </th>
                    <th
                      [style.width]="'50px'"
                      [style.min-width]="'50px'"
                      [style.max-width]="'50px'"
                    >
                      <button
                        [disabled]="viewOnly"
                        type="button"
                        class="float-right"
                        mat-mini-fab
                        color="primary"
                        (click)="addUsaget()"
                        [style.margin-bottom]="'-8px'"
                        [style.margin-top]="'-8px'"
                      >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      </button>
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="row">
              <div
                cdkDropList
                #selectedUsagetsList="cdkDropList"
                [cdkDropListData]="selectedUsagets"
                [cdkDropListConnectedTo]="[selectedUsagetsList]"
                class="example-list w-100"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let selectedUsaget of selectedUsagets"
                  cdkDrag
                  (click)="editUsaget(selectedUsaget.id)"
                >
                  <table class="tdummy">
                    <tbody>
                      <tr>
                        <td
                          [style.width]="'40px'"
                          [style.min-width]="'40px'"
                          [style.max-width]="'40px'"
                        >
                          <div
                            class="example-handle"
                            cdkDragHandle
                            (click)="stop($event)"
                          >
                            <i
                              *ngIf="!viewOnly"
                              class="fa fa-arrows"
                              aria-hidden="true"
                            ></i>
                          </div>
                        </td>
                        <td
                          [style.width]="'60px'"
                          [style.min-width]="'60px'"
                          [style.max-width]="'60px'"
                        >
                          <span>{{ selectedUsaget.us_no }}</span>
                        </td>
                        <td
                          [style.width]="'calc(100% - 610px)'"
                          [style.min-width]="'calc(100% - 610px)'"
                          [style.max-width]="'calc(100% - 610px)'"
                        >
                          <span>{{
                            getUstypeById(selectedUsaget.us_type_id)?.name_ent
                          }}</span>
                        </td>
                        <td
                          [style.width]="'200px'"
                          [style.min-width]="'200px'"
                          [style.max-width]="'200px'"
                        >
                          <!-- <span>{{
                        selectedUsaget.us_date_begin | date: 'dd.MM.yyyy'
                      }}</span> -->
                          <!-- <ng-container
                        *ngIf="
                          selectedUsaget.us_date_begin ===
                            selectedUsaget.us_date_end;
                          else multiDate
                        "
                      >
                        <span>{{
                          selectedUsaget.us_date_begin | date: 'dd.MM.yyyy'
                        }}</span>
                      </ng-container>
                      <ng-template #multiDate>
                        <small
                          >{{
                            selectedUsaget.us_date_begin | date: 'dd.MM.yyyy'
                          }}&nbsp;-<br />
                          {{
                            selectedUsaget.us_date_end | date: 'dd.MM.yyyy'
                          }}</small
                        >
                      </ng-template> -->
                          <span
                            [innerHTML]="
                              dateparseService.toMultiDateStr(
                                selectedUsaget.us_date_begin,
                                selectedUsaget.us_date_end
                              )
                            "
                          ></span>
                        </td>
                        <td
                          [style.width]="'300px'"
                          [style.min-width]="'300px'"
                          [style.max-width]="'300px'"
                        >
                          <span>{{ selectedUsaget.sour_txt }}</span>
                        </td>
                        <td [style.width]="'37px'"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- <div class="row">
          <div class="col-md-4 col-lg-4 col-xl-4 col-12">
            <mat-form-field>
              <mat-select
                class="full-width"
                placeholder="Постфикс"
                formControlName="postfix"
              >
                <mat-option
                  *ngFor="let postfixType of postfixTypes"
                  [value]="postfixType.key"
                >
                  {{ postfixType.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 col-12">
            <mat-slide-toggle
              class="mt-3"
              [color]="'primary'"
              formControlName="digital"
              >Цифровой архив</mat-slide-toggle
            >
          </div>
        </div> -->
        <!-- <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 col-12">
            <mat-slide-toggle
              class="mt-3"
              [color]="'primary'"
              formControlName="not_scanned"
              >Не сканируется</mat-slide-toggle
            >
          </div>
          <div class="col-md-9 col-lg-9 col-xl-9 col-12">
            <mat-form-field class="full-width">
              <input
                type="text"
                autocomplete="nope"
                name="not_scanned_rmk"
                id="not_scanned_rmk"
                matInput
                placeholder="Комментарий к «Не сканируется»"
                formControlName="not_scanned_rmk"
                [maxLength]="archivefolder_width['not_scanned_rmk']"
              />
            </mat-form-field>
          </div>
        </div> -->

        <!-- <div class="row">
           <div class="col-md-6 col-lg-6 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                type="number"
                autocomplete="nope"
                name="doc_cnt"
                id="doc_cnt"
                min="0"
                matInput
                placeholder="Количество подлинников документов"
                formControlName="doc_cnt"
              />
            </mat-form-field>
          </div>
           <div class="col-md-6 col-lg-6 col-xl-3 col-12">
            <mat-form-field class="full-width">
              <input
                type="number"
                autocomplete="nope"
                name="foto_cnt"
                id="foto_cnt"
                min="0"
                matInput
                placeholder="Количество подлинников фото"
                formControlName="foto_cnt"
              />
            </mat-form-field>
          </div>
        </div> -->

        <div
          *ngIf="
            (loggedInUser?.usertype !== 2 || loggedInUser?.usertype !== 4) &&
            !loggedInUser?.isadmin
          "
          class="row"
        >
          <div
            class="col-12 col-md-6 col-lg-6 col-xl-6 mt-3"
            [style.margin-bottom]="'10px'"
          >
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onSaveArchivefolderForm()"
              [disabled]="!isSaveValid() || viewOnly"
            >
              Сохранить
            </button>
            <button
              class="btn-pict"
              [disabled]="viewOnly"
              matTooltip="Обновить"
              type="button"
              mat-raised-button
              (click)="getData(); onDelFiles()"
              [style.margin-left]="'5px'"
            >
              <i class="fa fa-fw fa-refresh"></i>
            </button>
            <button
              class="btn-pict"
              [disabled]="viewOnly"
              matTooltip="Удалить документ"
              type="button"
              mat-raised-button
              color="warn"
              (click)="onDelArchivefolder()"
              [style.margin-left]="'5px'"
              *ngIf="loggedInUser?.isadmin && intType === 'editdoc'"
            >
              <i class="fa fa-fw fa-ban"></i>
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onBack()"
              [style.margin-left]="'5px'"
            >
              Назад
            </button>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6">
            <button
              type="button"
              mat-raised-button
              color="primary"
              [style.margin-left]="'5px'"
              (click)="onSetStatus(3)"
              *ngIf="
                loggedInUser?.isadmin &&
                selectedArchivefolder?.status == 2 &&
                !viewOnly
              "
            >
              Завершить дело
            </button>
            <button
              type="button"
              [style.margin-left]="'5px'"
              mat-raised-button
              color="primary"
              (click)="onSetStatus(2)"
              class="float-lg-right float-md-right float-xl-right"
              *ngIf="
                enableScan &&
                loggedInUser?.usertype === 2 &&
                !loggedInUser?.isadmin &&
                (selectedArchivefolder?.status == 1 ||
                  selectedArchivefolder?.status == 0) &&
                !viewOnly
              "
              [disabled]="viewOnly"
            >
              Отсканировано
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              [style.margin-left]="'5px'"
              (click)="onSetStatus(1)"
              [disabled]="!isSaveValidClean() || viewOnly"
              class="float-lg-right float-md-right float-xl-right"
              *ngIf="
                (enableArch &&
                  !loggedInUser?.isadmin &&
                  (selectedArchivefolder?.status === 0 ||
                    intType === 'newdoc') &&
                  !viewOnly) ||
                (enableScan &&
                  !loggedInUser?.isadmin &&
                  selectedArchivefolder?.status === 2 &&
                  !viewOnly)
              "
            >
              Заполнено
            </button>
            <button
              *ngIf="
                intType === 'newdoc' && enableArch && !loggedInUser?.isadmin
              "
              type="button"
              [style.margin-left]="'5px'"
              mat-raised-button
              class="float-lg-right float-md-right float-xl-right"
              color="primary"
              (click)="onSaveArchivefolderForm(true, false)"
              [disabled]="!isSaveValid() || viewOnly"
            >
              Создать
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="onSetStatus(3)"
              [disabled]="!isSaveValid() || viewOnly"
              class="float-lg-right float-md-right float-xl-right"
              *ngIf="
                enableArch &&
                !loggedInUser?.isadmin &&
                selectedArchivefolder?.status == 2
              "
            >
              Закончено
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>

  <!-- <mat-card
    *ngIf="selectedArchivefolderfiles?.length > 0 || enableScan == true"
  >
    <div class="container">
      <div class="row" *ngIf="selectedArchivefolderfiles?.length > 0">
        <div class="col-12 mb-1">
          <span class="mr-4"
            >Всего файлов: {{ selectedArchivefolderfiles?.length }}</span
          >
          <span class="mr-4">*.jpg файлов: {{ countJpg }}</span>
          <span class="mr-4">*.tiff файлов: {{ countTiff }}</span>
          <span>*.pdf файлов: {{ countPdf }}</span>
        </div>
        <div
          class="col-md-6 col-lg-4 col-xl-4 col-12"
          *ngFor="
            let selectedArchivefolderfile of selectedArchivefolderfiles;
            let i = index
          "
          [style.margin-top]="'5px'"
        >
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="selectedArchivefolderfile.checkToDel == false"
          >
            <div ngbDropdown [style.max-width]="'100%'">
              <a class="dropdown-toggle download" id="id02" ngbDropdownToggle
                ><small>{{
                  selectedArchivefolderfile.archivefile.filename
                }}</small></a
              >
              <div
                class="dropdown-menu"
                aria-labelledby="id02"
                ngbDropdownMenu
                [style.min-width]="'100px'"
              >
                <a
                  class="dropdown-item"
                  (click)="
                    onShowImg(
                      selectedArchivefolderfile?.id,
                      selectedArchivefolderfile
                    )
                  "
                  *ngIf="
                    globalService.isImgtype(
                      selectedArchivefolderfile.archivefile.filename
                    ) ||
                    globalService.isVideotype(
                      selectedArchivefolderfile.archivefile.filename
                    ) ||
                    globalService.isAudiotype(
                      selectedArchivefolderfile.archivefile.filename
                    ) ||
                    globalService.isPdftype(
                      selectedArchivefolderfile.archivefile.filename
                    )
                  "
                >
                  Открыть
                </a>
                <a
                  class="dropdown-item btn disabled"
                  *ngIf="
                    !globalService.isImgtype(
                      selectedArchivefolderfile.archivefile.filename
                    ) &&
                    !globalService.isVideotype(
                      selectedArchivefolderfile.archivefile.filename
                    ) &&
                    !globalService.isAudiotype(
                      selectedArchivefolderfile.archivefile.filename
                    ) &&
                    !globalService.isPdftype(
                      selectedArchivefolderfile.archivefile.filename
                    )
                  "
                >
                  Открыть
                </a>
                <a
                  class="dropdown-item"
                  (click)="
                    onDownloadArchivefolderfile(selectedArchivefolderfile?.id)
                  "
                >
                  Скачать
                </a>
                <a
                  class="dropdown-item"
                  (click)="copyFilename(selectedArchivefolderfile)"
                >
                  Скопировать название файла
                </a>
                <a
                  *ngIf="viewOnly === false"
                  class="dropdown-item"
                  (click)="
                    onRenameFile(
                      selectedArchivefolderfile?.id,
                      selectedArchivefolderfile.archivefile.filename
                    )
                  "
                >
                  Переименовать
                </a>
              </div>
            </div>
            <span
              class="badge badge-light badge-pill"
              (click)="toggleCheckToDel(i)"
              matTooltip="Пометить на удаление"
              *ngIf="enableScan && !viewOnly"
            >
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
          </div>
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="selectedArchivefolderfile.checkToDel == true"
            [style.text-decoration]="'line-through'"
          >
            <span class="download"
              ><small>{{
                selectedArchivefolderfile.archivefile.filename
              }}</small></span
            >
            <span
              class="badge badge-light badge-pill"
              (click)="toggleCheckToDel(i)"
              matTooltip="Снять пометку на удаление"
              *ngIf="enableScan"
            >
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="selectedArchivefolderfiles?.length > 0">
        <div class="col-12">
          <a class="float-right download" (click)="onDownloadZip()"
            ><small>Скачать одним архивом</small></a
          >
          <a class="float-right download mr-3" (click)="onDownloadPreviewZip()"
            ><small>Скачать версию для просмотра</small></a
          >
          <a class="float-right download mr-3" (click)="toggleCheckToAllDel()"
            ><small>Пометить все на удаление</small></a
          >
        </div>
      </div>
      <div class="row" *ngIf="enableScan && !viewOnly">
        <div
          class="dropzone"
          appFiledrop
          (click)="onOpenFilesInput()"
          (filesChangeEmiter)="onFilesChange($event)"
          [allowed_extensions]="[
            'jpg',
            'xls',
            'xlsx',
            'png',
            'gif',
            'bmp',
            'jpeg',
            'pdf',
            'tiff',
            'tif',
            'doc',
            'docx',
            'avi',
            'mp4',
            'mkv',
            'mp3',
            'wav',
            'ogg',
            'ogv',
            'm4v',
            'mts',
            'mpeg'
          ]"
        >
          <div class="text-wrapper">
            <div class="centered">
              <p>Для загрузки доступны:</p>
              <p>
                *.jpg, *.xls, *.xlsx, *.jpeg, *.png, *.bmp, *.gif, *.pdf,
                *.tiff, *.doc, *.docx, *.avi, *.mp4, *.mkv, *.mp3, *.wav, *.ogg,
                *.ogv, *.mov, *.m4v, *.mts, *.mpeg
              </p>
            </div>
          </div>
        </div>
        <input
          type="file"
          accept=".jpg, .xls, .xlsx .png, .gif, .bmp', .jpeg, .pdf, .tiff, .tif, .doc, .docx, .avi, .mp4, .mkv, .mp3, .wav, .ogg, .ogv, .mov, .m4v, .mts, .mpeg, .MOV, .JPG, .XLS, .XLSX, .PNG, .GIF, .BMP', .JPEG, .PDF, .TIFF, .TIF, .DOC, .DOCX, .AVI, .MP4, .MKV, .MP3, .WAV, .OGG, .OGV, .M4V, .MTS, .MPEG,"
          multiple
          class="form-control"
          placeholder=""
          (change)="onFilesChangeInput($event)"
          [style.display]="'none'"
          #filesInput
        />
      </div>
      <div class="row" *ngIf="files?.length > 0">
        <div
          class="col-md-8 col-lg-8 col-xl-8 col-12"
          [style.margin-bottom]="'5px'"
        >
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let file of files; let i = index"
            >
              {{ file.name }}
              <span
                class="badge badge-danger badge-pill"
                (click)="onDelFileById(i)"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </li>
          </ul>
        </div>
        <div
          class="col-md-4 col-lg-4 col-xl-4 col-12"
          [style.margin-bottom]="'10px'"
        >
          <button
            matTooltip="Очистить список"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDelFiles()"
          >
            <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div
        class="row"
        *ngIf="
          authService.getCurUser().isadmin === true && intType === 'editdoc'
        "
      >
        <div class="col-12">
          <a class="download" (click)="onLinkFromServer()"
            ><small>Скопировать с сервера</small></a
          >&nbsp;<small
            >Процедура копирования запустится после подтверждения в диалоговом
            окне.</small
          >
        </div>
      </div>
    </div>
  </mat-card> -->
  <!-- <mat-card *ngIf="enableArch">
    <div class="container"> -->
  <!-- <div class="row" *ngIf="archivefolderlinks?.length > 0">
        <div
          class="col-md-12 col-lg-6 col-xl-6 col-12"
          *ngFor="let archivefolderlink of archivefolderlinks; let i = index"
          [style.margin-top]="'5px'"
        >
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="archivefolderlink.checkToDel == false"
          >
            <span
              [style.cursor]="'pointer'"
              (click)="
                onLinkMarchive(
                  id == archivefolderlink.archivefolder_id1
                    ? archivefolderlink.archivefolder_id2
                    : archivefolderlink.archivefolder_id1
                )
              "
              >{{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.name2
                  : archivefolderlink.name1
              }}<br />
              <br />
              Фонд:
              {{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.fond2
                  : archivefolderlink.fond1
              }}
              Опись:
              {{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.opis_name2
                  : archivefolderlink.opis_name1
              }}
              Дело:
              {{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.delo2
                  : archivefolderlink.delo1
              }}

              {{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.postfix2
                  : archivefolderlink.postfix1
              }}
              <i [style.color]="'grey'"
                >({{ getLink_typeByKey(archivefolderlink.link_type).value }})</i
              ></span
            >
            <span
              class="badge badge-light badge-pill"
              (click)="toggleCheckToDelLink(i)"
              matTooltip="Пометить на удаление"
              *ngIf="enableArch"
            >
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
          </div>
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="archivefolderlink.checkToDel == true"
            [style.text-decoration]="'line-through'"
          >
            <span
              >{{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.name2
                  : archivefolderlink.name1
              }}<br />
              <br />
              Фонд:
              {{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.fond2
                  : archivefolderlink.fond1
              }}
              Опись:
              {{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.opis_name2
                  : archivefolderlink.opis_name1
              }}
              Дело:
              {{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.delo2
                  : archivefolderlink.delo1
              }}

              {{
                id == archivefolderlink.archivefolder_id1
                  ? archivefolderlink.postfix2
                  : archivefolderlink.postfix1
              }}
              <i [style.color]="'grey'"
                >({{ getLink_typeByKey(archivefolderlink.link_type).value }})</i
              ></span
            >
            <span
              class="badge badge-light badge-pill"
              (click)="toggleCheckToDelLink(i)"
              matTooltip="Снять пометку на удаление"
              *ngIf="enableArch"
            >
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-2" *ngIf="enableArch">
        <div class="col-12 col-md-7 col-lg-7 col-xl-7">
          <mat-form-field class="full-width">
            <input
              type="text"
              placeholder="Ссылка на дело"
              aria-label="Ссылка на дело"
              appDisablecontrol
              [disableControl]="viewOnly"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
              (input)="inputLink()"
            />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option
                *ngFor="let option of filteredArchivefolders | async"
                [value]="option"
                matTooltip="{{ option.name }}. Дело = {{
                  option.delo
                }}. Опись = {{ option.opis }}. Фонд = {{ option.fond }}."
              >
                Название: "{{ option.name }}". Дело = {{ option.delo }}. Опись =
                {{ option.opis }}. Фонд = {{ option.fond }}.
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
          <mat-form-field class="full-width">
            <mat-select
              class="full-width"
              placeholder="Тип"
              [(ngModel)]="link_type"
              appDisablecontrol
              [disableControl]="!enableArch || viewOnly"
            >
              <mat-option
                [value]="link_type.key"
                *ngFor="let link_type of link_types"
              >
                {{ link_type.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-2 col-lg-2 col-xl-2">
          <button
            class="btn-pict"
            type="button"
            mat-fab
            color="primary"
            (click)="onAddArchivefolderlink()"
            [style.margin-left]="'5px'"
            class="float-lg-right float-md-right float-xl-right"
            [disabled]="myControl?.value?.id == undefined"
          >
            <i class="fa fa-fw fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="row" *ngIf="links?.length > 0">
        <div
          class="col-md-6 col-lg-4 col-xl-3 col-12"
          *ngFor="let archivefolderlink of links; let i = index"
          [style.margin-top]="'5px'"
        >
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span
              >{{ archivefolderlink.val.name }} ({{
                getLink_typeByKey(archivefolderlink.link_type)?.value
              }})</span
            >
            <span
              class="badge badge-danger badge-pill"
              (click)="onDelLinkById(i)"
            >
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div> -->
  <!-- </div>
  </mat-card> -->
</div>
<div class="progress-bar mt-2 mb-2" *ngIf="inProgress">
  <mat-progress-bar
    mode="buffer"
    [color]="'accent'"
    [value]="0"
    [bufferValue]="inProgressVal"
    [style.height]="'5px'"
  >
  </mat-progress-bar>
</div>
<div class="progress-bar mt-4 mb-2" *ngIf="inProgressExt">
  <mat-progress-bar
    mode="buffer"
    [color]="'accent'"
    [value]="0"
    [bufferValue]="inProgressValExt"
    [style.height]="'5px'"
  >
  </mat-progress-bar>
</div>
<div
  class="progress-bar mt-2 mb-2"
  *ngIf="inProgressText"
  [style.background]="'white'"
  [style.z-index]="'9999'"
>
  Загружено {{ loaded }} мб.
</div>
<app-lightbox
  #lightbox
  [images]="lightboxImages"
  [wait]="galleryWait"
  (onClose)="lightboxImages.length = 0"
  (onChange)="previewChange($event)"
  (onorientation)="onOrientation($event)"
></app-lightbox>
