hr {
  background-color: RGBA(175, 175, 175, 1);
  height: 2px;
  width: 100%;
  border: 0;
}

@media (max-width: 450px) {
  #fin {
    display: none;
  }
}

@media (max-width: 520px) {
  #fin {
    display: none;
  }
}

.table,
.tdummy {
  width: 100%;
}

/* .example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
} */

.example-list {
  /* border: solid 1px #ccc; */
  margin-top: -10px;
  min-height: 60px;
  background: white;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
}

.example-handle {
  cursor: move;
  z-index: 100;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0,
      0.2,
      1);
}

.mat-intable .mat-form-field-label,
::placeholder {
  color: black !important;
  font-weight: bold !important;
}
