<mat-card>
  <mat-card-header *ngIf="selectedPersonalcode">
    <mat-card-title>
      <div class="row">
        Код: {{ selectedPersonalcode }}
        <span *ngIf="selectedPersonal?.surname?.length > 0"
          >({{ selectedPersonal?.surname }} {{ selectedPersonal?.fname }}
          {{ selectedPersonal?.lname }})</span
        >
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <ol class="breadcrumb d-none d-lg-block">
        <li
          *ngFor="let breadcrumb of breadcrumbs; last as isLast"
          class="breadcrumb-item"
          [ngClass]="{ active: isLast }"
          aria-current="page"
        >
          <a *ngIf="!isLast; else lastRoute" (click)="goBack(breadcrumb.url)">
            {{ breadcrumb.label }}
          </a>
          <ng-template #lastRoute
            ><span>{{ breadcrumb.label }}</span></ng-template
          >
        </li>
      </ol>
    </mat-card-subtitle>
  </mat-card-header>
  <div class="container">
    <form [formGroup]="courttForm" class="full-width" (ngSubmit)="onSaveForm()">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="inq_name"
              id="inq_name"
              type="text"
              matInput
              placeholder="Следственный орган"
              formControlName="inq_name"
              [maxLength]="courtT_width['inq_name']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="inq_name_rmk"
              id="inq_name_rmk"
              type="text"
              matInput
              placeholder="Комментарий к следственному органу"
              formControlName="inq_name_rmk"
              [maxLength]="courtT_width['inq_name_rmk']"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="inq_date"
              id="inq_date"
              matInput
              [matDatepicker]="pickerinq_date"
              placeholder="Дата начала следствия"
              formControlName="inq_date"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerinq_date"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerinq_date startView="year"></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetInq_date()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="inq_date_begin_end"
              id="inq_date_begin_end"
              type="text"
              matInput
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              placeholder="Дата начала следствия"
              formControlName="inq_date_begin_end"
              (blur)="
                dateparseService.getSour_date(
                  courttForm,
                  'inq_date_begin_end',
                  'inq_date_begin',
                  'inq_date_end'
                )
              "
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="inq_date_rmk"
              id="inq_date_rmk"
              type="text"
              matInput
              placeholder="Комментарий к времени следствия"
              formControlName="inq_date_rmk"
              [maxLength]="courtT_width['inq_date_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              placeholder="Географическое место следствия"
              aria-label="Географическое место следствия"
              matInput
              [formControl]="myControl_code_place_num_i"
              [matAutocomplete]="autogeoplace_code"
              (input)="inputLink_geoplace_code_i()"
            />
            <mat-autocomplete
              #autogeoplace_code="matAutocomplete"
              [displayWith]="displayFn_residence_code"
            >
              <mat-option
                *ngFor="let item of filteredPlacets | async"
                [value]="item"
                matTooltip="{{ item.place_num }}.&nbsp;{{
                  item.place_code
                }}.&nbsp;{{ item.place_name }}."
              >
                <span>{{ item.place_code }}. {{ item.place_name }}.</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="place_i_rmk"
              id="place_i_rmk"
              type="text"
              matInput
              placeholder="Комментарий к месту следствия"
              formControlName="place_i_rmk"
              [maxLength]="courtT_width['place_i_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="inq_rmk"
              id="inq_rmk"
              type="text"
              matInput
              placeholder="Комментарий к следствию"
              formControlName="inq_rmk"
              [maxLength]="courtT_width['inq_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width mat-intable">
            <input
              autocomplete="nope"
              name="trial_no"
              id="trial_no"
              type="number"
              step="1"
              min="1"
              max="99"
              matInput
              placeholder="Номер судебного процесса*"
              formControlName="trial_no"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="trial_rmk"
              id="trial_rmk"
              type="text"
              matInput
              placeholder="Комментарий к суду"
              formControlName="trial_rmk"
              [maxLength]="courtT_width['trial_rmk']"
            />
          </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="court_name"
              id="court_name"
              type="text"
              matInput
              placeholder="Судебный орган"
              formControlName="court_name"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="court_name_rmk"
              id="court_name_rmk"
              type="text"
              matInput
              placeholder="Комментарий к судебному органу"
              formControlName="court_name_rmk"
              [maxLength]="courtT_width['court_name_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              placeholder="Географическое место суда"
              aria-label="Географическое место суда"
              matInput
              [formControl]="myControl_code_place_num_j"
              [matAutocomplete]="autogeoplace_code"
              (input)="inputLink_geoplace_code_j()"
            />
            <mat-autocomplete
              #autogeoplace_code="matAutocomplete"
              [displayWith]="displayFn_residence_code"
            >
              <mat-option
                *ngFor="let item of filteredPlacets | async"
                [value]="item"
                matTooltip="{{ item.place_num }}.&nbsp;{{
                  item.place_code
                }}.&nbsp;{{ item.place_name }}."
              >
                <span>{{ item.place_code }}. {{ item.place_name }}.</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="place_j_rmk"
              id="place_j_rmk"
              type="text"
              matInput
              placeholder="Комментарий к месту суда"
              formControlName="place_j_rmk"
              [maxLength]="courtT_width['place_j_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-12 mt-3">
          <div class="patterns" *ngIf="!articlePatternsOpen">
            <ng-container
              *ngFor="
                let articlePattern of articlePatterns | slice: 0:3;
                let articlePatternLast = last
              "
            >
              <span
                [matTooltip]="articlePattern.title"
                (click)="insertArticlePattern(articlePattern)"
                >{{ articlePattern.value }}</span
              ><ng-container *ngIf="!articlePatternLast">, </ng-container>
            </ng-container>
            &nbsp;<span (click)="articlePatternsOpen = true"> >> </span>
          </div>
          <div class="patterns" *ngIf="articlePatternsOpen">
            <ng-container
              *ngFor="
                let articlePattern of articlePatterns;
                let articlePatternLast = last
              "
            >
              <span
                [matTooltip]="articlePattern.title"
                (click)="insertArticlePattern(articlePattern)"
                >{{ articlePattern.value }}</span
              ><ng-container *ngIf="!articlePatternLast">, </ng-container>
            </ng-container>
            &nbsp;<span (click)="articlePatternsOpen = false"> << </span>
          </div>
          <mat-form-field class="full-width mat-intable">
            <input
              #articleTextArea
              autocomplete="nope"
              name="article"
              id="article"
              type="text"
              matInput
              placeholder="Статья"
              formControlName="article"
              [maxLength]="courtT_width['article']"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              (click)="setArticlePos(articleTextArea)"
              (input)="setArticlePos(articleTextArea)"
            />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="article_rmk"
              id="article_rmk"
              type="text"
              matInput
              placeholder="Комментарий к статье"
              formControlName="article_rmk"
              [maxLength]="courtT_width['article_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-12 mt-3">
          <div class="patterns" *ngIf="!sentensPatternsOpen">
            <ng-container
              *ngFor="
                let sentensPattern of sentensPatterns | slice: 0:3;
                let sentensPatternLast = last
              "
            >
              <span
                [matTooltip]="sentensPattern.title"
                (click)="insertSentensPattern(sentensPattern)"
                >{{ sentensPattern.value }}</span
              ><ng-container *ngIf="!sentensPatternLast">, </ng-container>
            </ng-container>
            &nbsp;<span (click)="sentensPatternsOpen = true"> >> </span>
          </div>
          <div class="patterns" *ngIf="sentensPatternsOpen">
            <ng-container
              *ngFor="
                let sentensPattern of sentensPatterns;
                let sentensPatternLast = last
              "
            >
              <span
                [matTooltip]="sentensPattern.title"
                (click)="insertSentensPattern(sentensPattern)"
                >{{ sentensPattern.value }}</span
              ><ng-container *ngIf="!sentensPatternLast">, </ng-container>
            </ng-container>
            &nbsp;<span (click)="sentensPatternsOpen = false"> << </span>
          </div>
          <mat-form-field class="full-width mat-intable">
            <input
              #sentenseTextArea
              matInput
              placeholder="Приговор"
              aria-label="Приговор"
              [matAutocomplete]="auto"
              [formControl]="myControl_sentenses"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              (click)="setSentensPos(sentenseTextArea)"
              (input)="setSentensPos(sentenseTextArea)"
              [maxLength]="50"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let sentense of filteredSentenses | async"
                [value]="sentense.name_ent"
              >
                <span>{{ sentense.name_ent }}</span
                ><span *ngIf="sentense.name_rmk"
                  >({{ sentense.name_rmk }})</span
                >
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="sentense_rmk"
              id="sentense_rmk"
              type="text"
              matInput
              placeholder="Комментарий к приговору"
              formControlName="sentense_rmk"
              [maxLength]="courtT_width['sentense_rmk']"
            />
          </mat-form-field>
        </div>
        <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="sentense_date"
              id="sentense_date"
              matInput
              [matDatepicker]="pickersentense_date"
              placeholder="Дата вынесения приговора"
              formControlName="sentense_date"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickersentense_date"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #pickersentense_date
              startView="year"
            ></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetSentense_date()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="sentense_date_begin_end"
              id="sentense_date_begin_end"
              type="text"
              matInput
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              placeholder="Дата вынесения приговора"
              formControlName="sentense_date_begin_end"
              (blur)="
                dateparseService.getSour_date(
                  courttForm,
                  'sentense_date_begin_end',
                  'sentense_date_begin',
                  'sentense_date_end'
                )
              "
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="sentense_date_rmk"
              id="sentense_date_rmk"
              type="text"
              matInput
              placeholder="Комментарий к дате приговора"
              formControlName="sentense_date_rmk"
              [maxLength]="courtT_width['sentense_date_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-12">
          <span [style.margin-left]="'20px'"
            >Лица, упоминаемые в связи со следствием и судебным процессом</span
          >
          <button
            [disabled]="viewOnly"
            type="button"
            [style.margin-left]="'10px'"
            (click)="addCocrtt()"
            mat-button
            color="primary"
          >
            Добавить
          </button>
        </div>
        <form
          [formGroup]="cocrttForm"
          class="full-width"
          *ngFor="
            let cocrttForm of cocrttForms;
            let _first = first;
            let j = index
          "
        >
          <div class="row" [style.padding-left]="'25px'">
            <div class="col-md-6 col-lg-4 col-xl-4 col-12">
              <mat-form-field class="full-width">
                <input
                  type="text"
                  placeholder="Человек*"
                  aria-label="Человек*"
                  matInput
                  [formControl]="myControl_human_code[j]"
                  [matAutocomplete]="autoact_human_code"
                  (input)="inputLink_human_code(j)"
                  [style.font-size]="'13px'"
                />
                <button
                  *ngIf="myControl_human_code[j]?.value?.type_r != null"
                  [disabled]="true"
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  title="Репрессированный"
                  [style.color]="'red'"
                  [style.margin-right]="'-5px'"
                >
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </button>
                <button
                  *ngIf="
                    myControl_human_code[j]?.value?.fund != null &&
                    myControl_human_code[j]?.value?.list_no != null
                  "
                  [disabled]="true"
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  title="Заполнено"
                  [style.color]="'blue'"
                  [style.margin-right]="'-5px'"
                >
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </button>
                <button
                  *ngIf="myControl_human_code[j]?.value?.type_a != null"
                  [disabled]="true"
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  title="Пособник"
                  [style.color]="'green'"
                  [style.margin-right]="'-5px'"
                >
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </button>
                <button
                  [disabled]="viewOnly"
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  aria-label="Add"
                  title="Добавить персоналию"
                  [disabled]="viewOnly"
                  (click)="onAddPersonalT(j)"
                >
                  +<i class="fa fa-user" aria-hidden="true"></i>
                </button>
                <button
                  [disabled]="
                    myControl_human_code[j] == null ||
                    myControl_human_code[j].value == null ||
                    myControl_human_code[j].value.code == null
                  "
                  type="button"
                  mat-button
                  matSuffix
                  mat-icon-button
                  aria-label="Link"
                  title="Перейти к персоналии"
                  (click)="
                    filteredPersonalts = null;
                    onLinkPersonalT(myControl_human_code[j].value.code)
                  "
                >
                  <i class="fa fa-user" aria-hidden="true"></i>
                </button>
                <mat-autocomplete
                  #autoact_human_code="matAutocomplete"
                  [displayWith]="displayFn_human_code"
                >
                  <!-- <mat-option *ngFor="let item of filteredPersonalts | async" [value]="item"
                    matTooltip="{{item.code}}.&nbsp;{{item.surname}}.&nbsp;{{item.fname}}.&nbsp;{{item.lname}}.">
                    <span [style.font-size]="'12px'">{{item.code}}. {{item.surname}}. {{item.fname}}.
                      {{item.lname}}</span>
                  </mat-option> -->
                  <mat-option
                    *ngFor="let item of filteredPersonalts | async"
                    [value]="item"
                    title="{{ item.code }}.&nbsp;{{ item.surname }}.&nbsp;{{
                      item.fname
                    }}.&nbsp;{{ item.lname }}.&nbsp;{{
                      dateparseService.toMultiDateStr(
                        item.birth_begin,
                        item.birth_end,
                        false
                      )
                    }}&nbsp;{{ item.birth_rmk }}&nbsp;{{ item.surname_rmk }}"
                  >
                    <span [style.font-size]="'12px'"
                      >{{ item.code }}. {{ item.surname }}. {{ item.fname }}.
                      {{ item.lname }}</span
                    >&nbsp;<span
                      [style.font-size]="'12px'"
                      *ngIf="item.birth_begin != null"
                      >{{
                        dateparseService.toMultiDateStr(
                          item.birth_begin,
                          item.birth_end,
                          false
                        )
                      }}</span
                    >
                    <span
                      [style.font-size]="'12px'"
                      *ngIf="item.birth_begin == null"
                      >{{ item.birth_rmk }}</span
                    >
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-5 col-lg-2 col-xl-2 col-12">
              <mat-form-field class="full-width">
                <input
                  autocomplete="nope"
                  name="role"
                  id="role"
                  type="text"
                  matInput
                  placeholder="Роль человека"
                  formControlName="role"
                  [maxLength]="cocrT_width['role']"
                />
              </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-12">
              <mat-form-field class="full-width">
                <input
                  autocomplete="nope"
                  name="role_rmk"
                  id="role_rmk"
                  type="text"
                  matInput
                  placeholder="Комментарий к роли"
                  formControlName="role_rmk"
                  [maxLength]="cocrT_width['role_rmk']"
                />
              </mat-form-field>
            </div>
            <!-- <div class="col-md-4 col-lg-2 col-xl-2 col-12">
              <mat-slide-toggle [style.margin]="'15px 0 15px 0'" formControlName="sign_mark">
                Важно
              </mat-slide-toggle>
            </div> -->
            <div class="col-md-2 col-lg-2 col-xl-2 col-12">
              <button
                [disabled]="viewOnly"
                type="button"
                [style.margin]="'8px 0 0 0'"
                class="btn-pict"
                (click)="delCocrtt(j)"
                mat-button
                color="primary"
              >
                <i class="fa fa-fw fa-ban"></i>
              </button>
            </div>
          </div>
        </form>
        <button
          [disabled]="viewOnly"
          type="button"
          [style.margin-left]="'10px'"
          (click)="addCocrtt()"
          mat-button
          color="primary"
          *ngIf="cocrttForms?.length > 2"
        >
          Добавить
        </button>
      </div>
      <hr />
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="globalService?.courtt_edit?.selectedImprist"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="titlemark">Заключения</span>
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th [style.width]="'1px'"></th>
                  <th [style.width]="'180px'" id="code">Номер заключения</th>
                  <th id="name">Тип заключения</th>
                  <th [style.width]="'160px'" id="start">Дата прибытия</th>
                  <th [style.width]="'160px'" id="end">Дата убытия</th>
                  <th [style.width]="'50px'">
                    <button
                      [disabled]="viewOnly"
                      type="button"
                      class="float-right"
                      mat-mini-fab
                      color="primary"
                      (click)="addImprist()"
                      [style.margin-bottom]="'-8px'"
                      [style.margin-top]="'-8px'"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="row">
            <div
              cdkDropList
              #selectedImpristsList="cdkDropList"
              [cdkDropListData]="selectedImprists"
              [cdkDropListConnectedTo]="[selectedImpristsList]"
              class="example-list w-100"
              (cdkDropListDropped)="drop($event, 'impris_t')"
            >
              <div
                class="example-box"
                *ngFor="let selectedImprist of selectedImprists"
                cdkDrag
                (click)="editImprist(selectedImprist.id)"
              >
                <table class="tdummy">
                  <tbody>
                    <tr>
                      <td [style.width]="'40px'">
                        <div
                          class="example-handle"
                          cdkDragHandle
                          (click)="stop($event)"
                        >
                          <i
                            *ngIf="!viewOnly"
                            class="fa fa-arrows"
                            aria-hidden="true"
                          ></i>
                        </div>
                      </td>
                      <td [style.width]="'165px'" id="code">
                        <span>{{ selectedImprist.impris_no }}</span>
                      </td>
                      <td id="name">
                        <span>
                          {{
                            getImpristypeByid(selectedImprist.impris_type_id)
                          }}</span
                        >
                      </td>
                      <td [style.width]="'160px'" id="start">
                        <span
                          [innerHTML]="
                            dateparseService.toMultiDateStr(
                              selectedImprist.arrival_dat_begin,
                              selectedImprist.arrival_dat_end
                            )
                          "
                        ></span>
                        <!-- <ng-container
                          *ngIf="
                            selectedImprist.arrival_dat_begin ===
                              selectedImprist.arrival_dat_end;
                            else multiDate
                          "
                        >
                          <span>{{
                            selectedImprist.arrival_dat_begin
                              | date: 'dd.MM.yyyy'
                          }}</span>
                        </ng-container>
                        <ng-template #multiDate>
                          <small
                            >{{
                              selectedImprist.arrival_dat_begin
                                | date: 'dd.MM.yyyy'
                            }}&nbsp;-<br />
                            {{
                              selectedImprist.arrival_dat_end
                                | date: 'dd.MM.yyyy'
                            }}</small
                          >
                        </ng-template> -->
                        <!-- <span>{{
                          selectedImprist.arrival_dat_begin | date: 'dd.MM.yyyy'
                        }}</span> -->
                      </td>
                      <td [style.width]="'160px'" id="end">
                        <ng-container
                          *ngIf="
                            selectedImprist.leave_dat_begin != null;
                            else elseTemplate
                          "
                        >
                          <span
                            [innerHTML]="
                              dateparseService.toMultiDateStr(
                                selectedImprist.leave_dat_begin,
                                selectedImprist.leave_dat_end
                              )
                            "
                          ></span>
                          <!-- <ng-container
                            *ngIf="
                              selectedImprist.leave_dat_begin ===
                                selectedImprist.leave_dat_end;
                              else multiDate1
                            "
                          >
                            <span>{{
                              selectedImprist.leave_dat_begin
                                | date: 'dd.MM.yyyy'
                            }}</span>
                          </ng-container>
                          <ng-template #multiDate1>
                            <small
                              >{{
                                selectedImprist.leave_dat_begin
                                  | date: 'dd.MM.yyyy'
                              }}&nbsp;-<br />
                              {{
                                selectedImprist.leave_dat_end
                                  | date: 'dd.MM.yyyy'
                              }}</small
                            >
                          </ng-template> -->
                        </ng-container>
                        <ng-template #elseTemplate>
                          <span>{{ selectedImprist.leave_dat_rmk }}</span>
                        </ng-template>

                        <!-- <span *ngIf="selectedImprist.leave_dat_begin != null">{{
                          selectedImprist.leave_dat_begin | date: 'dd.MM.yyyy'
                        }}</span>
                        <span *ngIf="selectedImprist.leave_dat_begin == null">{{
                          selectedImprist.leave_dat_rmk
                        }}</span> -->
                      </td>
                      <td [style.width]="'43px'"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <!--
      <mat-accordion>
        <mat-expansion-panel
          [expanded]="globalService?.courtt_edit?.selectedImprist"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="titlemark">Заключения</span>
            </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th id="code">Номер заключения</th>
                  <th id="name">Тип заключения</th>
                  <th id="start">Дата прибытия</th>
                  <th id="end">Дата убытия</th>
                  <th>
                    <button
                      [disabled]="viewOnly"
                      type="button"
                      class="float-right"
                      mat-mini-fab
                      color="primary"
                      [disabled]="!valid"
                      (click)="addImprist()"
                      [style.margin-bottom]="'-8px'"
                      [style.margin-top]="'-8px'"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let selectedImprist of selectedImprists">
                  <td (click)="editImprist(selectedImprist.id)" id="code">
                    {{ selectedImprist.impris_no }}
                  </td>
                  <td (click)="editImprist(selectedImprist.id)" id="name">
                    {{ getImpristypeByid(selectedImprist.impris_type_id) }}
                  </td>
                  <td (click)="editImprist(selectedImprist.id)" id="start">
                    {{ selectedImprist.arrival_dat | date: 'dd.MM.yyyy' }}
                  </td>
                  <td (click)="editImprist(selectedImprist.id)" id="end">
                    <span *ngIf="selectedImprist.leave_dat != null">{{
                      selectedImprist.leave_dat | date: 'dd.MM.yyyy'
                    }}</span>
                    <span *ngIf="selectedImprist.leave_dat == null">{{
                      selectedImprist.leave_dat_rmk
                    }}</span>
                  </td>
                  <td (click)="editImprist(selectedImprist.id)"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion> -->
      <div
        class="col-12"
        *ngIf="intType != 'myprofile'"
        [style.margin-top]="'10px'"
      >
        <button
          [disabled]="viewOnly || !valid"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Сохранить
        </button>
        <button
          [disabled]="viewOnly"
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          [disabled]="viewOnly"
          class="btn-pict"
          matTooltip="Удалить"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDel()"
          [style.margin-left]="'5px'"
          *ngIf="intType == 'editdoc'"
        >
          <i class="fa fa-fw fa-ban"></i>
        </button>
        <button
          type="button"
          [style.margin-left]="'5px'"
          mat-raised-button
          color="primary"
          (click)="goBack()"
        >
          Назад
        </button>
      </div>
    </form>
  </div>
</mat-card>
