<mat-card>
  <div class="container">
    <form [formGroup]="usagetForm" class="full-width" (ngSubmit)="onSaveForm()">
      <div class="row">
        <!-- <div class="col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="us_date"
              id="us_date"
              matInput
              [matDatepicker]="pickerus_date"
              placeholder="Дата использования"
              formControlName="us_date"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerus_date"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerus_date startView="year"></mat-datepicker>
            <button
              [disabled]="true"
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetUs_date()"
            >
              x
            </button>
          </mat-form-field>
        </div> -->
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="mat-intable">
            <input
              autocomplete="nope"
              name="us_date_begin_end"
              id="us_date_begin_end"
              type="text"
              matInput
              [style.color]="'black'"
              [style.font-weight]="'bold'"
              placeholder="Дата использования"
              formControlName="us_date_begin_end"
              (blur)="
                dateparseService.getSour_date(
                  usagetForm,
                  'us_date_begin_end',
                  'us_date_begin',
                  'us_date_end'
                )
              "
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width mat-intable">
            <mat-select
              placeholder="Тип использования"
              formControlName="us_type_id"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            >
              <mat-option [value]="null"> </mat-option>
              <mat-option *ngFor="let us_type of us_types" [value]="us_type.id">
                {{ us_type.name_ent }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width mat-intable">
            <input
              autocomplete="nope"
              name="sour_txt"
              id="sour_txt"
              type="text"
              matInput
              placeholder="Комментарий к использованию"
              formControlName="sour_txt"
              [maxLength]="usageT_width['sour_txt']"
              [style.color]="'black'"
              [style.font-weight]="'bold'"
            />
          </mat-form-field>
        </div>
        <div class="col-12" [style.margin-top]="'10px'">
          <button
            [disabled]="viewOnly || !usagetForm.valid"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Сохранить
          </button>
          <button
            [disabled]="viewOnly"
            class="btn-pict"
            matTooltip="Обновить"
            type="button"
            mat-raised-button
            (click)="getData()"
            [style.margin-left]="'5px'"
          >
            <i class="fa fa-fw fa-refresh"></i>
          </button>
          <button
            [disabled]="viewOnly"
            class="btn-pict"
            matTooltip="Удалить"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDel()"
            [style.margin-left]="'5px'"
            *ngIf="id"
          >
            <i class="fa fa-fw fa-ban"></i>
          </button>
          <button
            type="button"
            [style.margin-left]="'5px'"
            mat-raised-button
            color="primary"
            (click)="goBack()"
          >
            Назад
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-card>
