.badge {
  cursor: pointer;
}

.download {
  /* cursor: pointer !important; */
  color: #3f51b5 !important;
  overflow-wrap: break-word !important;
  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: break-word !important;
  word-break: break-all !important;
  white-space: normal !important;
  max-width: 100%;
}

.mat-intable .mat-form-field-label,
::placeholder {
  color: black !important;
  font-weight: bold !important;
}

.wrap {
  padding: 0 20px 0 20px;
  position: relative;
}
.next,
.previous {
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  height: 100%;
  width: 20px;
  background: #fafafa;
}

.previous {
  left: 0px;
}

.next {
  right: 0px;
}

.next:hover,
.previous:hover {
  background: #e1e1e1;
}
.striked {
  text-decoration: line-through !important;
}
.underline {
  text-decoration: underline;
}
