<mat-card>
  <div class="container">
    <form [formGroup]="fondForm" class="full-width">
      <div class="row">
        <div class="col-12 mb-2">
          <mat-slide-toggle
            [style.margin]="'15px 15px 15px 0px'"
            formControlName="published"
          >
            Публиковать
          </mat-slide-toggle>
        </div>
        <div class="col-md-12 col-lg-3 col-xl-3 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="fond"
              id="fond"
              matInput
              placeholder="Фонд"
              formControlName="fond"
              (input)="updateOpisItems()"
            />
          </mat-form-field>
        </div>
        <div class="col-12 col-md-12 col-lg-9 col-xl-9">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="description"
              id="description"
              rows="1"
              matInput
              placeholder="Название"
              formControlName="description"
              [maxLength]="fond_width['description']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.description?.length }} /
              {{ fond_width['description'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="form_date"
              id="form_date"
              rows="2"
              [maxlength]="fond_width['form_date']"
              matInput
              placeholder="Дата формирования (текст)"
              formControlName="form_date"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.form_date?.length }} /
              {{ fond_width['form_date'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="doc_begin"
              id="doc_begin"
              matInput
              placeholder="Даты документов, от"
              formControlName="doc_begin"
              max="9999"
              [maxlength]="fond_width['doc_begin']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6 col-12">
          <mat-form-field class="full-width">
            <input
              type="number"
              autocomplete="nope"
              name="doc_end "
              id="doc_end "
              matInput
              placeholder="Даты документов, до"
              formControlName="doc_end"
              max="9999"
              [maxlength]="fond_width['doc_end']"
            />
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="storage_capacity"
              id="storage_capacity"
              rows="2"
              matInput
              placeholder="Объем и носитель хранения"
              formControlName="storage_capacity"
              [maxLength]="fond_width['storage_capacity']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.storage_capacity?.length }} /
              {{ fond_width['storage_capacity'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="creators_name"
              id="creators_name"
              rows="2"
              matInput
              placeholder="Имя создателя (ей)"
              formControlName="creators_name"
              [maxLength]="fond_width['creators_name']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.creators_name?.length }} /
              {{ fond_width['creators_name'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="admin_biog_history"
              id="admin_biog_history"
              rows="2"
              matInput
              placeholder="Административная/Биографическая история"
              formControlName="admin_biog_history"
              [maxLength]="fond_width['admin_biog_history']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.admin_biog_history?.length }} /
              {{ fond_width['admin_biog_history'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="arch_history"
              id="arch_history"
              rows="2"
              matInput
              placeholder="Архивная история"
              formControlName="arch_history"
              [maxLength]="fond_width['arch_history']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.arch_history?.length }} /
              {{ fond_width['arch_history'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="donation_source"
              id="donation_source"
              rows="2"
              matInput
              placeholder="Непосредственный источник комплектования или перевод"
              formControlName="donation_source"
              [maxLength]="fond_width['donation_source']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.donation_source?.length }} /
              {{ fond_width['donation_source'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="description_long"
              id="description_long"
              rows="2"
              matInput
              placeholder="Рамки и содержание"
              formControlName="description_long"
              [maxLength]="fond_width['description_long']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.description_long?.length }} /
              {{ fond_width['description_long'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="mat_organ_system"
              id="mat_organ_system"
              rows="2"
              matInput
              placeholder="Система расположения и организации материала"
              formControlName="mat_organ_system"
              [maxLength]="fond_width['mat_organ_system']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.mat_organ_system?.length }} /
              {{ fond_width['mat_organ_system'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="access_lim"
              id="access_lim"
              rows="2"
              [maxlength]="fond_width['access_lim']"
              matInput
              placeholder="Ограничения к доступу"
              formControlName="access_lim"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.access_lim?.length }} /
              {{ fond_width['access_lim'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="help"
              id="help"
              rows="2"
              matInput
              placeholder="Научно-справочный аппарат"
              formControlName="help"
              [maxLength]="fond_width['help']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.help?.length }} /
              {{ fond_width['help'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="archivist_rmk"
              id="archivist_rmk"
              rows="2"
              matInput
              placeholder="Примечания архивиста"
              formControlName="archivist_rmk"
              [maxLength]="fond_width['archivist_rmk']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.archivist_rmk?.length }} /
              {{ fond_width['archivist_rmk'] }}</mat-hint
            >
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field class="full-width">
            <textarea
              autocomplete="nope"
              name="descrip_date"
              id="descrip_date"
              rows="2"
              matInput
              placeholder="Дата(ы) описания"
              formControlName="descrip_date"
              [maxLength]="fond_width['descrip_date']"
            ></textarea>
            <mat-hint align="end"
              >{{ fondForm?.value?.descrip_date?.length }} /
              {{ fond_width['descrip_date'] }}</mat-hint
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-3" *ngIf="intType === 'editdoc'">
        <table class="table">
          <thead>
            <tr>
              <th [style.width]="'150px'">Опись</th>
              <th>Название</th>
              <th>Трудоемкость сканирования</th>
              <th>Трудоемкость описания</th>
              <th [style.width]="'50px'">
                <button
                  type="button"
                  class="float-right"
                  mat-mini-fab
                  [disabled]="viewOnly"
                  color="primary"
                  (click)="onAddOpis()"
                  [style.margin-bottom]="'-8px'"
                  [style.margin-top]="'-8px'"
                >
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let opisItem of opisItems; let i = index"
              [ngClass]="{
                colorGray: opisItem.finished === false,
                colorBlack: opisItem.finished === true
              }"
            >
              <td (click)="onLinkOpis(opisItem.id)">
                {{ opisItem.opis_name }}
              </td>
              <td (click)="onLinkOpis(opisItem.id)">
                {{ opisItem.name }}
              </td>
              <td (click)="onLinkOpis(opisItem.id)">
                {{ opisItem.trudindex_scann }}
              </td>
              <td (click)="onLinkOpis(opisItem.id)">
                {{ opisItem.trudindex }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" *ngIf="selectedArchivefolderfiles?.length > 0">
        <div
          class="col-md-6 col-lg-4 col-xl-4 col-12"
          *ngFor="
            let selectedArchivefolderfile of selectedArchivefolderfiles;
            let i = index
          "
          [style.margin-top]="'5px'"
        >
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="selectedArchivefolderfile.checkToDel == false"
          >
            <div ngbDropdown>
              <a
                class="float-right dropdown-toggle download"
                id="id02"
                ngbDropdownToggle
                ><small>{{
                  selectedArchivefolderfile.fondfile.filename
                }}</small></a
              >
              <div
                class="dropdown-menu"
                aria-labelledby="id02"
                ngbDropdownMenu
                [style.min-width]="'100px'"
              >
                <a
                  class="dropdown-item"
                  (click)="
                    onDownloadArchivefolderfile(selectedArchivefolderfile?.id)
                  "
                >
                  Скачать
                </a>
                <a
                  class="dropdown-item"
                  (click)="
                    onShowImg(
                      selectedArchivefolderfile?.id,
                      selectedArchivefolderfile
                    )
                  "
                  *ngIf="
                    globalService.isPdftype(
                      selectedArchivefolderfile.fondfile.filename
                    )
                  "
                >
                  Открыть
                </a>
                <a
                  class="dropdown-item btn disabled"
                  *ngIf="
                    !globalService.isPdftype(
                      selectedArchivefolderfile.fondfile.filename
                    )
                  "
                >
                  Открыть
                </a>
                <a
                  class="dropdown-item"
                  (click)="copyFilename(selectedArchivefolderfile)"
                >
                  Скопировать название файла
                </a>
                <a
                  class="dropdown-item"
                  *ngIf="!viewOnly"
                  (click)="
                    onRenameFile(
                      selectedArchivefolderfile?.id,
                      selectedArchivefolderfile.fondfile.filename
                    )
                  "
                >
                  Переименовать
                </a>
              </div>
            </div>
            <span
              class="badge badge-light badge-pill"
              (click)="toggleCheckToDel(i)"
              *ngIf="!viewOnly"
              matTooltip="Пометить на удаление"
            >
              <i class="fa fa-ban" aria-hidden="true"></i>
            </span>
          </div>
          <div
            class="list-group-item d-flex justify-content-between align-items-center"
            *ngIf="selectedArchivefolderfile.checkToDel == true"
            [style.text-decoration]="'line-through'"
          >
            <span class="download">{{
              selectedArchivefolderfile.fondfile.filename
            }}</span>
            <span
              class="badge badge-light badge-pill"
              (click)="toggleCheckToDel(i)"
              matTooltip="Снять пометку на удаление"
            >
              <i class="fa fa-check" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2">
        <div
          class="dropzone"
          appFiledrop
          (click)="onOpenFilesInput()"
          (filesChangeEmiter)="onFilesChange($event)"
          [allowed_extensions]="allowedExtensions"
        >
          <div class="text-wrapper">
            <div class="centered">
              <p>Для загрузки доступны:</p>
              <p>
                *.jpg, *.jpeg, *.png, *.bmp, *.gif, *.pdf, *.tiff, *.doc,
                *.docx, *.xls, *.xlsx
              </p>
            </div>
          </div>
        </div>
        <input
          type="file"
          accept=".jpg, .png, .gif, .bmp', .jpeg, .pdf, .tiff, .tif, .doc, .docx, .JPG, .PNG, .GIF, .BMP', .JPEG, .PDF, .TIFF, .TIF, .DOC, .DOCX, .xls, .xlsx, .XLS, .XLSX"
          multiple
          class="form-control"
          placeholder=""
          (change)="onFilesChangeInput($event)"
          [style.display]="'none'"
          #filesInput
        />
      </div>
      <div class="row" *ngIf="files?.length > 0">
        <div
          class="col-md-8 col-lg-8 col-xl-8 col-12"
          [style.margin-bottom]="'5px'"
        >
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let file of files; let i = index"
            >
              {{ file.name }}
              <span
                class="badge badge-danger badge-pill"
                (click)="onDelFileById(i)"
              >
                <i class="fa fa-ban" aria-hidden="true"></i>
              </span>
            </li>
          </ul>
        </div>
        <div
          class="col-md-4 col-lg-4 col-xl-4 col-12"
          [style.margin-bottom]="'10px'"
        >
          <button
            matTooltip="Очистить список"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDelFiles()"
          >
            <i class="fa fa-ban" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <hr />
      <div class="col-12" *ngIf="intType !== 'myprofile'">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSaveFondForm()"
          [disabled]="fondForm.invalid"
        >
          Сохранить
        </button>
        <button
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          class="btn-pict"
          matTooltip="Удалить фонд"
          [disabled]="viewOnly"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDelFond()"
          [style.margin-left]="'5px'"
          *ngIf="intType === 'editdoc'"
        >
          <i class="fa fa-fw fa-ban"></i>
        </button>
      </div>
    </form>
  </div>
</mat-card>
