/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-sidenav-container,
.mat-sidenav-content,
.mat-tab-body-content {
  transform: none !important;
}

.full-width {
  width: 100%;
}

.filter-option>.mat-pseudo-checkbox {
  display: none !important;
}

.btn-pict {
  min-width: 20px !important;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li+li:before {
  content: ' > ';
  color: white;
}

.breadcrumb {
  background-color: #fff;
  padding: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 20px !important;
  /* font-size: 14px; */
}

.breadcrumb a {
  color: #3a4651;
}

.breadcrumb a:hover {
  color: #2d363f;
}

.breadcrumb span {
  color: #282828;
}

tbody tr {
  cursor: pointer;
}

tbody tr:hover {
  color: #3f51b5;
}

.app-dialog-extend {
  width: 90%;
}

.dialog-base {
  padding-bottom: 15px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.myspiner /deep/ .black-overlay,
.la-ball-scale-multiple,
.loading-text {
  position: fixed !important;
}

.mat-checkbox-layout {
  white-space: normal !important;
  overflow-wrap: break-word !important;
  word-break: break-word !important;
}
