<h1 mat-dialog-title>
  <small *ngIf="data?.file?.archivefile?.filename">{{
    data.file.archivefile.filename
  }}</small>
  <small *ngIf="data?.file?.fondfile?.filename">{{
    data.file.fondfile.filename
  }}</small>
  <small *ngIf="data?.file?.opisfile?.filename">{{
    data.file.opisfile.filename
  }}</small>
</h1>
<div mat-dialog-content>
  <div>
    <pdf-viewer
      *ngIf="src"
      [src]="src"
      [render-text]="true"
      style="display: block"
    ></pdf-viewer>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Закрыть</button>
</div>
