<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <span *ngFor="let file of data?.files">{{ file.name }} <br /> </span>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>
