<mat-card>
  <div class="row">
    <div class="col-8">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фильтр"
          [(ngModel)]="searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchStr = ''; updateData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button
        class="float-right"
        mat-fab
        color="primary"
        (click)="onAddNation()"
      >
        +
        <i class="fa fa-users" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Код</th>
          <th id="nation">Национальность</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let nation of nations | nattFilter: searchStr | slice: start:end;
            let i = index
          "
        >
          <td (click)="onEditNation(nation.id)">{{ nation.id }}</td>
          <td (click)="onEditNation(nation.id)">{{ nation.nation }}</td>
          <td (click)="onEditNation(nation.id)" id="nation">
            {{ nation.nation_rmk }}
          </td>
          <!-- <td>
						<button class="float-right btn-edit" mat-raised-button (click)="onEditNation(nation.id)" [innerHTML]="aditStr"></button>
					</td> -->
        </tr>
      </tbody>
    </table>
    <!-- <div class="col float-right">
      <mat-paginator
        class="float-right"
        [length]="(nations | nattFilter: searchStr)?.length"
        [pageIndex]="pageEvent?.pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = setPageSizeOptions($event)"
        #paginator
      >
      </mat-paginator>
    </div> -->
    <div
      class="col-12 float-right"
      *ngIf="(nations | nattFilter: searchStr)?.length > limit"
    >
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="page"
        [perPage]="limit"
        [count]="(nations | nattFilter: searchStr)?.length"
      ></app-pagination>
    </div>
  </div>
</mat-card>
