@media (max-width: 770px) {
  #delo_extra {
    display: none;
  }
  #delo {
    display: none;
  }
  #opis {
    display: none;
  }
}
.progress-bar {
  position: fixed;
  top: 100px;
  left: 260px;
  right: 50px;
  background: RGBA(0, 0, 0, 0);
  color: #000;
}
@media (max-width: 991px) {
  .progress-bar {
    left: 90px;
  }
}
