<mat-card>
  <div class="row">
    <div class="col-10">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Найти"
          autocomplete="s_searchStr"
          name="s_searchStr"
          id="s_searchStr"
          [(ngModel)]="searchStr"
          (keyup.enter)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchStr = ''"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button
        [disabled]="searchStr == null || searchStr.length === 0"
        class="float-right"
        mat-fab
        color="primary"
        (click)="updateData()"
      >
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <ng-container *ngFor="let result of results">
      <div class="col-12 mt-3">
        <h2>{{ result?.table }}:</h2>
      </div>
      <div class="col-12 mt-3">
        <ng-container *ngFor="let field of result?.fields; let last = last">
          <a (click)="onSetFilter(field)">{{ field.fname }}</a>
          <span class="mr-2 ml-2" *ngIf="!last">|</span>
        </ng-container>
      </div>
    </ng-container>
  </div>
</mat-card>
