.btn-edit {
  min-height: 30px !important;
  min-width: 46px !important;
  line-height: 0px;
  margin-top: -3px !important;
}
tbody tr {
  cursor: pointer;
}
tbody tr:hover {
  color: #3f51b5;
}
h2 {
  font-size: 16px;
}
