<mat-card>
  <div class="row">
    <div class="col-8">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Фильтр"
          [(ngModel)]="filterService.opisListFilter.searchStr"
          (input)="updateData()"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="filterService.opisListFilter.searchStr = ''; updateData()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </mat-form-field>
    </div>
    <div class="col-4">
      <button
        class="float-right"
        mat-fab
        color="primary"
        (click)="onAddOpisitem()"
      >
        +
        <i class="fa fa-list" aria-hidden="true"></i>
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Фонд</th>
          <th>Опись</th>
          <th id="trudindex">Трудоемкость</th>
          <th id="trudindex_scann">Трудоемкость сканирования</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let opisItem of opisItems
              | opisitemsFilter: filterService.opisListFilter.searchStr
              | slice: start:end;
            let i = index
          "
          [ngClass]="{
            colorGray: opisItem.finished === false,
            colorBlack: opisItem.finished === true
          }"
        >
          <td (click)="onEditOpisitem(opisItem.id)">{{ opisItem.id }}</td>
          <td (click)="onEditOpisitem(opisItem.id)">{{ opisItem.fond }}</td>
          <td (click)="onEditOpisitem(opisItem.id)">
            {{ opisItem.opis_name }}
          </td>
          <td (click)="onEditOpisitem(opisItem.id)" id="trudindex">
            {{ opisItem.trudindex | number }}
          </td>
          <td (click)="onEditOpisitem(opisItem.id)" id="trudindex_scann">
            {{ opisItem.trudindex_scann | number }}
          </td>
          <!-- <td>
						<button class="float-right btn-edit" mat-raised-button (click)="onEditOpisitem(opisItem.id)" [innerHTML]="aditStr"></button>
					</td> -->
        </tr>
      </tbody>
    </table>
    <!-- <div class="col float-right">
      <mat-paginator
        class="float-right"
        [length]="(opisItems | opisitemsFilter: searchStr)?.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = setPageSizeOptions($event)"
        [pageIndex]="pageEvent?.pageIndex"
        #paginator
      >
      </mat-paginator>
    </div> -->
    <div
      class="col-12 float-right"
      *ngIf="
        (opisItems | opisitemsFilter: filterService.opisListFilter.searchStr)
          ?.length > limit
      "
    >
      <app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        (goNext10)="onNext10($event)"
        (goPrev10)="onPrev10($event)"
        [pagesToShow]="3"
        [page]="filterService.opisListFilter.page"
        [perPage]="limit"
        [count]="
          (opisItems | opisitemsFilter: filterService.opisListFilter.searchStr)
            ?.length
        "
      ></app-pagination>
    </div>
  </div>
</mat-card>
