<div class="float-right" *ngIf="count > 0">
  <!-- <div class="description">
    <span class="page-counts">{{ getMin() }} - {{ getMax() }} of {{ count }}</span>
    <span class="page-totals">{{ totalPages() }} pages</span>
  </div> -->
  <div class="numbers">
    <button
      type="button"
      class="btn btn-light mr-2"
      (click)="onPrev()"
      [disabled]="page === 1 || loading"
      [ngClass]="{ disabled: page === 1 || loading }"
    >
      В начало
    </button>
    <button
      title="100 страниц назад"
      *ngIf="totalPages() > 100"
      type="button"
      class="btn btn-light mr-2"
      (click)="onPrev10(10)"
      [disabled]="page < 100 || loading"
      [ngClass]="{ disabled: page < 100 || loading }"
    >
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>100
    </button>
    <button
      title="10 страниц назад"
      *ngIf="totalPages() > 10"
      type="button"
      class="btn btn-light mr-2"
      (click)="onPrev10()"
      [disabled]="page < 10 || loading"
      [ngClass]="{ disabled: page < 10 || loading }"
    >
      <i class="fa fa-angle-double-left" aria-hidden="true"></i>10
    </button>
    <ng-container
      *ngFor="let pageNum of getPages(); let i = index; let last = last"
    >
      <button
        type="button"
        class="btn btn-light"
        (click)="onPage(pageNum)"
        [ngClass]="{ active: pageNum === page, disabled: loading }"
      >
        {{ pageNum }}
      </button>
      <ng-container *ngIf="last && pageNum < totalPages()">
        ...
        <button
          type="button"
          class="btn btn-light"
          (click)="final = true; onPage(totalPages())"
        >
          {{ totalPages() }}
        </button>
      </ng-container>
    </ng-container>
    <button
      title="10 страниц вперед"
      *ngIf="totalPages() > 10"
      type="button"
      class="btn btn-light ml-2"
      (click)="onNext10()"
      [disabled]="totalPages() - page < 10 || loading"
      [ngClass]="{ disabled: totalPages() - page < 10 || loading }"
    >
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>10
    </button>
    <button
      title="100 страниц вперед"
      *ngIf="totalPages() > 100"
      type="button"
      class="btn btn-light ml-2"
      (click)="onNext10(10)"
      [disabled]="totalPages() - page < 100 || loading"
      [ngClass]="{ disabled: totalPages() - page < 100 || loading }"
    >
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>100
    </button>
    <!-- <button
      type="button"
      class="btn btn-light ml-2"
      (click)="onNext(true)"
      [disabled]="lastPage() || loading"
      [ngClass]="{ disabled: lastPage() || loading }"
    >
      дальше
    </button> -->
  </div>
</div>
