<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input
      matInput
      autocomplete="setstr"
      name="setstr"
      id="setstr"
      [(ngModel)]="data.str"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="data.str"
    [disabled]="data.str == null || data.str == ''"
  >
    <ng-container *ngIf="data?.savestr">{{ data?.savestr }}</ng-container
    ><ng-container *ngIf="!data?.savestr">Сохранить</ng-container>
  </button>
  <button mat-button (click)="onNoClick()">Отмена</button>
</div>
