<aside class="sidebar">
  <div class="sidebar-container">
    <nav class="menu">
      <div [style.max-height]="'100vh'" [style.overflow-y]="'auto'">
        <ng-container
          *ngIf="
            menuArchives?.length +
              menuDocuments?.length +
              menuAdmin?.length +
              menuPersonals?.length >
            0
          "
        >
          <ul class="nav metismenu">
            <ng-container *ngIf="menuArchives?.length > 0">
              <li>
                <a
                  class="menu-title"
                  (click)="menuArchivesOpened = !menuArchivesOpened"
                  >Дела
                  <i
                    [style.float]="'right'"
                    [style.margin-top]="'3px'"
                    [style.margin-left]="'25px'"
                    class="fa fa-{{ menuArchivesOpened ? 'minus' : 'plus' }}"
                  ></i
                ></a>
              </li>
              <ng-container *ngIf="menuArchivesOpened">
                <ng-container *ngFor="let menu of menuArchives">
                  <!-- <li routerLinkActive="active"> -->
                  <li
                    [ngClass]="{
                      active: isActive(menu.avialibleLinks)
                    }"
                  >
                    <a [routerLink]="[menu.modulLink, menu.link]">
                      <!-- <a (click)="onLink(menu.modulLink, menu.link)"> -->
                      {{ menu.text }}
                      <i
                        [style.float]="'right'"
                        [style.margin-top]="'3px'"
                        [style.margin-left]="'25px'"
                        class="fa fa-fw {{ menu.icon }}"
                      ></i>
                    </a>
                  </li>
                </ng-container>
                <hr />
              </ng-container>
            </ng-container>
            <ng-container *ngIf="menuDocuments?.length > 0">
              <!-- <li>
                <a 
                  class="menu-title"
                  (click)="menuDocumentsOpened = !menuDocumentsOpened"
                  >Документы
                  <i
                    [style.float]="'right'"
                    [style.margin-top]="'3px'"
                    [style.margin-left]="'25px'"
                    class="fa fa-{{ menuDocumentsOpened ? 'minus' : 'plus' }}"
                  ></i
                ></a>
              </li> -->
              <ng-container *ngIf="menuDocumentsOpened">
                <ng-container *ngFor="let menu of menuDocuments">
                  <!-- <li routerLinkActive="active"> -->
                  <li
                    [ngClass]="{
                      active: isActive(menu.avialibleLinks)
                    }"
                  >
                    <a [routerLink]="[menu.modulLink, menu.link]">
                      {{ menu.text }}
                      <i
                        [style.float]="'right'"
                        [style.margin-top]="'3px'"
                        [style.margin-left]="'25px'"
                        class="fa fa-fw {{ menu.icon }}"
                      ></i>
                    </a>
                  </li>
                </ng-container>
                <hr />
              </ng-container>
            </ng-container>
            <ng-container *ngIf="menuPersonals?.length > 0">
              <li>
                <a
                  class="menu-title"
                  (click)="menuPersonalsOpened = !menuPersonalsOpened"
                  >Персоналии
                  <i
                    [style.float]="'right'"
                    [style.margin-top]="'3px'"
                    [style.margin-left]="'25px'"
                    class="fa fa-{{ menuPersonalsOpened ? 'minus' : 'plus' }}"
                  ></i
                ></a>
              </li>
              <ng-container *ngIf="menuPersonalsOpened">
                <li routerLinkActive="active">
                  <ng-container *ngIf="pinPersonal; else elseTemplate">
                    <a [routerLink]="[card.modulLink, card.link]">
                      {{ card.text }}
                      <i
                        [style.float]="'right'"
                        [style.margin-top]="'3px'"
                        [style.margin-left]="'25px'"
                        class="fa fa-fw {{ card.icon }}"
                      ></i>
                    </a>
                  </ng-container>
                  <ng-template #elseTemplate>
                    <a class="disabled">
                      {{ card.text }}
                      <i
                        [style.float]="'right'"
                        [style.margin-top]="'3px'"
                        [style.margin-left]="'25px'"
                        class="fa fa-fw {{ card.icon }}"
                      ></i>
                    </a>
                  </ng-template>
                </li>

                <ng-container *ngFor="let menu of menuPersonals">
                  <!-- <li routerLinkActive="active"> -->
                  <li
                    [ngClass]="{
                      active: isActive(menu.avialibleLinks)
                    }"
                  >
                    <a [routerLink]="[menu.modulLink, menu.link]">
                      {{ menu.text }}
                      <i
                        [style.float]="'right'"
                        [style.margin-top]="'3px'"
                        [style.margin-left]="'25px'"
                        class="fa fa-fw {{ menu.icon }}"
                      ></i>
                    </a>
                  </li>
                </ng-container>
                <hr />
              </ng-container>
            </ng-container>
            <ng-container *ngIf="menuAdmin?.length > 0">
              <li>
                <a
                  class="menu-title"
                  (click)="menuAdminOpened = !menuAdminOpened"
                  >Администратор
                  <i
                    [style.float]="'right'"
                    [style.margin-top]="'3px'"
                    [style.margin-left]="'25px'"
                    class="fa fa-{{ menuAdminOpened ? 'minus' : 'plus' }}"
                  ></i
                ></a>
              </li>
              <ng-container *ngIf="menuAdminOpened">
                <ng-container *ngFor="let menu of menuAdmin">
                  <!-- <li routerLinkActive="active"> -->
                  <li
                    [ngClass]="{
                      active: isActive(menu.avialibleLinks)
                    }"
                  >
                    <a [routerLink]="[menu.modulLink, menu.link]">
                      {{ menu.text }}
                      <i
                        [style.float]="'right'"
                        [style.margin-top]="'3px'"
                        [style.margin-left]="'25px'"
                        class="fa fa-fw {{ menu.icon }}"
                      ></i>
                    </a>
                  </li>
                </ng-container>
                <hr />
              </ng-container>
            </ng-container>
            <hr *ngIf="loadedStr?.length > 0" />
            <span
              class="ml-1"
              [style.color]="'white'"
              *ngIf="loadedStr?.length > 0"
              >{{ loadedStr }}</span
            >
          </ul>
        </ng-container>
      </div>
    </nav>
  </div>
</aside>
