hr {
  background-color: RGBA(175, 175, 175, 1);
  height: 2px;
  width: 100%;
  border: 0;
}

.titlemark {
  color: #000;
  font-weight: 600;
  /* background: #fff; */
}

/* @media (max-width: 680px) {
	#code {
		display: none;
	}
} */
@media (max-width: 830px) {
  #name {
    display: none;
  }

  #mpt {
    display: none;
  }
}

@media (max-width: 450px) {
  #start {
    display: none;
  }

  #mname {
    display: none;
  }
}

@media (max-width: 520px) {
  #end {
    display: none;
  }

  #mcode {
    display: none;
  }
}

.btn-edit {
  min-height: 30px !important;
  min-width: 46px !important;
  line-height: 0px;
  margin-top: -3px !important;
}

.table,
.tdummy {
  width: 100%;
}

/* .example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
} */

.example-list {
  /* border: solid 1px #ccc; */
  margin-top: -10px;
  min-height: 60px;
  background: white;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  font-size: 14px;
}

.example-handle {
  cursor: move;
  z-index: 100;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* .container {
  margin: 0;
  padding: 0;
  width: 100%;
} */
.download {
  /* cursor: pointer !important; */
  color: #3f51b5 !important;
  overflow-wrap: break-word !important;
  /* не поддерживает IE, Firefox; является копией word-wrap */
  word-wrap: break-word !important;
  word-break: break-all !important;
  max-width: 100%;
}
