<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-12">
      <mat-form-field class="full-width">
        <mat-select placeholder="Оставить" [(ngModel)]="data.stay_id">
          <mat-option [value]="null"> </mat-option>
          <mat-option *ngFor="let item of data?.list1" [value]="item.id">
            {{ item.name_ent
            }}<ng-container *ngIf="item.name_rmk?.length > 0"
              >&nbsp;({{ item.name_rmk }})</ng-container
            >
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="full-width">
        <mat-select placeholder="Удалить" [(ngModel)]="data.del_id">
          <mat-option [value]="null"> </mat-option>
          <mat-option *ngFor="let item of data?.list2" [value]="item.id">
            {{ item.name_ent
            }}<ng-container *ngIf="item.name_rmk?.length > 0"
              >&nbsp;({{ item.name_rmk }})</ng-container
            >
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button
    mat-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    [disabled]="
      data.stay_id == null ||
      data.del_id == null ||
      data.stay_id === data.del_id
    "
  >
    Сохранить
  </button>
  <button mat-button [mat-dialog-close]="null">Отмена</button>
</div>
