<div class="dialog-base">
  <div mat-dialog-content>
    <form [formGroup]="personaltForm" class="full-width">
      <div class="row">
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-slide-toggle
            [style.margin]="'15px 0 15px 0'"
            formControlName="type_r"
          >
            Репрессированный
          </mat-slide-toggle>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-slide-toggle
            [style.margin]="'15px 0 15px 0'"
            formControlName="type_i"
          >
            Информант
          </mat-slide-toggle>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-slide-toggle
            [style.margin]="'15px 0 15px 0'"
            formControlName="type_a"
          >
            Пособник
          </mat-slide-toggle>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-3 col-12">
          <mat-slide-toggle
            [style.margin]="'15px 0 15px 0'"
            formControlName="mark"
          >
            Ссылка на человека
          </mat-slide-toggle>
        </div>
        <div class="col-12">
          <mat-form-field>
            <mat-select placeholder="Пол" formControlName="sex">
              <mat-option *ngFor="let item of sex" [value]="item.key">
                {{ item.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field>
            <input
              autocomplete="nope"
              name="birth_begin_end"
              id="birth_begin_end"
              type="text"
              matInput
              placeholder="Дата рождения"
              formControlName="birth_begin_end"
              (blur)="
                dateparseService.getSour_date(
                  personaltForm,
                  'birth_begin_end',
                  'birth_begin',
                  'birth_end'
                )
              "
            />
          </mat-form-field>
          <!-- <mat-form-field>
            <input
              autocomplete="nope"
              name="birth"
              id="birth"
              matInput
              [matDatepicker]="pickerbirth"
              placeholder="Дата рождения"
              formControlName="birth"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerbirth"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerbirth startView="year"></mat-datepicker>
            <button
              type="button"
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="resetBirth()"
            >
              x
            </button>
          </mat-form-field> -->
        </div>
        <div class="col-md-6 col-lg-8 col-xl-8 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="birth_rmk"
              id="birth_rmk"
              type="text"
              matInput
              placeholder="Комментарий к дате рождения"
              formControlName="birth_rmk"
              [maxLength]="personalT_width['birth_rmk']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="surname"
              id="surname"
              type="text"
              matInput
              placeholder="Фамилия"
              formControlName="surname"
              [maxLength]="personalT_width['surname']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="fname"
              id="fname"
              type="text"
              matInput
              placeholder="Имя"
              formControlName="fname"
              [maxLength]="personalT_width['fname']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="lname"
              id="lname"
              type="text"
              matInput
              placeholder="Отчество"
              formControlName="lname"
              [maxLength]="personalT_width['lname']"
            />
          </mat-form-field>
        </div>
        <div class="col-12 mt-3">
          <mat-form-field class="full-width">
            <input
              autocomplete="nope"
              name="surname_rmk"
              id="surname_rmk"
              type="text"
              matInput
              placeholder="Общий комментарий"
              formControlName="surname_rmk"
              [maxLength]="personalT_width['surname_rmk']"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onSave()">Сохранить</button>
    <button mat-button [mat-dialog-close]="false">Отмена</button>
  </div>
</div>
