<mat-card>
  <div class="row">
    <div class="col-12 mb-2">
      <mat-form-field class="full-width">
        <input type="text" autocomplete="nope" name="filename" id="filename" matInput placeholder="Имя файла"
          [(ngModel)]="filename">
      </mat-form-field>
    </div>
    <div class="col-12">
      <button mat-button color="primary" (click)="rotateLeft()"><i class="fa fa-undo" aria-hidden="true"></i></button>
      <button mat-button color="primary" (click)="rotateRight()"><i class="fa fa-repeat"
          aria-hidden="true"></i></button>
      <button mat-button color="primary" (click)="flipHorizontal()">Отразить по горизонтали</button>
      <button mat-button color="primary" (click)="flipVertical()">Отразить по вертикали</button>
      <!-- <mat-radio-group [(ngModel)]="aspectRatio">
        <mat-radio-button value="4/3">4 : 3</mat-radio-button>
        <mat-radio-button class="ml-2" value="2/1">2 : 1</mat-radio-button>
      </mat-radio-group> -->
    </div>
    <div class="col-12" *ngIf="show === true">
      <image-cropper [style.max-height]="maxHeight + 'px'" [imageBase64]="imgfile" [maintainAspectRatio]="false"
        format="jpg" outputType="file" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
    </div>
    <div class="col-12">
      <!-- <img [src]="croppedImage" /> -->

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="button" mat-raised-button color="primary" (click)="onSave()">Сохранить</button>
      <button type="button" mat-raised-button color="primary" [style.margin-left]="'5px'"
        (click)="onGoback()">Назад</button>
    </div>
  </div>
</mat-card>