<mat-card>
  <div class="container">
    <form [formGroup]="nationForm" class="full-width">
      <div class="row">
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              autocomplete="nope"
              name="nation"
              id="nation"
              matInput
              placeholder="Код"
              formControlName="nation"
              [maxLength]="natT_width['nation']"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-4 col-12">
          <mat-form-field class="full-width">
            <input
              type="text"
              autocomplete="nope"
              name="nation_rmk"
              id="nation_rmk"
              matInput
              placeholder="Национальность"
              formControlName="nation_rmk"
              [maxLength]="natT_width['nation_rmk']"
            />
          </mat-form-field>
        </div>
      </div>
      <hr />
      <div class="col-12" *ngIf="intType !== 'myprofile'">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="onSaveNationForm()"
          [disabled]="nationForm.invalid"
        >
          Сохранить
        </button>
        <button
          class="btn-pict"
          matTooltip="Обновить"
          type="button"
          mat-raised-button
          (click)="getData()"
          [style.margin-left]="'5px'"
        >
          <i class="fa fa-fw fa-refresh"></i>
        </button>
        <button
          class="btn-pict"
          matTooltip="Удалить нициональность"
          type="button"
          mat-raised-button
          color="warn"
          (click)="onDelNation()"
          [style.margin-left]="'5px'"
          *ngIf="intType === 'editdoc'"
        >
          <i class="fa fa-fw fa-ban"></i>
        </button>
      </div>
    </form>
  </div>
</mat-card>
